Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix: replace panicking unwrap() calls in chunk restorer with proper error handling (#597)
  merk/src/merk/restore.rs
Due: Merk

test: add coverage for batch DeleteTree cleanup, emptiness checks, and InsertIfNotExists
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

test: add direct unit tests for all four proof depth limit error paths
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

docs: document intentional panic in Link::Modified hash/aggregate_data (M1)
  merk/src/tree/link.rs
Due: Merk

docs: document intentional panic in Link::Modified hash/aggregate_data (M1) (#609)
  merk/src/tree/link.rs
Due: Merk

fix: add depth limit to proof generation and verification to prevent stack overflow DoS (H3) (#598)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

fix: add cycle detection to aggregate sum query reference following (#601)
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
Due: GroveDB Core

fix: return error instead of silently discarding writes when batch is None (#604)
  merk/src/element/get.rs
  merk/src/merk/mod.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/tests.rs
Due: Merk, Storage

fix: lower MAX_QUERY_ITEMS from 262_144 to 65_536
  grovedb-query/src/query.rs
Due: none

fix: cap Query.items deserialization to prevent memory exhaustion DoS (H4) (#596)
  grovedb-query/src/query.rs
Due: none

docs: add security notes for ProveOptions, consistency check, and atomicity (L4, L6, L7) (#608)
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

docs: document add_parent_tree_on_subquery limit bypass as known issue (M6)
  grovedb-query/src/query.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

docs: remove audit references from comments
  grovedb-query/src/query.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

docs: document intentional fixed-size encoding_cost for fee consistency
  merk/src/tree/link.rs
Due: Merk

docs: note absence-proof behavior for add_parent_tree_on_subquery
  grovedb-query/src/query.rs
Due: none

docs: document intentional fixed-size encoding_cost for fee consistency (#611)
  merk/src/tree/link.rs
Due: Merk

docs: document add_parent_tree_on_subquery limit bypass (M6) (#610)
  grovedb-query/src/query.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

fix: batch DeleteTree now enforces emptiness check and cleans up subtree storage (H1, H2) (#599)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: enforce depth limit during proof deserialization to prevent stack overflow
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

fix: enforce depth limit during Query/SubqueryBranch deserialization
  grovedb-query/src/query.rs
  grovedb-query/src/subquery_branch.rs
Due: none

docs: document emptiness check limitation for same-batch inserts
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
Due: GroveDB Core

docs: document cross-type aggregate safety and add debug assertions
  merk/src/tree/mod.rs
Due: Merk

docs: document find_subtrees stale-state limitation in batch delete
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/operations/auxiliary.rs
Due: GroveDB Core

docs: document non-atomic delete cost computation as known limitation
  merk/src/merk/clear.rs
  merk/src/merk/meta.rs
  merk/src/merk/mod.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: Merk, Storage

docs: document single-writer transaction requirement for GroveDb
  grovedb/src/lib.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage

fix: use saturating_add to prevent integer overflow in RangeAfter proof generation
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

docs: document chunk restore height placeholder safety (#15)
  merk/src/merk/restore.rs
  merk/src/proofs/tree.rs
Due: Merk

fix: validate add-on operations consistency in apply_partial_batch
  grovedb/src/batch/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_consistency_tests.rs
Due: GroveDB Core

fix: eliminate Owner poisoning in own_result by requiring value recovery on error
  merk/src/owner.rs
  merk/src/tree/mod.rs
Due: Merk

fix: enforce InsertIfNotExists existence check for Tree and Reference elements
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: indent doc continuation line to fix clippy doc_lazy_continuation
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: add children count validation during proof deserialization
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

fix: suppress clippy result_large_err for ownership-recovery error pattern
  merk/src/tree/mod.rs
Due: Merk

docs: document emptiness check limitation for same-batch inserts (#615)
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
Due: GroveDB Core

fix: use saturating_add to prevent integer overflow in RangeAfter proof generation (#618)
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

docs: document chunk restore height placeholder safety (#15) (#619)
  merk/src/merk/restore.rs
  merk/src/proofs/tree.rs
Due: Merk

fix: enforce InsertIfNotExists existence check for Tree and Reference elements (#623)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

docs: document single-writer transaction requirement for GroveDb (#617)
  grovedb/src/lib.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage

fix: validate add-on operations consistency in apply_partial_batch (#622)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_consistency_tests.rs
Due: GroveDB Core

fix: suppress result_large_err on Walker methods using own_result closures
  merk/src/tree/walk/mod.rs
Due: Merk
