Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix(version): gate the terminal non-Merk tree child hash behind GROVE_V4
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

refactor(grovedb): make the terminal non-Merk tree gate a file-versioned function
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/mod.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v0.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

perf(grovedb): drop the unused version arg and stop hashing on the bind hot path
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/mod.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v0.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
Due: GroveDB Core

fix(grovedb): bind terminal non-Merk tree element bytes to the parent value_hash (#782)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/mod.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v0.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test: prove state sync fails on populated append-only (non-Merk) trees
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(bulk-append-tree): chunk-aligned paginated range reads with proof helpers
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree, BulkAppendTree

fix(grovedb): chain empty BulkAppendTree V1 lower layers through NULL_HASH
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

feat(grovedb): paginated position-range reads and proofs for append-only trees
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core

test(grovedb): add paged-scan benchmark for bulk position-range reads
  grovedb/Cargo.toml
  grovedb/benches/bulk_range_scan_benchmark.rs
Due: none

fix(replication): reject populated append-only trees up-front in state sync (Phase 0 of #785)
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(private-document-store): add grovedb-private-document-store crate
  Cargo.toml
  grovedb-private-document-store/Cargo.toml
  grovedb-private-document-store/src/error.rs
  grovedb-private-document-store/src/lib.rs
  grovedb-private-document-store/src/store.rs
  grovedb-private-document-store/src/test_utils.rs
Due: none

feat: add PrivateDocumentStore element type, gated to GROVE_V4 (#784)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/Cargo.toml
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/error.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/private_document_store_tests.rs
  merk/src/element/costs.rs
  merk/src/element/delete.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/costs.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

refactor: address CodeRabbit review on paginated range reads
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core, BulkAppendTree

test: cover reachable error paths in paginated range reads
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
Due: GroveDB Core, BulkAppendTree

feat(replication): state sync support for append-only trees via entry replay (Phase 1 of #785)
  grovedb/src/lib.rs
  grovedb/src/replication.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

test: cover the MMR storage-error path in get_range
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
Due: BulkAppendTree

fix: model V4 gated stored-element reads in batch estimated costs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/estimated_costs/mod.rs
Due: GroveDB Core

fix: model V4 gated stored-element reads in batch estimated costs (#789)
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/estimated_costs/mod.rs
Due: GroveDB Core

test(replication): cover non-merk restorer rejection paths and empty-tree round trips
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

refactor(replication): address CodeRabbit review on #788
  grovedb/src/replication.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

test: raise PrivateDocumentStore patch coverage above the 90% codecov bar
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/private_document_store_tests.rs
  merk/src/element/costs.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
Due: GroveDB Core, Merk, Element

fix: charge range-read storage costs and validate completed chunk length
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

fix: address CodeRabbit review on PrivateDocumentStore (PR #787)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/private_document_store_tests.rs
  merk/src/element/insert.rs
  merk/src/merk/apply.rs
Due: GroveDB Core, Merk, Element

fix: make the V4 batch gates zero-cost by reusing already-loaded old elements
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/delete_tree.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/overwrite.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/estimated_costs/mod.rs
  grovedb/src/tests/batch_indexed_overwrite_tests.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  merk/src/lib.rs
  merk/src/merk/apply.rs
  merk/src/test_utils/mod.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
Due: GroveDB Core, Merk

test: cover the pre-scan branches and observer paths the gate rework added
  grovedb/src/tests/batch_delete_tree_tests.rs
  merk/src/tree/ops.rs
Due: GroveDB Core, Merk

docs+test: address review — capture-struct return doc, tighter overwrite asserts
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
Due: GroveDB Core

fix: make the V4 batch gates zero-cost by reusing already-loaded old elements (#790)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/delete_tree.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/overwrite.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/estimated_costs/mod.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/batch_indexed_overwrite_tests.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  merk/src/lib.rs
  merk/src/merk/apply.rs
  merk/src/test_utils/mod.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
Due: GroveDB Core, Merk

feat: count-provable sum-axis secondaries + count-bound offset proofs for all indexed axes
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element_type.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

chore: address CodeRabbit review — canonical secondary tree types in test helpers, full O(log n + k) pagination bound in docs
  grovedb-element/src/element/mod.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

test: cover the rank-of-key and trailing-byte error branches
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
Due: GroveDB Core

fix: PathKeyNotFound for a missing rank-of-key item, per CodeRabbit
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
Due: GroveDB Core

test: direct Avg-axis PCPSIT drift coverage, per CodeRabbit
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

feat: count-provable sum-axis secondaries + count-bound offset proofs for all indexed axes (#791)
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element_type.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

docs: record the counted-skip design for unproved ranked reads
  docs/COUNTED_SKIP_DESIGN.md
Due: none

feat: counted offset skip for unproved ranked paginated reads
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat: report the true skipped count from unproved paginated ranked reads
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

feat: branched indexed-axis proofs — one envelope over N sibling prefix branches
  grovedb/src/operations/proof/indexed_axis/branched.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/tests/indexed_axis_branched_proof_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: compile branched proofs under verify-only builds
  grovedb/src/operations/proof/indexed_axis/branched.rs
Due: GroveDB Core

fix: gate the IndexedTopKPage re-export on minimal, not minimal-or-verify
  grovedb/src/lib.rs
Due: GroveDB Core

test: pin that the unproved skipped equals the proved path's attested skipped
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
Due: GroveDB Core
