Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix(dense): gate root_maintenance on the storage feature
  grovedb-dense-fixed-sized-merkle-tree/src/lib.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/mod.rs
Due: none

test(dense): cover the record-read fault arms of root-maintenance v1
  grovedb-dense-fixed-sized-merkle-tree/src/root_maintenance_tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
Due: none

test(dense): charge the injected record-read fault its seek
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
Due: none

fix(dense): audit roots from values, bound the standalone dense catch-up walk
  docs/book/src/dense-tree.md
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/mod.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/tests/append_family_cost_bound_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_integrity_audit_tests.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

refactor(bulk): name the buffer record mismatch type
  grovedb-bulk-append-tree/src/tree/mod.rs
Due: BulkAppendTree

refactor(bulk): name the buffer record mismatch type (complete)
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-private-document-store/src/store.rs
Due: Commitment Tree, BulkAppendTree

fix(grovedb): finish the BufferRecordMismatch adoption in the verify audit
  grovedb/src/lib.rs
Due: GroveDB Core

feat(append-only): buffer writes as churn, fixed height-derived dense cost model (GROVE_V4)
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  docs/book/src/dense-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/lib.rs
  grovedb-dense-fixed-sized-merkle-tree/src/root_maintenance_tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/root_maintenance/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/root_maintenance/v1.rs
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/dense_tree_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/append_family_cost_bound_tests.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
  grovedb/src/tests/non_merk_integrity_audit_tests.rs
Due: GroveDB Core, BulkAppendTree

docs(dense): review follow-ups — as_chunks, path-record prose, reset accounting note
  docs/book/src/dense-tree.md
  docs/crates/costs.md
  grovedb-dense-fixed-sized-merkle-tree/src/tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree/root_maintenance/mod.rs
Due: none

feat(append-only): amortize compaction into the fixed append model, fixed-price frontier (GROVE_V4)
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/src/commitment_tree/cost/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/commitment_tree_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core, Commitment Tree, MMR, BulkAppendTree

fix(bulk-append): backfill the persisted MMR root on legacy trees, reject wrong-length roots; max compaction share for undeclared layers
  docs/book/src/bulk-append-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
Due: GroveDB Core, BulkAppendTree

fix(bulk-append): bound the amortized compaction hashes per chunk_power, prepay variable-format entry framing, resolve the frontier gate before writing
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

feat(append-only): amortize the compaction's commit-time seeks, prepaid puts carry no seek (GROVE_V4)
  costs/src/storage_cost/key_value_cost.rs
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/batch.rs
  storage/src/rocksdb_storage/tests.rs
Due: GroveDB Core, Storage, MMR, BulkAppendTree

fix(costs): explicit `prepaid` marker on KeyValueStorageCost — a zero-cost Default still pays its seek
  costs/src/storage_cost/key_value_cost.rs
  costs/tests/coverage_regression.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-commitment-tree/src/commitment_tree/cost/mod.rs
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: Merk, Storage, Commitment Tree, MMR, BulkAppendTree

fix(storage): honour the prepaid marker on every costed put variant
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/batch.rs
  storage/src/rocksdb_storage/tests.rs
Due: Storage

feat(append-only): amortize the compaction's commit-time seeks — prepaid puts carry no seek (GROVE_V4) (#830)
  costs/src/storage_cost/key_value_cost.rs
  costs/tests/coverage_regression.rs
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-commitment-tree/src/commitment_tree/cost/mod.rs
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/batch.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree

feat: snapshot-pinned read transactions
  grovedb/src/lib.rs
  grovedb/src/tests/run_path_query_tests.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: GroveDB Core, Storage

fix: generate every proof layer from one snapshot
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

test: prove the generation snapshot deterministically
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

feat: snapshot-pinned read transactions (#831)
  grovedb/src/lib.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: GroveDB Core, Storage

feat: harden snapshot read transactions — refuse writes, expose lifetime, conformance-test the ReadOptions funnel
  grovedb/src/lib.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/snapshot_read_transaction_tests.rs
  grovedb/src/util.rs
  storage/src/error.rs
  storage/src/rocksdb_storage.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
  storage/src/rocksdb_storage/tests.rs
Due: GroveDB Core, Storage

test: cover the long-hold debug warning path
  storage/src/rocksdb_storage/tests.rs
Due: Storage

docs: spell out iff in the snapshot marker doc
  storage/src/rocksdb_storage/storage.rs
Due: Storage

docs: spell out the remaining iff shorthand across comments
  grovedb/src/batch/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  merk/src/proofs/query/aggregate_count/emit.rs
  merk/src/proofs/query/aggregate_count_and_sum/emit.rs
  merk/src/proofs/query/aggregate_sum/emit.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk

fix: expose the savepoint family on the transaction wrapper
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/tests.rs
Due: Storage

feat: harden snapshot read transactions — refuse writes, expose lifetime, conformance-test the ReadOptions funnel (#833)
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/snapshot_read_transaction_tests.rs
  grovedb/src/util.rs
  merk/src/proofs/query/aggregate_count/emit.rs
  merk/src/proofs/query/aggregate_count_and_sum/emit.rs
  merk/src/proofs/query/aggregate_sum/emit.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/tree_type/mod.rs
  storage/src/error.rs
  storage/src/rocksdb_storage.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
  storage/src/rocksdb_storage/tests.rs
Due: GroveDB Core, Merk, Storage

feat: carry the attested skip on PathQueryRun's axis variants
  docs/book/src/unified-path-query.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/tests/axis_read_projection_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

docs: name both axis variants and the exact-end case in the skip contract
  docs/book/src/unified-path-query.md
Due: none

feat: carry the attested skip on PathQueryRun's axis variants (#836)
  docs/book/src/unified-path-query.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/tests/axis_read_projection_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

test: pin the envelope relationship between prove_query and the direct indexed-axis provers (#835)
  grovedb/src/tests/envelope_byte_equality_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

docs(audit): record six verified-rejected findings; correct the #693 invariant
  docs/audit-non-issues.md
Due: none

feat!: retire the standalone indexed-axis provers/verifiers — PathQuery is the only public proof surface
  docs/book/src/count-indexed-tree.md
  docs/book/src/unified-path-query.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
Due: GroveDB Core

feat!: retire the per-axis trusted-read wrappers — run_path_query is the only public read surface
  docs/book/src/count-indexed-tree.md
  docs/book/src/unified-path-query.md
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

feat: re-export AxisQuery / AxisProjection / AxisTraversal at the crate root
  grovedb/src/lib.rs
Due: GroveDB Core

bench: run cidx top-k through the public PathQuery surface
  grovedb/benches/cidx_benchmark.rs
Due: none

test: pin the bounded-over-empty capability divergence
  grovedb/src/tests/envelope_byte_equality_tests.rs
Due: GroveDB Core

feat!: retire the standalone indexed-axis provers/verifiers — PathQuery is the only public proof surface (#839)
  docs/book/src/count-indexed-tree.md
  docs/book/src/unified-path-query.md
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
