Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

feat: support untrusted decoding across GroveDB query types
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/decode.rs
  grovedb-element/src/reference_path/mod.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb-query/src/aggregate_sum_query/mod.rs
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/mod.rs
  grovedb-query/src/read_mode.rs
  grovedb-query/src/subquery_branch.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-query/tests/untrusted_decode.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/query/aggregate_sum_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/path_branch_chunk_query.rs
  grovedb/src/query/path_trunk_chunk_query.rs
  grovedb/tests/untrusted_decode.rs
Due: GroveDB Core, MMR, BulkAppendTree, Element

refactor: separate ordinary and untrusted decode policies
  grovedb-bincode/GROVEDB.md
  grovedb-bincode/src/de/decoder.rs
  grovedb-bincode/src/de/mod.rs
  grovedb-bincode/src/de/untrusted.rs
  grovedb-bincode/src/features/impl_alloc.rs
  grovedb-bincode/src/features/impl_alloc_untrusted.rs
  grovedb-bincode/src/features/impl_std.rs
  grovedb-bincode/src/features/impl_std_untrusted.rs
  grovedb-bincode/src/features/serde/de_borrowed.rs
  grovedb-bincode/src/features/serde/de_owned.rs
  grovedb-bincode/src/features/serde/de_policy.rs
  grovedb-bincode/src/features/serde/mod.rs
  grovedb-bincode/src/features/serde/untrusted.rs
  grovedb-bincode/src/lib.rs
  grovedb-bincode/tests/collection_allocation.rs
  grovedb-bincode/tests/ordinary_decode_compatibility.rs
  grovedb-element/src/element/decode.rs
  grovedb-query/src/axis_query.rs
  grovedb-query/src/decode_collections.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/mod.rs
  grovedb-query/src/read_mode.rs
  grovedb-query/src/subquery_branch.rs
  grovedb-query/tests/untrusted_decode.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core, Element

fix: merge empty subquery paths without panicking
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_empty_paths.rs
Due: none

fix: preserve UTF-8 boundaries in path diagnostics
  grovedb/src/tests/aggregate_count_query_tests.rs
  visualize/src/lib.rs
Due: GroveDB Core

fix: stop malformed proof decoding after the first error
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/tests/proof_formatting.rs
Due: GroveDB Core

fix!: support broad V1 proofs with versioned resource limits
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/tests/proof_breadth.rs
Due: GroveDB Core

fix(merk): mark the proof Decoder wrapper as a fused iterator
  merk/src/proofs/mod.rs
Due: Merk

test(proof): cover the V4 generation-side child layer cap
  grovedb/tests/proof_breadth.rs
Due: none

fix: merge empty subquery paths without panicking (#941)
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_empty_paths.rs
Due: none

refactor(visualize): truncate the preview with floor_char_boundary
  visualize/src/lib.rs
Due: none

refactor(version): rename v1_proof_resource_limits to proof_resource_limits
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

refactor(proof): apply the V1 proof breadth limits unconditionally
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/tests/proof_breadth.rs
Due: GroveDB Core

chore(release): bump GroveDB to 6.0.0 and bincode fork to 2.1.0
  CHANGELOG.md
  Cargo.toml
  README.md
  costs/Cargo.toml
  grovedb-bincode-derive/Cargo.toml
  grovedb-bincode-derive/GROVEDB.md
  grovedb-bincode/Cargo.toml
  grovedb-bincode/GROVEDB.md
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-private-document-store/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

docs: refresh README for GroveDB 6.0
  README.md
Due: none

docs: refresh README for GroveDB 6.0 (#946)
  README.md
Due: none

ci(release): publish every workspace crate in dependency order, idempotently
  .github/workflows/release-crates.yml
Due: none

build!: use published bincode 2.1.0 for Git consumers
  Cargo.toml
Due: none

ci(release): pass the release tag through the environment, restrict permissions
  .github/workflows/release-crates.yml
Due: none

ci(release): publish every workspace crate in dependency order, idempotently (#947)
  .github/workflows/release-crates.yml
Due: none

build!: use published bincode 2.1.0 for Git consumers (#948)
  Cargo.toml
Due: none

fix!: skip non-Merk descendants during recursive discovery
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/auxiliary.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_subtree_discovery_tests.rs
Due: GroveDB Core

refactor: separate subtree discovery version implementations
  AGENTS.md
  grovedb/src/operations/auxiliary.rs
  grovedb/src/operations/auxiliary/find_subtrees/mod.rs
  grovedb/src/operations/auxiliary/find_subtrees/v0.rs
  grovedb/src/operations/auxiliary/find_subtrees/v1.rs
Due: GroveDB Core

fix!: skip non-Merk descendants during recursive discovery (#949)
  AGENTS.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/auxiliary.rs
  grovedb/src/operations/auxiliary/find_subtrees/mod.rs
  grovedb/src/operations/auxiliary/find_subtrees/v0.rs
  grovedb/src/operations/auxiliary/find_subtrees/v1.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_subtree_discovery_tests.rs
Due: GroveDB Core

feat(batch): typed backward-references deletes; rename flag to propagate_backward_references_when_unsure
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  docs/crates/grovedb.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/insert_on_transaction/mod.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/operations_coverage_tests.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

refactor(batch): name the preprocessor's flag parameter after the option it carries
  grovedb/src/batch/backward_references.rs
Due: GroveDB Core

fix(batch): preserve later writes after cascade cleanup
  grovedb/src/batch/backward_references.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

test(batch): cover typed-delete labels, estimation constructors, and per-op-mode branches
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

test(batch): forward batch options as insert options on the without-batching path
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

refactor: reuse existing V4 mutation implementations
  adr/bidirectional_references.md
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/merk_cache.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/ordinary_v3.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v3.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/add_element_on_transaction/v3.rs
  grovedb/src/operations/insert/insert_on_transaction/mod.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/insert/insert_on_transaction/v2.rs
Due: GroveDB Core

fix!: make subtree reference policies explicit
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  docs/crates/grovedb.md
  grovedb-version/src/tests.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/bidirectional_references/mod.rs
  grovedb/src/operations/delete/clear_subtree/mod.rs
  grovedb/src/operations/delete/clear_subtree/v1.rs
  grovedb/src/operations/delete/flat_drop.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
  grovedb/src/tests/clear_append_tree_tests.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/nested_indexed_secondary_cleanup_tests.rs
  grovedb/src/tests/operations_coverage_tests.rs
Due: GroveDB Core

fix(estimation): charge the displaced-participant fan-out only in declared layers
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/tests/append_family_cost_bound_tests.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/delete_cost_estimation_tests.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v0.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v1.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v2.rs
  merk/src/estimated_costs/average_case_costs/mod.rs
  merk/src/estimated_costs/worst_case_costs.rs
Due: GroveDB Core, Merk

refactor(version): gate batch backward-reference maintenance on its own slot
  CHANGELOG.md
  adr/bidirectional_references.md
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core

feat(ci): route PR reviews through the shared ownership policy
  .github/CODEOWNERS
  .github/pr-review-policy.json
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

fix(ci): pin the reviewed policy engine with feedback fixes
  .github/workflows/pr-review-policy.yml
Due: none

ci: read the review policy from dashpay/stale_prs_are_bad
  .github/CODEOWNERS
  .github/pr-review-policy.json
  .github/workflows/pr-review-policy.yml
Due: none

style: import BackwardReferencesPolicy and BatchApplyOptions instead of spelling crate paths inline
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/delete/clear_subtree/v0.rs
  grovedb/src/operations/delete/clear_subtree/v1.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/flat_drop.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/insert/insert_on_transaction/v0.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/clear_append_tree_tests.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/operations_coverage_tests.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

refactor: make batch reference maintenance a method on BackwardReferencesPolicy
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/mod.rs
Due: GroveDB Core

docs: describe reference maintenance under the default policy, not a flag
  adr/bidirectional_references.md
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
