Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix(merk): allow restore height rewrites
  merk/src/merk/restore.rs
  merk/src/merk/source.rs
  merk/src/tree/mod.rs
  merk/src/tree/walk/fetch.rs
  merk/src/tree/walk/mod.rs
Due: Merk

test(bulk-append): cover malformed chunk proofs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
Due: BulkAppendTree

test(query): cover terminal key version paths
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb/src/query/mod.rs
Due: GroveDB Core

test(costs): cover checked arithmetic failures
  costs/tests/coverage_regression.rs
  merk/src/merk/mod.rs
Due: Merk

test(merk): cover fetched link validation
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/mod.rs
Due: Merk

test(merk): avoid uncovered detach guard
  merk/src/tree/walk/mod.rs
Due: Merk

fix(merk): keep link import test scoped
  merk/src/tree/walk/mod.rs
Due: Merk

refactor(batch): apply append/keyed conflict check unconditionally
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix(batch): reject append conflicts with keyed ops (#731)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

docs(bulk-append): explain why no completed-chunk-length check is needed
  grovedb-bulk-append-tree/src/proof/mod.rs
Due: BulkAppendTree

docs(bulk-append): explain why no completed-chunk-length check is needed (#740)
  grovedb-bulk-append-tree/src/proof/mod.rs
Due: BulkAppendTree

chore: remove duplicate workspace members
  Cargo.toml
Due: none

test: cover element type discriminant 20
  grovedb-element/src/element_type.rs
Due: Element

fix(tree): clamp balance factor for corrupt heights
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
Due: Merk

fix(dense): ignore inclusive queries on empty trees
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
Due: none

test(element): cover provable count sum discriminant
  grovedb-element/src/element_type.rs
Due: Element

fix(proof): allow v1 parent info count-offset proofs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix(merk): reject dangling multi-chunk ids
  merk/src/merk/restore.rs
Due: Merk

feat(commitment-tree): frontier-less bulk seeding for sync/scale testing
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb/Cargo.toml
Due: Commitment Tree

fix(commitment-tree): reject frontier-less seeding on a non-empty frontier
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

refactor(commitment-tree): rename feature to test-seeding-ct; drop open() check under it
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb/Cargo.toml
Due: Commitment Tree

test(commitment-tree): cover frontier-less seeding error paths for patch coverage
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

feat: expose ingest_subtree_sst + replace_commitment_tree_subtree_root
  grovedb/src/lib.rs
  grovedb/src/operations/commitment_tree.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage

feat: expose raw_storage() on GroveDb
  grovedb/src/lib.rs
Due: GroveDB Core

fix(security): four indexed-tree audit findings (2 P1, 2 P2)
  grovedb/src/batch/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

test: cover security-fix defensive branches to clear codecov patch 85%
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

fix(security): avg-axis item-key ceiling + canonical axes on empty PCPSIT inserts
  grovedb-element/src/element/constructor.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core, Element

test(pcpsit): cover non-empty direct-insert validation path for codecov
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

ci(codecov): tag sharded coverage uploads with per-shard flags
  .codecov.yml
  .github/workflows/grovedb.yml
Due: none

test(indexed): cover non-empty PCIT/PSIT direct-insert validation paths
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

refactor: replace production unreachable!() with CorruptedCodeExecution
  grovedb/src/batch/mod.rs
  grovedb/src/operations/proof/indexed_axis.rs
Due: GroveDB Core

ci(codecov): lower patch target 85% -> 82%
  .codecov.yml
Due: none

perf(bulk-append-tree): cache MMR root so append is O(1), not O(N) per call
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
Due: BulkAppendTree

bench(commitment-tree): add 1M frontier-less seeding throughput benchmark
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/seeding.rs
Due: none

ci: generate lockfile before cargo audit
  .github/workflows/grovedb.yml
Due: none
