Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

feat: aggregate sum path query (#364)
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/aggregate_sum_query/merge.rs
  grovedb-query/src/aggregate_sum_query/mod.rs
  grovedb-query/src/error.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query_item/merge.rs
  grovedb-query/src/query_item/mod.rs
  grovedb-query/tests/aggregate_sum_query_tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/element/mod.rs
  grovedb/src/element/query.rs
  grovedb/src/error.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/query/aggregate_sum_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/mod.rs
  merk/src/error.rs
  merk/src/merk/mod.rs
Due: GroveDB Core, Merk

docs: add Aggregate Sum Queries chapter to grovedb book with 16 translations
  docs/book/src/SUMMARY.md
  docs/book/src/aggregate-sum-queries.md
  docs/book/translations/ar/src/SUMMARY.md
  docs/book/translations/ar/src/aggregate-sum-queries.md
  docs/book/translations/cs/src/SUMMARY.md
  docs/book/translations/cs/src/aggregate-sum-queries.md
  docs/book/translations/de/src/SUMMARY.md
  docs/book/translations/de/src/aggregate-sum-queries.md
  docs/book/translations/es/src/SUMMARY.md
  docs/book/translations/es/src/aggregate-sum-queries.md
  docs/book/translations/fr/src/SUMMARY.md
  docs/book/translations/fr/src/aggregate-sum-queries.md
  docs/book/translations/id/src/SUMMARY.md
  docs/book/translations/id/src/aggregate-sum-queries.md
  docs/book/translations/it/src/SUMMARY.md
  docs/book/translations/it/src/aggregate-sum-queries.md
  docs/book/translations/ja/src/SUMMARY.md
  docs/book/translations/ja/src/aggregate-sum-queries.md
  docs/book/translations/ko/src/SUMMARY.md
  docs/book/translations/ko/src/aggregate-sum-queries.md
  docs/book/translations/pl/src/SUMMARY.md
  docs/book/translations/pl/src/aggregate-sum-queries.md
  docs/book/translations/pt/src/SUMMARY.md
  docs/book/translations/pt/src/aggregate-sum-queries.md
  docs/book/translations/ru/src/SUMMARY.md
  docs/book/translations/ru/src/aggregate-sum-queries.md
  docs/book/translations/th/src/SUMMARY.md
  docs/book/translations/th/src/aggregate-sum-queries.md
  docs/book/translations/tr/src/SUMMARY.md
  docs/book/translations/tr/src/aggregate-sum-queries.md
  docs/book/translations/vi/src/SUMMARY.md
  docs/book/translations/vi/src/aggregate-sum-queries.md
  docs/book/translations/zh/src/SUMMARY.md
  docs/book/translations/zh/src/aggregate-sum-queries.md
Due: none

fix: address CodeRabbit review feedback on translations
  docs/book/src/aggregate-sum-queries.md
  docs/book/translations/ar/src/aggregate-sum-queries.md
  docs/book/translations/cs/src/aggregate-sum-queries.md
  docs/book/translations/de/src/aggregate-sum-queries.md
  docs/book/translations/es/src/aggregate-sum-queries.md
  docs/book/translations/fr/src/aggregate-sum-queries.md
  docs/book/translations/id/src/aggregate-sum-queries.md
  docs/book/translations/it/src/aggregate-sum-queries.md
  docs/book/translations/ja/src/aggregate-sum-queries.md
  docs/book/translations/ko/src/aggregate-sum-queries.md
  docs/book/translations/pl/src/aggregate-sum-queries.md
  docs/book/translations/pt/src/aggregate-sum-queries.md
  docs/book/translations/ru/src/aggregate-sum-queries.md
  docs/book/translations/th/src/aggregate-sum-queries.md
  docs/book/translations/tr/src/aggregate-sum-queries.md
  docs/book/translations/vi/src/aggregate-sum-queries.md
  docs/book/translations/zh/src/aggregate-sum-queries.md
Due: none

docs: add Aggregate Sum Queries chapter to book (#487)
  docs/book/src/SUMMARY.md
  docs/book/src/aggregate-sum-queries.md
  docs/book/translations/ar/src/SUMMARY.md
  docs/book/translations/ar/src/aggregate-sum-queries.md
  docs/book/translations/cs/src/SUMMARY.md
  docs/book/translations/cs/src/aggregate-sum-queries.md
  docs/book/translations/de/src/SUMMARY.md
  docs/book/translations/de/src/aggregate-sum-queries.md
  docs/book/translations/es/src/SUMMARY.md
  docs/book/translations/es/src/aggregate-sum-queries.md
  docs/book/translations/fr/src/SUMMARY.md
  docs/book/translations/fr/src/aggregate-sum-queries.md
  docs/book/translations/id/src/SUMMARY.md
  docs/book/translations/id/src/aggregate-sum-queries.md
  docs/book/translations/it/src/SUMMARY.md
  docs/book/translations/it/src/aggregate-sum-queries.md
  docs/book/translations/ja/src/SUMMARY.md
  docs/book/translations/ja/src/aggregate-sum-queries.md
  docs/book/translations/ko/src/SUMMARY.md
  docs/book/translations/ko/src/aggregate-sum-queries.md
  docs/book/translations/pl/src/SUMMARY.md
  docs/book/translations/pl/src/aggregate-sum-queries.md
  docs/book/translations/pt/src/SUMMARY.md
  docs/book/translations/pt/src/aggregate-sum-queries.md
  docs/book/translations/ru/src/SUMMARY.md
  docs/book/translations/ru/src/aggregate-sum-queries.md
  docs/book/translations/th/src/SUMMARY.md
  docs/book/translations/th/src/aggregate-sum-queries.md
  docs/book/translations/tr/src/SUMMARY.md
  docs/book/translations/tr/src/aggregate-sum-queries.md
  docs/book/translations/vi/src/SUMMARY.md
  docs/book/translations/vi/src/aggregate-sum-queries.md
  docs/book/translations/zh/src/SUMMARY.md
  docs/book/translations/zh/src/aggregate-sum-queries.md
Due: none

fix: add missing docs for debugger.rs (grovedbg feature)
  merk/src/debugger.rs
  merk/src/lib.rs
Due: Merk

fix: add doc comment for start_visualizer (grovedbg feature)
  grovedb/src/lib.rs
Due: GroveDB Core

fix: add doc comment for pub test module in chunk.rs
  merk/src/proofs/chunk/chunk.rs
Due: Merk

chore: exclude debugger/visualize/debug files from coverage
  .codecov.yml
Due: none

chore: exclude debugger/visualize/debug files from coverage (#489)
  .codecov.yml
Due: none

test: add coverage for batch estimated costs and execution paths
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: populate non-Merk trees with data before batch delete tests
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: add coverage for batch estimated costs and execution paths (#490)
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: return error instead of panicking in prove_query_many for empty input
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/proof_advanced_tests.rs
Due: GroveDB Core

test: assert exact Error::InvalidInput variant in prove_query_many test
  grovedb/src/tests/proof_advanced_tests.rs
Due: GroveDB Core

fix: return error instead of panicking in prove_query_many for empty input (#491)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/proof_advanced_tests.rs
Due: GroveDB Core

perf: optimize insert-under-delete check from O(d×i) to O(n×depth)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

perf: reduce cloning in batch structure construction
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

perf: avoid to_path() heap allocation in delete path comparisons
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

perf: replace encode_var_vec() heap allocations with stack buffers in hash functions
  merk/src/tree/hash.rs
Due: Merk

fix: handle Link::Uncommitted in verify_link instead of todo!()
  merk/src/merk/mod.rs
Due: Merk

fix: return empty maps instead of panicking on empty tree in Merk::verify()
  merk/src/merk/mod.rs
Due: Merk

fix: return error instead of panicking on missing old storage flags
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
Due: none

fix: return error instead of panicking on missing subquery in PathQuery::merge
  grovedb/src/query/mod.rs
Due: GroveDB Core

fix: propagate errors instead of silently discarding in Restorer::finalize
  merk/src/merk/restore.rs
Due: Merk

fix: propagate error instead of silently discarding in Restorer::process_chunk
  merk/src/merk/restore.rs
Due: Merk

fix: return errors instead of panicking on Link::Modified in encoding and traversal
  merk/src/tree/link.rs
  merk/src/tree/walk/ref_walker.rs
Due: Merk

fix: replace panic with debug_assert in StorageFlags serialization
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

fix: preserve original error information in map_err calls
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
Due: GroveDB Core

fix: replace panic with debug_assert in StorageFlags serialization (#503)
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

fix: return error instead of panicking on missing subquery in PathQuery::merge (#499)
  grovedb/src/query/mod.rs
Due: GroveDB Core

fix: return error instead of panicking on missing old storage flags (#498)
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
Due: none

perf: replace encode_var_vec() heap allocations with stack buffers in hash functions (#495)
  merk/src/tree/hash.rs
Due: Merk

perf: avoid to_path() heap allocation in delete path comparisons (#494)
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

perf: reduce cloning in batch structure construction (#493)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: handle Link::Uncommitted in verify_link instead of todo!() (#496)
  merk/src/merk/mod.rs
Due: Merk

fix: propagate errors instead of silently discarding in Restorer::finalize (#500)
  merk/src/merk/restore.rs
Due: Merk

fix: propagate error instead of silently discarding in Restorer::process_chunk (#501)
  merk/src/merk/restore.rs
Due: Merk

fix: return empty maps instead of panicking on empty tree in Merk::verify() (#497)
  merk/src/merk/mod.rs
Due: Merk
