Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

docs(changelog): reference #989 for the fetch_chunk tree-type fix
  CHANGELOG.md
Due: none

fix(replication): refuse a peer-chosen tree type of another family when serving chunks (#989)
  CHANGELOG.md
  grovedb/src/replication.rs
  grovedb/src/replication/indexed_sync.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_fuzz_tests.rs
  grovedb/src/tests/replication_serving_tree_type_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/tests/state_sync_serving_tree_type.rs
Due: GroveDB Core

fix(batch): commit bidirectional referrers to the bytes the flags callback stores
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/backward_references_flags_update_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/tree/just_in_time_value_update.rs
Due: GroveDB Core, Merk

fix(proof): check bulk completeness before decoding; limit-aware extraction
  CHANGELOG.md
  grovedb-bulk-append-tree/src/chunk.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/tests/forged_chunk_blob_resource_bound.rs
  grovedb/src/operations/proof/position_intervals.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
Due: GroveDB Core, BulkAppendTree

fix(merk,grovedb): refuse backward-reference rows in count-offset proofs (#988)
  docs/book/src/count-offset-paginated-queries.md
  docs/book/src/proof-system.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_backward_ref_forgery_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

test(proof): cover element-only binding of MMR and dense lower layers
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
Due: GroveDB Core

fix(proof): bound bulk-append extraction before the root is bound (#990)
  CHANGELOG.md
  grovedb-bulk-append-tree/src/chunk.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/tests/forged_chunk_blob_resource_bound.rs
  grovedb/src/operations/proof/position_intervals.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core, BulkAppendTree

fix(batch): verify landed backward-references bytes and share one prediction
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/backward_references_flags_update_tests.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  merk/src/tree/just_in_time_value_update.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

fix(batch): commit bidirectional referrers to the bytes the flags callback stores (#991)
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/backward_references_flags_update_tests.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/tree/just_in_time_value_update.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#992)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#993)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#994)
  .github/workflows/pr-review-policy.yml
Due: none

perf!: borrow the pending batch when building delete operations
  CHANGELOG.md
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/delete_pending_operations_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

docs: link the changelog entry to #995
  CHANGELOG.md
Due: none

fix!: count only deletes the batch keeps, and let callers index the pending batch
  CHANGELOG.md
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/mod.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/v0.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/v1.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/delete/pending_operations.rs
  grovedb/src/tests/delete_pending_operations_tests.rs
Due: GroveDB Core

perf!: borrow the pending batch when building delete operations (#995)
  CHANGELOG.md
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/mod.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/v0.rs
  grovedb/src/operations/delete/delete_operation_for_delete_internal/v1.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/delete/pending_operations.rs
  grovedb/src/tests/delete_pending_operations_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

ci: re-pin PR Hygiene (#996)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene and wake it on a hand-over
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene and wake it on a hand-over (#997)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#998)
  .github/workflows/pr-review-policy.yml
Due: none

docs(storage-flags): document the real StorageFlags API
  docs/crates/auxiliary.md
Due: none

docs(storage-flags): document the real StorageFlags API (#999)
  docs/crates/auxiliary.md
Due: none

fix(storage-flags): close the review gaps around canonical multi-epoch flags
  CHANGELOG.md
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

fix(storage-flags): accept only canonical multi-epoch flag bytes
  CHANGELOG.md
  grovedb-epoch-based-storage-flags/src/error.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

docs(storage-flags): describe the canonical multi-epoch decoder
  docs/crates/auxiliary.md
Due: none

fix(storage-flags): accept only canonical multi-epoch flag bytes (#977)
  CHANGELOG.md
  docs/crates/auxiliary.md
  grovedb-epoch-based-storage-flags/src/error.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

ci: re-pin PR Hygiene engine to 3b98772
  .github/workflows/pr-review-policy.yml
Due: none

feat(batch)!: opt-in settlement of storage owner changes
  CHANGELOG.md
  costs/src/storage_cost/transition.rs
  docs/crates/auxiliary.md
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
  grovedb/src/tests/backward_references_flags_update_tests.rs
  merk/benches/merk.rs
  merk/src/element/delete.rs
  merk/src/merk/apply.rs
  merk/src/test_utils/mod.rs
  merk/src/tree/just_in_time_value_update.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/put_value/mod.rs
  merk/src/tree/put_value/v0.rs
  merk/src/tree/put_value/v1.rs
  merk/src/tree/walk/mod.rs
Due: GroveDB Core, Merk

fix(batch): review fixes for settling storage owner changes
  CHANGELOG.md
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/just_in_time_reference_update/mod.rs
  grovedb/src/batch/just_in_time_reference_update/v0.rs
  grovedb/src/batch/just_in_time_reference_update/v1.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/same_batch_reference_prediction_tests.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
  merk/src/tree/just_in_time_value_update/mod.rs
  merk/src/tree/just_in_time_value_update/v0.rs
  merk/src/tree/just_in_time_value_update/v1.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/put_value/mod.rs
  merk/src/tree/put_value/v0.rs
  merk/src/tree/put_value/v1.rs
  merk/src/tree/walk/mod.rs
Due: GroveDB Core, Merk

feat(element)!: add Element::CountItem, an item contributing an explicit count
  CHANGELOG.md
  docs/book/src/appendix-a.md
  docs/book/src/element-system.md
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/decode.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_item_tests.rs
  grovedb/src/tests/mod.rs
  grovedbg-types/src/lib.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/tree_type/costs.rs
Due: GroveDB Core, Merk, Element

feat(indexed-tree)!: accept a bare SumItem under a ProvableCountProvableSumIndexedTree (GROVE_V4)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/pcpsit_sum_item_children_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

feat(indexed-tree)!: accept a bare SumItem under a ProvableCountProvableSumIndexedTree (GROVE_V4) (#1003)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/pcpsit_sum_item_children_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

fix(batch): second review fixes for settling storage owner changes
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/merk_versions.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_reference_update/mod.rs
  grovedb/src/batch/just_in_time_reference_update/v0.rs
  grovedb/src/batch/just_in_time_reference_update/v1.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/same_batch_reference_prediction_tests.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
  grovedb/src/batch/settle_test_support.rs
  grovedb/src/tests/backward_references_flags_update_tests.rs
  merk/src/element/insert.rs
  merk/src/tree/just_in_time_value_update/mod.rs
  merk/src/tree/just_in_time_value_update/v1.rs
  merk/src/tree/mod.rs
  merk/src/tree/put_value/mod.rs
  merk/src/tree/put_value/v0.rs
  merk/src/tree/put_value/v1.rs
Due: GroveDB Core, Merk

chore(ci): run PR Hygiene's engine from master
  .github/workflows/pr-review-policy.yml
Due: none

chore(ci): run PR Hygiene's engine from master (#1004)
  .github/workflows/pr-review-policy.yml
Due: none
