Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix: prevent u16 truncation in limit tracking for queries and proofs (#588)
  grovedb/src/element/query.rs
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: enforce set_new_transaction precondition in release builds (#591)
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: preserve original error details in map_err closures (#590)
  grovedb/src/operations/delete/mod.rs
  grovedb/src/replication.rs
  merk/src/element/get.rs
Due: GroveDB Core, Merk

fix: reject proofs with unconsumed trailing bytes
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication.rs
  merk/src/proofs/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

test: add trailing bytes rejection tests for proof verification
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
Due: GroveDB Core, Merk

fix: reject proofs with unconsumed trailing bytes (#593)
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication.rs
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/src/proofs/mod.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: version-gate InsertOnly batch semantics to prevent consensus breakage
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

refactor: split execute_ops_on_path into v0 and v1 with version dispatch
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor: extract insert_item_element_v0/v1 instead of duplicating execute_ops_on_path
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor: move insert_item_element into submodule with version-gated estimated costs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/insert_item_element/mod.rs
  grovedb/src/batch/insert_item_element/v0.rs
  grovedb/src/batch/insert_item_element/v1.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

refactor: split InsertOnly into InsertOnlyKnownToNotExist and InsertIfNotExists
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

test: add coverage for InsertIfNotExists estimated costs, propagation, debug fmt
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
Due: GroveDB Core

refactor: rename InsertOnlyKnownToNotExist to InsertWithKnownToNotAlreadyExist
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix: add InsertIfNotExists to exhaustive ordering and debug tests
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

cleanup: move WorstKeyLength import to file scope in estimated cost files
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core

refactor: use add_average/worst_case_merk_has_value for InsertIfNotExists cost
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core

feat: add error_if_exists flag to InsertIfNotExists
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix: use MERK_BIGGEST_VALUE_SIZE for worst-case existence check and fix error string typo
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor: split InsertOnly into InsertOnlyKnownToNotExist and InsertIfNotExists (#595)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
Due: GroveDB Core

fix: bound query items vector length during deserialization to prevent OOM
  grovedb-query/src/query.rs
Due: none

fix: replace panicking unwrap() calls in chunk restorer with proper error handling
  merk/src/merk/restore.rs
Due: Merk

fix: enforce depth limit on proof generation and verification recursion
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

chore: increase MAX_QUERY_ITEMS to 262,144
  grovedb-query/src/query.rs
Due: none

fix: enforce subtree emptiness check and storage cleanup in batch DeleteTree
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: replace panics with debug_assert in Link::hash() and Link::aggregate_data()
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
Due: Merk

fix: add cycle detection to aggregate sum query reference following
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
Due: GroveDB Core

fix: replace panics with error returns in TreeNode/Walker detach_expect and attach
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/mod.rs
Due: Merk

fix: count parent tree results against limit in add_parent_tree_on_subquery
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: return error instead of silently discarding writes when batch is None
  merk/src/element/get.rs
  merk/src/merk/mod.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/tests.rs
Due: Merk, Storage

docs: document dangling reference behavior on delete (L3)
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

fix: cap batch reference recursion depth to MAX_REFERENCE_HOPS
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: make Link::encoding_cost() match actual varint encoding sizes
  merk/src/tree/link.rs
Due: Merk

docs: add security and safety doc comments for L4, L6, L7 audit findings
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

docs: broaden disable_operation_consistency_check and fix persist language
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
Due: GroveDB Core

fix: always verify child proof even when parent tree exhausts limit
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

docs: qualify rustdoc links to QualifiedGroveDbOp in batch options
  grovedb/src/batch/options.rs
Due: GroveDB Core

fix: cap batch reference recursion depth to MAX_REFERENCE_HOPS (#606)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

docs: document dangling reference behavior on delete (L3) (#605)
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

style: collapse nested if blocks to fix clippy collapsible_if lint
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

fix: replace panics with error returns in TreeNode/Walker detach_expect and attach (#602)
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/mod.rs
Due: Merk
