Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

refactor(proofs): use chunk snapshots directly
  CHANGELOG.md
  grovedb/src/operations/proof/chunk_proof_row_binding/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
Due: GroveDB Core

fix(proofs): pin chunk row binding to one snapshot (#921)
  CHANGELOG.md
  grovedb/src/operations/proof/chunk_proof_row_binding/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
Due: GroveDB Core

docs(audit): record six verified-rejected findings; correct the #693 invariant (#838)
  docs/audit-non-issues.md
Due: none

fix(insert): refuse a direct reference write whose chain runs back through the written position
  CHANGELOG.md
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_cycle_on_overwrite_tests.rs
Due: GroveDB Core

fix(proofs): refuse raw reference rows in the V1 layer verifier (#862) (#920)
  docs/audit-non-issues.md
  docs/book/src/proof-system.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
  grovedb/src/tests/unbound_reference_row_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(insert): refuse a direct reference write whose chain runs back through the written position (#923)
  CHANGELOG.md
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_cycle_on_overwrite_tests.rs
Due: GroveDB Core

fix(insert): refuse a reference whose terminal is a tree on the direct path (GROVE_V4+)
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_to_tree_terminal_tests.rs
Due: GroveDB Core

fix(insert): refuse a reference whose terminal is a tree on the direct path (GROVE_V4+) (#922)
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_to_tree_terminal_tests.rs
Due: GroveDB Core

fix(merk): charge ordinary replacements of specialized values from their own bytes (#908) (#918)
  CHANGELOG.md
  docs/book/src/merk-tree.md
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
  merk/src/tree/kv.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/put_value/mod.rs
  merk/src/tree/put_value/v0.rs
  merk/src/tree/put_value/v1.rs
  merk/src/tree/walk/mod.rs
Due: GroveDB Core, Merk

test(replication): cover the axis decode, header-page and source-side error arms
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

fix(replication): preserve existing reference and empty-tree bindings
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/replication/verify.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(replication)!: complete V1 state sync and bounded-memory restore (#840)
  docs/book/src/count-indexed-tree.md
  grovedb/Cargo.toml
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/replication.rs
  grovedb/src/replication/indexed_sync.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/replication/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_checkpoint_prune_tests.rs
  grovedb/src/tests/replication_fuzz_tests.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
  grovedb/src/tests/replication_scale_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/replication_version_tests.rs
  merk/src/merk/chunks.rs
  merk/src/merk/restore.rs
  merk/src/proofs/chunk/chunk.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

fix(proofs): count-offset proofs refuse to collapse over non-unit rows (#864)
  CHANGELOG.md
  docs/book/src/count-offset-paginated-queries.md
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(costs): keep Sectioned+=Basic removal correct in legacy path
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
Due: none

Preserve default section storage removals
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
  grovedb/src/operations/delete/mod.rs
  merk/src/merk/apply.rs
Due: GroveDB Core, Merk

fix(version): re-gate fixed storage-removal arithmetic to GROVE_V4
  costs/src/storage_cost/removal.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core

test(batch): pin v3 legacy removal total to the exact shipped figure
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core

test(count-offset): pin exact seek counts for the pre-collapse walk; scope the unit-row rule in the book
  docs/book/src/count-offset-paginated-queries.md
  merk/src/proofs/query/count_offset/tests.rs
Due: Merk

fix(batch): compose partial-batch add-on ops with pending ancestor updates (#708)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_add_on_collision_tests.rs
Due: GroveDB Core

test(costs): pin the #683 audit C008 removal matrix for legacy and V4
  costs/tests/coverage_regression.rs
  docs/crates/costs.md
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core

refactor(count-offset): build the unit-row walk's corruption guards eagerly
  merk/src/proofs/query/count_offset/emit.rs
Due: Merk

fix(merk): bound chunk id recovery by the tree's depth (#883)
  grovedb/src/replication.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/chunk/util.rs
Due: GroveDB Core, Merk

test(batch): cover every partial-batch add-on collision arm (#708)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/tests/partial_batch_add_on_collision_tests.rs
Due: GroveDB Core

fix(costs): bind removal version guard to its thread
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
  docs/crates/costs.md
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core

test(batch): cover the remaining insert-family and wrapped-indexed merge arms (#708)
  grovedb/src/batch/batch_structure.rs
Due: GroveDB Core

chore: fix remaining clippy --all-targets lints in test code
  grovedb-private-document-store/src/store.rs
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/batch/just_in_time_cost_tests.rs
  grovedb/src/batch/multi_insert_cost_tests.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/tree.rs
  merk/src/tree/fuzz_tests.rs
  merk/src/tree/hash.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

fix(costs): version default-section storage removal accounting (#726)
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
  docs/crates/costs.md
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
  grovedb/src/operations/delete/mod.rs
  merk/src/merk/apply.rs
Due: GroveDB Core, Merk

chore: fix clippy --all-targets lints introduced by merged develop code
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/merk_cache.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/run_path_query_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
  merk/src/merk/meta.rs
Due: GroveDB Core, Merk, BulkAppendTree

fix(batch): keep both segments of apply_partial_batch on one live Merk cache (#842)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage

test(batch): cover add-on safe-subset indexed overwrite in the partial flow
  grovedb/src/tests/partial_batch_coherence_tests.rs
Due: GroveDB Core

fix(batch): refuse continuation writes under an indexed primary the initial segment overwrote
  grovedb/src/batch/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
Due: GroveDB Core

feat(batch): build out apply_partial_batch's add-on contract (#709, #895, #889)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
Due: GroveDB Core

chore: fix remaining clippy --all-targets lints in test code (#928)
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_cost_tests.rs
  grovedb/src/batch/multi_insert_cost_tests.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/merk_cache.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
  merk/src/merk/meta.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/tree.rs
  merk/src/tree/fuzz_tests.rs
  merk/src/tree/hash.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk, BulkAppendTree

fix(merk): bound chunk id recovery by the tree's depth (#883) (#926)
  grovedb/src/replication.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/chunk/util.rs
Due: GroveDB Core, Merk

refactor(batch): move InitialSegmentFootprint to its own file
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix(batch): discard skipped insert state before partial continuation
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
Due: GroveDB Core

fix(grovedb): reject keyed batch ops under non-Merk append-family parents (#900)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix(grovedb): validate indexed secondary roots against the stored element (#897)
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core
