Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

chore: bump workspace crate versions to 5.0.0
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

chore: bump workspace crate versions to 5.0.0 (#764)
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

fix(dense): validate inclusive bounds before empty-tree short-circuit
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
Due: none

perf: gate grovedbg build deps behind grovedbg feature
  grovedb/Cargo.toml
Due: none

perf: gate grovedbg build deps behind grovedbg feature (#765)
  grovedb/Cargo.toml
Due: none

fix(commitment-tree): iterate checkpoints in ascending order in SqliteShardStore
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

refactor(commitment-tree): encode checkpoint ordering in the function name
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/mod.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
Due: Commitment Tree

fix(commitment-tree): iterate checkpoints in ascending order in SqliteShardStore (#767)
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/mod.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

chore(commitment-tree): bump orchard to dashified-0.14.1
  grovedb-commitment-tree/Cargo.toml
Due: none

chore(commitment-tree): bump orchard to dashified-0.14.1 (#768)
  grovedb-commitment-tree/Cargo.toml
Due: none

fix(storage): flush all column families in RocksDbStorage::flush() (#755)
  storage/src/rocksdb_storage/storage.rs
Due: Storage

docs: record adversarially-rejected audit findings in audit-non-issues.md
  CLAUDE.md
  docs/audit-non-issues.md
Due: none

docs: record adversarially-rejected audit findings in audit-non-issues.md (#769)
  CLAUDE.md
  docs/audit-non-issues.md
Due: none

chore: remove duplicate workspace members (#741)
  Cargo.toml
Due: none

test: cover element type discriminant 20 (#742)
  grovedb-element/src/element_type.rs
Due: Element

fix(merk): reject dangling multi-chunk ids (#750)
  merk/src/merk/restore.rs
Due: Merk

Reject overlong Merk keys before encoding (#728)
  grovedb-query/src/proofs/encoding.rs
  merk/src/merk/apply.rs
  merk/src/merk/mod.rs
  merk/src/tree/link.rs
Due: Merk

docs: record PR #737 closure in audit-non-issues (checked-arithmetic risk)
  docs/audit-non-issues.md
Due: none

fix(commitment-tree): check u64 -> i64 conversions on sqlite binds
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

fix(commitment-tree): reject negative sqlite positions
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

test(commitment-tree): cover update_checkpoint_with mark overflow
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

refactor(commitment-tree): tidy checked-conversion helpers and tests
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

fix(commitment-tree): simplify sqlite row errors
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
Due: Commitment Tree

fix: address indexed-tree review findings (proofs, propagation, guards, cleanup)
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

refactor: drop legacy count_indexed proof stack and deprecated-on-arrival shims
  docs/book/src/count-indexed-tree.md
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/pcit_proof_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

refactor(indexed-tree): consolidate per-variant copy-paste onto shared cores
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

docs: record PR #737 closure in audit-non-issues (checked-arithmetic risk) (#770)
  docs/audit-non-issues.md
Due: none

ci: only deploy book from develop to match github-pages environment policy
  .github/workflows/book.yml
Due: none

ci: only deploy book from develop to match github-pages environment policy (#771)
  .github/workflows/book.yml
Due: none

chore: bump workspace crate versions to 5.0.1
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

fix: resolve new clippy lints from Rust 1.97
  grovedb-dense-fixed-sized-merkle-tree/src/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

chore: bump workspace crate versions to 5.0.1 (#772)
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/src/verify.rs
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication/state_sync_session.rs
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: GroveDB Core

fix(lint): use keys() in capture_cidx_pre_state key-length check
  grovedb/src/batch/indexed_tree.rs
Due: GroveDB Core

fix: three merge blockers found by the indexed-tree re-review
  grovedb/src/lib.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
Due: GroveDB Core

fix: generalize indexed propagation to PSIT/PCPSIT; reject cross-variant overwrite
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

fix: indexed-tree medium findings (subtree existence, determinism, bench, CI)
  .github/workflows/grovedb.yml
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

fix: reject unverifiable aggregate/indexed proof shapes; lock PCPSIT axes schema; correct docs
  docs/book/src/appendix-a.md
  docs/book/src/count-indexed-tree.md
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

fix: remaining review findings — PCPSIT cost size, dead tests, coverage, benches
  .codecov.yml
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/proof/indexed_axis.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  merk/benches/branch_queries.rs
  merk/src/tree_type/costs.rs
Due: GroveDB Core, Merk

fix(verify): per-entry content walk for PSIT and PCPSIT secondaries
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

fix(costs): charge indexed-tree secondary Merk work in the average-case estimator
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
