Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

refactor(query): restructure terminal_keys into standard v0/v1 sub-files
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb-query/src/terminal_keys/mod.rs
  grovedb-query/src/terminal_keys/v0.rs
  grovedb-query/src/terminal_keys/v1.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb/src/query/mod.rs
Due: GroveDB Core

test(query): full line coverage for the frozen terminal_keys v0 walk
  grovedb-query/tests/query_terminal_and_merge.rs
Due: none

fix(query): apply terminal-key conditionals per item (#734)
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb-query/src/terminal_keys/mod.rs
  grovedb-query/src/terminal_keys/v0.rs
  grovedb-query/src/terminal_keys/v1.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

chore: fix clippy lints in test code (unused Results and friends)
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-query/src/merge.rs
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb-query/src/query_item/mod.rs
  grovedb-query/tests/merge_coverage.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  storage/src/rocksdb_storage/tests.rs
Due: Storage

refactor: restructure path_query_push into standard v0/v1 versioned dispatch
  grovedb-version/src/version/v4.rs
  grovedb/src/element/mod.rs
  grovedb/src/element/path_query_push/mod.rs
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/query.rs
Due: GroveDB Core

fix(delete): preserve parent type for non-empty subtree deletes
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

fix(delete): route v1 non-empty propagation through the indexed-aware walk
  grovedb/src/operations/delete/delete_internal_on_transaction/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
Due: GroveDB Core

docs: mark the skipped==0 guard as the v0/v1 delta at the change site
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
Due: GroveDB Core

test: cover path_query_push v0/v1 branches on both sides of the gate
  grovedb/src/tests/query_tests.rs
Due: GroveDB Core

fix(query): preserve subquery limit after offset skips (#730)
  grovedb-version/src/version/v4.rs
  grovedb/src/element/mod.rs
  grovedb/src/element/path_query_push/mod.rs
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/query.rs
  grovedb/src/tests/query_tests.rs
Due: GroveDB Core

chore: fix clippy lints in test code (unused Results and friends) (#821)
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-query/src/merge.rs
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb-query/src/query_item/mod.rs
  grovedb-query/tests/merge_coverage.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  storage/src/rocksdb_storage/tests.rs
Due: Storage

fix(delete): preserve parent type for non-empty subtree deletes (#732)
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
Due: GroveDB Core

fix: report the append-only family's write churn as replaced bytes, not new storage
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/error.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/append_only_storage_accounting_tests.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
  grovedb/src/tests/mod.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: GroveDB Core, Storage, Commitment Tree, MMR, BulkAppendTree

feat: keys-only indexed-axis reads
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_keys_only_read_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

chore(bench): pass grove version to CommitmentTree::commit_mmr in seeding bench
  grovedb-commitment-tree/benches/seeding.rs
Due: none

fix(bulk): gate append storage accounting behind the storage feature
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
Due: BulkAppendTree

test: cover the slot-read fault and unknown frontier version arms
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
Due: Commitment Tree

fix(bulk): bill the committed-slot read and bound BulkAppend estimates (review)
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

fix(bulk): validate the fixed-format chunk header before prepaying; cover V2
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-commitment-tree/src/commitment_tree/cost/mod.rs
Due: Commitment Tree, BulkAppendTree

fix(bulk): bill the committed-slot read, bound BulkAppend estimates, validate chunk header (#822 follow-up) (#826)
  docs/crates/costs.md
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/storage_accounting_tests.rs
  grovedb-commitment-tree/src/commitment_tree/cost/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/tests/append_storage_accounting_tests.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

fix: keep open_validated_axis_secondary's doc comment on its function
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

fix: keep decode_secondary_key's doc comment and #[inline] on its function
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

feat: keys-only indexed-axis reads (#824)
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_keys_only_read_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat: keys-only projection for axis reads on the unified PathQuery
  docs/book/src/unified-path-query.md
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/query/mod.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_read_projection_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat: keys-only projection for axis reads on the unified PathQuery (#827)
  docs/book/src/unified-path-query.md
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/query/mod.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_read_projection_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

refactor: route get_range buffer reads through get_buffer_value_with_cost; document range reads
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  grovedb-bulk-append-tree/src/tree/fetch.rs
Due: BulkAppendTree

fix(replication): harden non-Merk state sync against byzantine peers (#788 review)
  grovedb/src/lib.rs
  grovedb/src/replication.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(replication): state sync support for the append-only tree family (fixes #785) (#788)
  grovedb/src/lib.rs
  grovedb/src/replication.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat: paginated position-range reads with proofs at the BulkAppendTree layer (#786)
  docs/book/src/bulk-append-tree.md
  docs/book/src/commitment-tree.md
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/Cargo.toml
  grovedb/benches/bulk_range_scan_benchmark.rs
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

fix(commitment-tree): reject negative sqlite positions (#746)
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

fix(dense): ignore inclusive queries on empty trees (#745)
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
Due: none

refactor: pass the parent element straight to is_any_tree() in check_subtree_exists
  grovedb/src/operations/get/mod.rs
Due: GroveDB Core

refactor: centralize subtree path validation on Element::is_any_tree (PCPS regression coverage) (#743)
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/is_empty_tree_tests.rs
  grovedb/src/tests/operations_coverage_tests.rs
Due: GroveDB Core

Preserve default section storage removals
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
  grovedb/src/operations/delete/mod.rs
  merk/src/merk/apply.rs
Due: GroveDB Core, Merk

fix(costs): keep Sectioned+=Basic removal correct in legacy path
  costs/src/storage_cost/removal.rs
  costs/tests/coverage_regression.rs
Due: none

fix(version): re-gate fixed storage-removal arithmetic to GROVE_V4
  costs/src/storage_cost/removal.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core

test(batch): pin v3 legacy removal total to the exact shipped figure
  grovedb/src/batch/single_deletion_cost_tests.rs
Due: GroveDB Core
