Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

test: add coverage for element_hex_to_ascii and optional_element_hex_to_ascii
  grovedb/src/operations/proof/util.rs
Due: GroveDB Core

fix: propagate deserialization errors in proof display instead of hiding them (#431)
  grovedb/Cargo.toml
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/util.rs
Due: GroveDB Core

test(grovedb-version): add comprehensive test suite for coverage improvement
  grovedb-version/Cargo.toml
  grovedb-version/src/lib.rs
  grovedb-version/src/tests.rs
Due: none

fix(grovedb-version): resolve module_inception clippy lint
  grovedb-version/src/tests.rs
Due: none

test(dense-merkle-tree): add comprehensive test suite for coverage improvement
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
Due: none

test(query): add comprehensive test suite for coverage improvement
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-query/tests/utilities_and_proof_items.rs
Due: none

test(element): add comprehensive test suite for coverage improvement
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-element/tests/reference_path_edge_cases.rs
Due: none

test(storage): add comprehensive test suite for coverage improvement
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: Storage

test(merk): add comprehensive test suite for coverage improvement
  merk/src/error.rs
  merk/src/estimated_costs/average_case_costs.rs
  merk/src/estimated_costs/mod.rs
  merk/src/estimated_costs/worst_case_costs.rs
  merk/src/proofs/chunk/chunk_op.rs
  merk/src/proofs/chunk/error.rs
  merk/src/proofs/tree.rs
Due: Merk

refactor(test): split mega constructor test into focused test functions
  grovedb-element/tests/element_constructors_helpers.rs
Due: none

fix(storage): use delete_cf instead of delete in wipe_column_family
  storage/src/rocksdb_storage/storage.rs
Due: Storage

test(epoch-flags): add comprehensive test suite for coverage improvement
  grovedb-epoch-based-storage-flags/src/error.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
  grovedb-epoch-based-storage-flags/src/split_removal_bytes.rs
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
Due: none

fix(costs): remove let_unit_value clippy warnings in test macros
  costs/tests/coverage_regression.rs
Due: none

fix: move test module to end of file to satisfy items_after_test_module lint
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

fix: add explicit lifetime to RwLockReadGuard for mismatched_lifetime_syntaxes lint
  grovedb/src/debugger.rs
Due: GroveDB Core

fix: resolve CI failures (lifetime syntax, remove --all-features from grovedb test)
  .github/workflows/grovedb.yml
  grovedb/src/debugger.rs
Due: GroveDB Core

test(element): add comprehensive test suite for coverage improvement (#440)
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-element/tests/reference_path_edge_cases.rs
Due: none

style: remove extra blank line to fix fmt
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

fix(test): use subdirectory for checkpoint to avoid 'Directory exists' error
  storage/src/rocksdb_storage/tests.rs
Due: Storage

refactor: remove trivial constructor and display tests that don't add meaningful coverage
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/utilities_and_proof_items.rs
Due: none

test(query): add test suite for coverage improvement (#443)
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-query/tests/utilities_and_proof_items.rs
Due: none

style: use idiomatic Error::other() instead of Error::new(ErrorKind::Other, ...)
  visualize/src/lib.rs
Due: none

fix(test): correct checkpoint test to verify snapshot isolation
  storage/src/rocksdb_storage/tests.rs
Due: Storage

test(merk): add comprehensive test suite for coverage improvement (#442)
  merk/src/error.rs
  merk/src/estimated_costs/average_case_costs.rs
  merk/src/estimated_costs/mod.rs
  merk/src/estimated_costs/worst_case_costs.rs
  merk/src/proofs/chunk/chunk_op.rs
  merk/src/proofs/chunk/error.rs
  merk/src/proofs/tree.rs
Due: Merk

test(storage): add comprehensive test suite for coverage improvement (#441)
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: Storage

test(epoch-flags): add comprehensive test suite for coverage improvement (#437)
  grovedb-epoch-based-storage-flags/src/error.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
  grovedb-epoch-based-storage-flags/src/split_removal_bytes.rs
  grovedb-epoch-based-storage-flags/src/update_element_flags.rs
Due: none

test(grovedb-version): add comprehensive test suite for coverage improvement (#432)
  grovedb-version/Cargo.toml
  grovedb-version/src/lib.rs
  grovedb-version/src/tests.rs
Due: none

test(visualize): add comprehensive test suite for coverage improvement (#435)
  visualize/src/lib.rs
Due: none

test(dense-merkle-tree): add comprehensive test suite for coverage improvement (#438)
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
Due: none

test(bulk-append-tree): add comprehensive test suite for coverage improvement (#436)
  .github/workflows/grovedb.yml
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
Due: BulkAppendTree

test(costs): add comprehensive test suite for coverage improvement (#434)
  costs/tests/coverage_regression.rs
Due: none

feat: add rho (nullifier) field to commitment tree payload
  docs/book/src/commitment-tree.md
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core, Commitment Tree

test: add coverage for CommitmentTreeInsert Debug formatting
  grovedb/src/tests/batch_rejection_tests.rs
Due: GroveDB Core

docs: add encrypted note anatomy and update rho across all translations
  docs/book/src/commitment-tree.md
  docs/book/translations/ar/src/commitment-tree.md
  docs/book/translations/cs/src/commitment-tree.md
  docs/book/translations/de/src/commitment-tree.md
  docs/book/translations/es/src/commitment-tree.md
  docs/book/translations/fr/src/commitment-tree.md
  docs/book/translations/id/src/commitment-tree.md
  docs/book/translations/it/src/commitment-tree.md
  docs/book/translations/ja/src/commitment-tree.md
  docs/book/translations/ko/src/commitment-tree.md
  docs/book/translations/pl/src/commitment-tree.md
  docs/book/translations/pt/src/commitment-tree.md
  docs/book/translations/ru/src/commitment-tree.md
  docs/book/translations/th/src/commitment-tree.md
  docs/book/translations/tr/src/commitment-tree.md
  docs/book/translations/vi/src/commitment-tree.md
  docs/book/translations/zh/src/commitment-tree.md
Due: none

docs: add and fix docstrings for grovedb public API and tests
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/sum_tree_tests.rs
  tutorials/src/bin/proofs.rs
  tutorials/src/bin/replication.rs
Due: GroveDB Core

feat: add rho (nullifier) to commitment tree payload (#444)
  docs/book/src/commitment-tree.md
  docs/book/translations/ar/src/commitment-tree.md
  docs/book/translations/cs/src/commitment-tree.md
  docs/book/translations/de/src/commitment-tree.md
  docs/book/translations/es/src/commitment-tree.md
  docs/book/translations/fr/src/commitment-tree.md
  docs/book/translations/id/src/commitment-tree.md
  docs/book/translations/it/src/commitment-tree.md
  docs/book/translations/ja/src/commitment-tree.md
  docs/book/translations/ko/src/commitment-tree.md
  docs/book/translations/pl/src/commitment-tree.md
  docs/book/translations/pt/src/commitment-tree.md
  docs/book/translations/ru/src/commitment-tree.md
  docs/book/translations/th/src/commitment-tree.md
  docs/book/translations/tr/src/commitment-tree.md
  docs/book/translations/vi/src/commitment-tree.md
  docs/book/translations/zh/src/commitment-tree.md
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core, Commitment Tree

docs: add and fix docstrings for grovedb public API and tests (#445)
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/sum_tree_tests.rs
  tutorials/src/bin/proofs.rs
  tutorials/src/bin/replication.rs
Due: GroveDB Core

test(merk): add missing ChunkError variant coverage
  merk/src/proofs/chunk/error.rs
Due: Merk

docs: add quantum cryptography chapter with post-quantum threat analysis
  docs/book/src/SUMMARY.md
  docs/book/src/quantum-cryptography.md
  docs/book/translations/ar/src/SUMMARY.md
  docs/book/translations/ar/src/quantum-cryptography.md
  docs/book/translations/cs/src/SUMMARY.md
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/de/src/SUMMARY.md
  docs/book/translations/de/src/quantum-cryptography.md
  docs/book/translations/es/src/SUMMARY.md
  docs/book/translations/es/src/quantum-cryptography.md
  docs/book/translations/fr/src/SUMMARY.md
  docs/book/translations/fr/src/quantum-cryptography.md
  docs/book/translations/id/src/SUMMARY.md
  docs/book/translations/id/src/quantum-cryptography.md
  docs/book/translations/it/src/SUMMARY.md
  docs/book/translations/it/src/quantum-cryptography.md
  docs/book/translations/ja/src/SUMMARY.md
  docs/book/translations/ja/src/quantum-cryptography.md
  docs/book/translations/ko/src/SUMMARY.md
  docs/book/translations/ko/src/quantum-cryptography.md
  docs/book/translations/pl/src/SUMMARY.md
  docs/book/translations/pl/src/quantum-cryptography.md
  docs/book/translations/pt/src/SUMMARY.md
  docs/book/translations/pt/src/quantum-cryptography.md
  docs/book/translations/ru/src/SUMMARY.md
  docs/book/translations/ru/src/quantum-cryptography.md
  docs/book/translations/th/src/SUMMARY.md
  docs/book/translations/th/src/quantum-cryptography.md
  docs/book/translations/tr/src/SUMMARY.md
  docs/book/translations/tr/src/quantum-cryptography.md
  docs/book/translations/vi/src/SUMMARY.md
  docs/book/translations/vi/src/quantum-cryptography.md
  docs/book/translations/zh/src/SUMMARY.md
  docs/book/translations/zh/src/quantum-cryptography.md
Due: none

docs: fix translation quality issues from CodeRabbit review
  docs/book/src/quantum-cryptography.md
  docs/book/translations/ar/src/quantum-cryptography.md
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/de/src/quantum-cryptography.md
  docs/book/translations/es/src/SUMMARY.md
  docs/book/translations/es/src/quantum-cryptography.md
  docs/book/translations/fr/src/SUMMARY.md
  docs/book/translations/fr/src/quantum-cryptography.md
  docs/book/translations/id/src/quantum-cryptography.md
  docs/book/translations/it/src/quantum-cryptography.md
  docs/book/translations/ja/src/quantum-cryptography.md
  docs/book/translations/ko/src/quantum-cryptography.md
  docs/book/translations/pl/src/SUMMARY.md
  docs/book/translations/pl/src/quantum-cryptography.md
  docs/book/translations/pt/src/SUMMARY.md
  docs/book/translations/pt/src/quantum-cryptography.md
  docs/book/translations/ru/src/quantum-cryptography.md
  docs/book/translations/th/src/quantum-cryptography.md
  docs/book/translations/tr/src/quantum-cryptography.md
  docs/book/translations/vi/src/SUMMARY.md
  docs/book/translations/vi/src/quantum-cryptography.md
  docs/book/translations/zh/src/quantum-cryptography.md
Due: none

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
