Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

test: add coverage tests for SubelementsDeletionBehavior variants
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

test: add complete-children-delete tests with Error and DontCheck modes
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

test: add complete-children-delete test with Skip mode
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

test: add partial-children-delete tests with DontCheck and Skip modes
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

fix: address CodeRabbit review comments on PR #634
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: per-op DeleteTree emptiness check via IsSubtreeNonEmpty enum (#634)
  docs/book/src/batch-operations.md
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
  grovedb/src/batch/single_sum_item_deletion_cost_tests.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
Due: GroveDB Core

fix: version-gate KVValueHashFeatureTypeWithChildHash to proof V1 only
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test: add V0/V1 version-gating tests for KVValueHashFeatureTypeWithChildHash
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: version-gate KVValueHashFeatureTypeWithChildHash to proof V1 only (#635)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test: add proof manipulation exploit demonstrations for audit findings
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_exploit_tests.rs
Due: GroveDB Core

fix: version-gate commit_batch accumulated costs
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  merk/src/merk/apply.rs
  merk/src/merk/mod.rs
Due: Merk

refactor: rename MerkCommitVersions to MerkBatchVersions
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  merk/src/merk/mod.rs
Due: Merk

fix: version-gate commit_batch accumulated costs (#637)
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  merk/src/merk/apply.rs
  merk/src/merk/mod.rs
Due: Merk

feat: use transactional storage context for all specialized trees
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/mmr_store.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
Due: GroveDB Core, Commitment Tree, MMR, BulkAppendTree

refactor: switch read-only specialized tree ops to transactional context
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: restore MMR overlay on error, clear cache on rollback (audit fixes)
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
Due: BulkAppendTree

fix: preprocessing shares StorageBatch for atomic batch discard
  grovedb/src/batch/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core

test: add raw subtree storage assertions to batch discard tests
  grovedb/src/lib.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core

fix: restore MMR overlay on commit_mmr failure, gate cache field
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
Due: BulkAppendTree

docs: document direct-path atomicity limitation in specialized tree ops
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
Due: GroveDB Core

docs: fix misleading doc comment on commitment_tree_insert_raw
  docs/book/src/commitment-tree.md
  grovedb/src/operations/commitment_tree.rs
Due: GroveDB Core

fix: use U32 MMR key in bulk_append compaction discard test
  grovedb/src/tests/bulk_append_tree_tests.rs
Due: GroveDB Core

feat: use transactional storage context for all specialized trees (#638)
  docs/book/src/commitment-tree.md
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/mmr_store.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core, Commitment Tree, MMR, BulkAppendTree

fix: rename DontCheck to DontCheckWithNoCleanup, make DeleteChildren skip emptiness check
  docs/book/src/batch-operations.md
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

docs: add SubelementsDeletionBehavior behavior table to book
  docs/book/src/batch-operations.md
Due: none

fix: skip cleanup for empty trees with DeleteChildren
  docs/book/src/batch-operations.md
  grovedb/src/batch/mod.rs
Due: GroveDB Core

Revert "fix: skip cleanup for empty trees with DeleteChildren"
  docs/book/src/batch-operations.md
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: eliminate unnecessary cleanup I/O costs for empty tree deletions (#639)
  docs/book/src/batch-operations.md
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core

ci: compile tests once and share archive across shards
  .github/workflows/grovedb.yml
Due: none

fix: guard test/coverage jobs on build-tests success
  .github/workflows/grovedb.yml
Due: none

chore: add comment to trigger test pipeline
  grovedb/src/lib.rs
Due: GroveDB Core

fix: remove build-time flags from archive-based test run
  .github/workflows/grovedb.yml
Due: none

ci: use self-hosted Mac runner with Ubuntu fallback for tests
  .github/workflows/grovedb.yml
Due: none

docs: sync book translations with English source
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/ar/src/dense-tree.md
  docs/book/translations/ar/src/mmr-tree.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ja/src/bulk-append-tree.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
Due: none

chore: trigger CI
  grovedb/src/lib.rs
Due: GroveDB Core

docs: sync book translations with English source (#642)
  .github/workflows/grovedb.yml
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/ar/src/dense-tree.md
  docs/book/translations/ar/src/mmr-tree.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ja/src/bulk-append-tree.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
Due: none

Revert "docs: sync book translations with English source (#642)"
  .github/workflows/grovedb.yml
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/ar/src/dense-tree.md
  docs/book/translations/ar/src/mmr-tree.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ja/src/bulk-append-tree.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
Due: none

ci: self-hosted Mac runner with Ubuntu fallback (#641)
  grovedb/src/lib.rs
Due: GroveDB Core

fix: allow V0 proofs with items in KVValueHash nodes for backwards compatibility
  grovedb/src/operations/proof/verify.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: update V0 proof test to expect acceptance instead of rejection
  grovedb/src/tests/sum_tree_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
