Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix(replication): remove stray eprintln from commit_session
  grovedb/src/replication.rs
Due: GroveDB Core

feat(replication): negotiate state sync protocol version per session
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

fix(replication): keep state sync restore atomic until commit
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(replication): state sync PrivateDocumentStore by entry replay
  grovedb/src/lib.rs
  grovedb/src/replication.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

feat(replication): state sync indexed trees (protocol version 2)
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/replication.rs
  grovedb/src/replication/indexed_sync.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  merk/src/merk/restore.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

feat(replication)!: bump state sync protocol to version 2 with dual-version serving
  docs/book/src/count-indexed-tree.md
  grovedb/src/replication.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

test(replication): round trips for aggregate trees and a deep hierarchy
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

fix(merk): enable aggregate cross-checks in restore finalize verification
  merk/src/merk/restore.rs
Due: Merk

style(replication): satisfy clippy 1.98 chunks_exact_to_as_chunks in indexed header decode
  grovedb/src/replication/indexed_sync.rs
Due: GroveDB Core

test: cover the backward-references flows; fill remaining query arms; richer bidi visualization
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/element/insert.rs
Due: GroveDB Core, Merk, Element

fix: propagate the end-of-chain hash on bidi retarget; heal moved commitments in conditional writes (review round)
  adr/atomicity.md
  adr/bidirectional_references.md
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/reference_path_tests.rs
  merk/src/element/insert.rs
Due: GroveDB Core, Merk

fix: reject prospective reference cycles; tolerate dangling backward references; guard indexed-primary rows (Codex review round)
  adr/bidirectional_references.md
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

docs: scope the dangling-reference docs to ordinary references
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

test(replication): measure the atomic restore's peak memory at scale
  grovedb/Cargo.toml
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_scale_tests.rs
Due: GroveDB Core

test(replication): property-test the untrusted state-sync decode surfaces
  grovedb/Cargo.toml
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_fuzz_tests.rs
Due: GroveDB Core

test(replication): pin v2-client-against-v1-source behaviour
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_compat_tests.rs
Due: GroveDB Core

test(replication): pin what pruning a checkpoint does to an in-flight sync
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_checkpoint_prune_tests.rs
Due: GroveDB Core

feat: rebill secondary-mirror re-key churn as replaced bytes
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: cover KVBackwardsReferencesValueHash in the branch-queries bench key extractor
  merk/benches/branch_queries.rs
Due: none

test(replication): measure phys_footprint, not RSS, and split the write batch from the flush
  grovedb/src/tests/replication_scale_tests.rs
Due: GroveDB Core

test(replication): guard the fuzz properties against going vacuous
  grovedb/src/tests/replication_fuzz_tests.rs
Due: GroveDB Core

test: cover partial-batch re-key churn combination
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
Due: GroveDB Core

feat: rebill secondary-mirror re-key churn as replaced bytes (#841)
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: bind the logical hash in batch reference chains; refuse the new proof node in V0 envelopes; widen family test coverage
  adr/bidirectional_references.md
  costs/src/context.rs
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/visualize.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/bidirectional_references_tests.rs
Due: GroveDB Core, Element

chore: drop the unused bitvec dependency
  Cargo.toml
  grovedb/Cargo.toml
Due: none

refactor(replication)!: collapse state sync to a single updated protocol version
  docs/book/src/count-indexed-tree.md
  grovedb/src/replication.rs
  grovedb/src/replication/indexed_sync.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_compat_tests.rs
  grovedb/src/tests/replication_scale_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/replication_version_tests.rs
Due: GroveDB Core

fix: address CodeRabbit review round — decode bounds, edge-update upsert, referrer-list authority, absence boundaries
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  merk/src/element/insert.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: address QuantumExplorer review round — proof downgrades, chunk binding, reciprocity, budgets, sweep guards
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/query.rs
  grovedb/src/lib.rs
  grovedb/src/merk_cache.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/reference_path.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  merk/src/merk/restore.rs
  merk/src/proofs/chunk/chunk.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

feat: ItemWithSumItemWithBackwardsReferences — the ItemWithSumItem twin that can be bidirectionally referenced
  CHANGELOG.md
  adr/bidirectional_references.md
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/debugger.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v2.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/insert_on_transaction/v0.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
  merk/src/element/get.rs
  merk/src/merk/restore.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk, Element

refactor: extract the pure semantic core of backward-references bookkeeping (batching M1)
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/bidirectional_references/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
Due: GroveDB Core

feat(replication)!: opt-in bounded-memory state sync restore
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

test(replication): measure the bounded-memory restore, and attribute the ceiling
  grovedb/src/tests/replication_scale_tests.rs
Due: GroveDB Core

feat: backward-references item family in apply_batch (batching M2)
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(replication): cap in-flight subtrees, or the payload budget does nothing
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
  grovedb/src/tests/replication_scale_tests.rs
Due: GroveDB Core

fix(replication): clamp a zero in-flight cap, and refuse a session after a failed commit
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
Due: GroveDB Core

docs(replication): set the restore budget default from the measured curve
  grovedb/src/replication.rs
Due: GroveDB Core

feat: bidirectional-reference ops in apply_batch (batching M3+M4)
  CHANGELOG.md
  adr/bidirectional_references.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

feat: estimated costs for backward-references batch ops (batching M5)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: address review round — same-target retargets, chunked bidi refs, read budgets, wrapper guard
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk, Element

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
