Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

feat: axis-ordered reads embedded in the GroveDBProof V1 envelope (#799)
  docs/book/src/count-indexed-tree.md
  grovedb-query/src/axis_query.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/axis_lowering.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
Due: GroveDB Core

feat: provable sum-budget reads — SumBudgetWindow in the GroveDBProof V1 envelope
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
Due: GroveDB Core

feat: provable sum-budget reads — SumBudgetWindow in the GroveDBProof V1 envelope (#807)
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
Due: GroveDB Core

feat: version the indexed-axis family; fallible, direction-aware merges
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat: version the indexed-axis family; fallible, direction-aware merges (#801)
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

refactor: rename the range-aggregate family to aggregate_over_value_range
  docs/book/src/count-indexed-tree.md
  grovedb-query/src/axis_query.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/axis_lowering.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

feat: explicit AggregateFold on the value-range aggregate (issue #806, part 1)
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/axis_lowering.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

fix: stop advertising count+Total; cover the refusal arms and the run dispatch
  grovedb-query/src/axis_query.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

docs: Population counts entries, not distinct values
  grovedb-query/src/axis_query.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

feat: explicit AggregateFold on the value-range aggregate (issue #806, part 1) (#808)
  docs/book/src/count-indexed-tree.md
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/axis_lowering.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

feat: dual-aggregate count secondary — count+Total served (closes #806)
  grovedb-query/src/axis_query.rs
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

feat: dual-aggregate count secondary — count+Total served (closes #806) (#809)
  grovedb-query/src/axis_query.rs
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

fix(tests): tolerate vanished files in get_files_size to deflake WAL/SST overhead test
  grovedb/src/tests/test_compaction_sizes.rs
Due: GroveDB Core

fix(tests): only tolerate NotFound metadata errors, panic on others
  grovedb/src/tests/test_compaction_sizes.rs
Due: GroveDB Core

docs: book chapter for the unified PathQuery
  docs/book/src/SUMMARY.md
  docs/book/src/query-system.md
  docs/book/src/unified-path-query.md
Due: none

fix: adapt the unified-stack test suites to IndexedTopKPage
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

refactor: one axis_row_payload for every writer and checker (#809 audit)
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
Due: GroveDB Core

fix: in-place replace for fixed-key avg payload updates; fixed golden bytes
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

feat: counted offset skip for unproved ranked paginated reads (#792)
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/lib.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/run_path_query_tests.rs
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
Due: GroveDB Core, Storage

fix(tests): deflake test_wal_and_sst_storage_overhead against vanished files (#810)
  grovedb/src/tests/test_compaction_sizes.rs
Due: GroveDB Core

fix: CommitmentTreeInsert under-costed in estimated-cost paths (#812)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: cover the deployed chunk_power in CommitmentTreeInsert estimates
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
Due: GroveDB Core, Element

test: pin the constructor-enforced chunk-power cap
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
Due: GroveDB Core

fix: bound commitment-tree element flags in the load estimate
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
Due: GroveDB Core

fix: gate the #812 estimation changes behind GROVE_V4
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
Due: GroveDB Core

refactor: declaration-required chunk_power and versioned cost dispatch
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
Due: GroveDB Core, Element

fix: saturate the epoch term in the CommitmentTreeInsert estimate
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core

refactor: one axis_row_payload for every writer and checker (#809 audit follow-up) (#811)
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

fix: CommitmentTreeInsert under-costed in estimated-cost paths (issue #812) (#813)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/commitment_tree_cost_bound_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

docs: book chapter for the unified PathQuery (#802)
  docs/book/src/SUMMARY.md
  docs/book/src/query-system.md
  docs/book/src/unified-path-query.md
Due: none

fix: address the PrivateDocumentStore review findings (PR #787)
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb-private-document-store/Cargo.toml
  grovedb-private-document-store/src/lib.rs
  grovedb-private-document-store/src/store.rs
  grovedb-private-document-store/src/test_utils.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/tests/private_document_store_tests.rs
  grovedb/src/util.rs
Due: GroveDB Core, BulkAppendTree

fix: thread the declared chunk power into PrivateDocumentStore estimates
  grovedb/src/batch/estimated_costs/average_case_costs.rs
Due: GroveDB Core

fix: address the second review round on PrivateDocumentStore (PR #787)
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb-private-document-store/src/lib.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core, BulkAppendTree, Element

fix: bill the uncached MMR root read on the lazy path (PR #787)
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core, BulkAppendTree

fix: address the review-body findings on PrivateDocumentStore (PR #787)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core, Element

test: descending merged proofs lose subset-verifiability of their branches
  grovedb/src/tests/merged_descending_subset_bound_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(costs): correct five hash and seek accounting errors on the store paths
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core, MMR, BulkAppendTree

test(pds): cover the corruption and storage-fault paths
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-private-document-store/src/store.rs
Due: BulkAppendTree

feat: canonical reference rows for indexed-tree secondaries (#814)
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/reference_resolution.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk

fix(costs): bill compaction work and MMR merge hashes
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
  grovedb-private-document-store/src/store.rs
Due: MMR, BulkAppendTree
