Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix(grovedb): two carrier-aggregate post-merge audit findings
  grovedb/src/operations/get/query.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

refactor(grovedb): dedupe shared aggregate-proof helpers into aggregate_common
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

refactor(grovedb): dedupe AggregateClassification and require_v1_envelope
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/classification.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/classification.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/classification.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
Due: GroveDB Core

docs: scrub PR-event / review-process references from comments
  grovedb-query/src/aggregate_count.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/non_counted_tests.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  merk/src/merk/mod.rs
  merk/src/proofs/query/aggregate_count/tests.rs
Due: GroveDB Core, Merk

Phase 1: drop CountIndexedTree, add PSIT/PCPSIT scaffolding + axes_digest + sort_keys
  grovedb-element/src/element/cidx_tests.rs
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-element/src/indexed/mod.rs
  grovedb-element/src/indexed/sort_keys.rs
  grovedb-element/src/lib.rs
  grovedb/src/batch/count_indexed_tree.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  merk/src/element/costs.rs
  merk/src/element/delete.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree/hash.rs
  merk/src/tree_type/costs.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

Phase 1: make test suite + bench compile after CountIndexedTree removal
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/v1_proof_tests.rs
  merk/src/element/insert.rs
  merk/src/tree/hash.rs
Due: GroveDB Core, Merk

fix(lint): clippy type_complexity on axes() + manual_div_ceil in axes_digest
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/indexed/mod.rs
  grovedb-element/src/lib.rs
  merk/src/tree/hash.rs
Due: Merk, Element

fix(merk): hash_for_link missing arms for indexed-tree primaries
  grovedb/src/tests/v1_proof_tests.rs
  merk/src/tree/mod.rs
  merk/src/tree/test_provable_count.rs
Due: GroveDB Core, Merk

Phase 2: enable direct insert/delete for ProvableSumIndexedTree and ProvableCountProvableSumIndexedTree
  grovedb-element/src/element/helpers.rs
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/tree/mod.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Merk, Storage, Element

test(indexed-trees): add comprehensive PCIT/PSIT/PCPSIT integration tests
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

test(merk,grovedb-element): unit tests for reconstruct_with_axes and aggregate helpers
  grovedb-element/src/element/cidx_tests.rs
  grovedb-element/src/element/helpers.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  merk/src/element/reconstruct.rs
Due: GroveDB Core, Merk, Element

test(pcpsit): add direct-API db.insert validated-path rejection tests
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

feat(indexed_tree): generalize direct queries to per-axis families
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

test(indexed_tree): cover indexed_count_*/indexed_sum_* direct queries
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

test(indexed_tree): cover indexed_count/sum/avg direct queries on PCPSIT
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

test(pcit): comprehensive proof generation + verification tests
  grovedb/src/tests/mod.rs
  grovedb/src/tests/pcit_proof_tests.rs
Due: GroveDB Core

test(verify_grovedb): consistency tests for PCIT/PSIT/PCPSIT
  grovedb/src/tests/mod.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

test(insert): direct-API edge cases for PCIT/PSIT/PCPSIT
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(batch): indexed-tree batch path coverage
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(insert): cover non-empty PCIT/PSIT/PCPSIT validated insert paths
  grovedb/src/tests/direct_insert_indexed_tests.rs
Due: GroveDB Core

test(verify_grovedb): depth>1 propagation + PSIT corruption detection
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

test(batch): cidx primary mutation + apply_partial_batch coverage
  grovedb/src/tests/batch_indexed_tree_tests.rs
Due: GroveDB Core

test(pcit_proof): triple-nested cidx + range edge cases
  grovedb/src/tests/pcit_proof_tests.rs
Due: GroveDB Core

test(verify_grovedb): PCPSIT axis corruption + PCIT orphan + stress
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

test(indexed_trees): depth>1 propagation in PCIT/PSIT/PCPSIT modules
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

feat(proof): add unified per-axis indexed-tree proof envelopes (Phase 4)
  grovedb/src/operations/proof/indexed_axis.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

test(proof): add 34 round-trip + tamper tests for unified indexed-axis proofs
  grovedb/src/operations/proof/indexed_axis.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(indexed_axis): 34 tamper/edge/axis-grid tests for unified envelopes
  grovedb/src/tests/indexed_axis_proof_tests.rs
Due: GroveDB Core

test(element,delete): Display arms for indexed variants + delete tests
  grovedb-element/src/element/mod.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core, Element

test(costs,query): indexed-tree estimated cost paths + dispatch tests
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/query_indexed_tree_dispatch_tests.rs
Due: GroveDB Core

test(verify): V1 cidx descent tamper tests
  grovedb/src/tests/mod.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
Due: GroveDB Core

test(element): relax Debug test assertions for visualize feature
  grovedb-element/src/element/mod.rs
Due: Element

test(element): helpers and constructor edge cases for indexed types
  grovedb-element/src/element/helpers.rs
Due: Element

feat(element): add required_{item,reference}_with_sum_item_space helpers
  grovedb-element/src/element/helpers.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
Due: Element

test(element): cover version-mismatch path for new sum_item helpers
  grovedb-element/tests/element_constructors_helpers.rs
Due: none

test(coverage): round 7 surgical tests for batch + indexed_axis verifier
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(coverage): more round 7 tests for indexed_axis verifier + cleanup paths
  grovedb/src/tests/coverage_round7_tests.rs
Due: GroveDB Core

test(coverage): more round 7 batch + chained-query + lib.rs tests
  grovedb/src/tests/coverage_round7_tests.rs
Due: GroveDB Core

feat(element): add required_{item,reference}_with_sum_item_space helpers (#673)
  grovedb-element/src/element/helpers.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
Due: Element
