Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

simplify: remove unreachable branch in insert_item
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
Due: none

test: add InsertOnly and DeleteTree coverage for unbatched ops
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

refactor: shorten error messages in bounds checks for coverage
  grovedb/src/replication.rs
Due: GroveDB Core

refactor: simplify error messages in bounds checks
  grovedb-bulk-append-tree/src/chunk.rs
Due: BulkAppendTree

fix: replace .expect() with error propagation in visualize (L12) (#582)
  grovedb/src/visualize.rs
Due: GroveDB Core

fix: add InsertOnly and DeleteTree to apply_operations_without_batching (L5) (#575)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: add depth guard to terminal_keys recursion (L2) (#572)
  grovedb-query/src/query.rs
  grovedb-query/tests/query_terminal_and_merge.rs
Due: none

refactor: condense security check blocks for coverage
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

fix: add bounds checks to pack_nested_bytes and encode_global_chunk_id (L9, L16) (#579)
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

fix: validate version byte in Query::borrow_decode (L1) (#571)
  grovedb-query/src/query.rs
  grovedb-query/tests/query_api_and_serialization.rs
Due: none

fix: document balance_factor overflow impossibility (M7) (#564)
  merk/src/tree/mod.rs
Due: Merk

fix: add u32 bounds checks to chunk blob serialization (L15) (#585)
  grovedb-bulk-append-tree/src/chunk.rs
  grovedb-bulk-append-tree/src/tree/append.rs
Due: BulkAppendTree

fix: return errors instead of panicking in calculate_chunk_depths (#554)
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/src/merk/mod.rs
  merk/src/proofs/branch/depth.rs
Due: GroveDB Core, Merk

fix: use CorruptedData instead of InternalError for root hash validation
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

docs: add TODO for non-atomic root hash verification
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: validate empty subtree chunks during state sync (M2) (#559)
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

test: add unit test proving M4 subquery overwrite bug
  grovedb-query/src/merge.rs
Due: none

fix: save self subquery before overwriting in merge (H4) (#561)
  grovedb-query/src/merge.rs
Due: none

fix: preserve query flags in merge operations (M5) (#562)
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
Due: none

fix: enforce validate_insertion_does_not_override_tree in batch path (M6) (#563)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: replace unreachable!() with overwrite in Query::insert_item (M11) (#568)
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
Due: none

fix: collapse nested if statements to satisfy clippy
  merk/src/tree/mod.rs
Due: Merk

fix: re-enable merk AVL fuzz tests (L13)
  merk/src/tree/fuzz_tests.rs
Due: Merk

fix: re-enable merk AVL fuzz tests (L13) (#583)
  merk/src/tree/fuzz_tests.rs
Due: Merk

fix: return Result from Link::into_reference instead of panicking (#569)
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
Due: Merk

fix: reject incomplete sessions in commit() and assert error variant
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

fix: verify root hash before committing state sync session (H3) (#558)
  .codecov.yml
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  tutorials/src/bin/replication.rs
Due: GroveDB Core

test: add KV→KVValueHash proof forgery regression test (C1)
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

refactor: simplify C1 check — reject non-tree elements from KVValueHash
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: restore value_hash recomputation for item validation
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: return accumulated costs from commit_batch instead of discarding (#566)
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
Due: Storage

fix: enforce InsertOnly semantics in batch execution path
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: use saturating_add in StorageCost and StorageRemovedBytes arithmetic
  costs/src/storage_cost/mod.rs
  costs/src/storage_cost/removal.rs
Due: none

fix: prevent u16 truncation in limit tracking for queries and proofs
  grovedb/src/element/query.rs
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: propagate write errors in ChunkOp::encode_into
  merk/src/proofs/chunk/chunk_op.rs
Due: Merk

fix: preserve original error details in map_err closures
  grovedb/src/operations/delete/mod.rs
  grovedb/src/replication.rs
  merk/src/element/get.rs
Due: GroveDB Core, Merk

fix: enforce set_new_transaction precondition in release builds
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

docs: add inline documentation for audit design findings
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: propagate write errors in ChunkOp::encode_into (#589)
  merk/src/proofs/chunk/chunk_op.rs
Due: Merk

fix: use saturating_add in StorageCost and StorageRemovedBytes arithmetic (#587)
  costs/src/storage_cost/mod.rs
  costs/src/storage_cost/removal.rs
Due: none
