Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

bench(commitment-tree): add 1M frontier-less seeding throughput benchmark
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/seeding.rs
Due: none

test(commitment-tree): cover frontier-less seeding error paths for patch coverage
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

feat(commitment-tree): batched append_many_raw — replace _without_frontier API
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_frontier/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb/Cargo.toml
Due: Commitment Tree, BulkAppendTree

docs(commitment-tree): add --features server to seeding bench example commands
  grovedb-commitment-tree/benches/seeding.rs
Due: none

fix(commitment-tree): don't commit_mmr inside append_many_raw
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
Due: Commitment Tree

test(commitment-tree): cover append_many_raw + frontier error paths
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/src/commitment_frontier/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree, BulkAppendTree

perf(commitment-tree): batched append_many_raw — replace _without_frontier API (#751)
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_frontier/mod.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree, BulkAppendTree

docs: mark intentional audit false positives so they aren't re-flagged
  grovedb-element/src/element/serialize.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/replication.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage, Element

docs: address review on #696/#717 audit notes
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/replication.rs
Due: GroveDB Core

style: cargo fmt --all
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb/src/operations/commitment_tree.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage, BulkAppendTree

chore: drop vestigial BulkAppendTree::append_many helper
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
Due: BulkAppendTree

feat: gate snapshot-bootstrap surface behind `unsafe-dump-load` feature
  grovedb/Cargo.toml
  grovedb/src/lib.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/replace_subtree_root.rs
  storage/Cargo.toml
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage

style: cargo fmt (cfg-gated import order)
  storage/src/rocksdb_storage/storage.rs
Due: Storage

test(grovedb): unsafe-dump-load subtree roundtrip + non-tree rejection
  grovedb/Cargo.toml
  grovedb/src/tests/commitment_tree_tests.rs
Due: GroveDB Core

feat: subtree dump/restore primitives (#752)
  grovedb/Cargo.toml
  grovedb/src/lib.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/replace_subtree_root.rs
  grovedb/src/tests/commitment_tree_tests.rs
  storage/Cargo.toml
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage

fix(storage): flush all column families in RocksDbStorage::flush()
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix(insert): restore v4.1.0 non-batch dispatch for count/sum trees (protocol-v11 consensus)
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

deps(commitment-tree): migrate orchard to 0.14.0 (circuit soundness fix)
  grovedb-commitment-tree/Cargo.toml
Due: none

deps(commitment-tree): migrate orchard to 0.14.0 (circuit soundness fix) (#758)
  grovedb-commitment-tree/Cargo.toml
Due: none

fix(insert): version-gate add_element_on_transaction (v0=Op::Put, v1=layered)
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

test(insert): cover all add_element_on_transaction arms under v0 and v1
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

fix: version-gate add_element_on_transaction (v0=Op::Put, v1=layered) (#759)
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

feat(commitment-tree): re-export ProofSizeEnforcement + ActionFromPartsError
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

feat(commitment-tree): re-export ProofSizeEnforcement + ActionFromPartsError (#760)
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

feat(commitment-tree): add cv_net to the stored note item for OVK recovery
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core, Commitment Tree

docs(book): document cv_net in the commitment-tree item layout
  docs/book/src/batch-operations.md
  docs/book/src/commitment-tree.md
  docs/book/src/element-system.md
  docs/book/src/quantum-cryptography.md
Due: none

docs: mark intentional audit false positives (#696, #698, #717) so they aren't re-flagged (#754)
  grovedb-element/src/element/serialize.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/replication.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage, Element

refactor(commitment-tree): named CommitmentEntry for append_many_raw
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

docs(book): fix scale-table totals in European-format translations
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/id/src/quantum-cryptography.md
  docs/book/translations/pl/src/quantum-cryptography.md
  docs/book/translations/pt/src/quantum-cryptography.md
Due: none

docs(book): fix flagged translation language issues (ar/fr/pt)
  docs/book/translations/ar/src/element-system.md
  docs/book/translations/fr/src/element-system.md
  docs/book/translations/pt/src/element-system.md
Due: none

feat(commitment-tree): re-export OrchardNoteEncryption + ValueCommitTrapdoor
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

feat(commitment-tree): re-export OrchardNoteEncryption + ValueCommitTrapdoor (#762)
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

feat(commitment-tree): re-export try_output_recovery_with_ovk + OutgoingCipherKey
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

feat(commitment-tree): re-export try_output_recovery_with_ovk + OutgoingCipherKey (#763)
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

test(insert): extend add_element_on_transaction coverage to indexed-tree arms
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
