Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

refactor(batch): scope merk binding to fast-path only in process_reference
  grovedb/src/batch/mod.rs
Due: GroveDB Core

feat(grovedbg-types,debugger): dedicated wire variant for ReferenceWithSumItem
  grovedb/src/debugger.rs
  grovedbg-types/Cargo.toml
  grovedbg-types/src/lib.rs
Due: GroveDB Core

refactor(batch): unify RefreshReference + RefreshReferenceWithSumItem into one variant
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

refactor(batch): encode trust mode into RefreshReferenceMode (5 variants, no invalid pairs)
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

refactor(batch): extract RefreshReferenceMode into its own module
  grovedb/src/batch/mod.rs
  grovedb/src/batch/refresh_reference_mode.rs
Due: GroveDB Core

chore(batch): drop the do-not-reuse-17 comment from GroveOp::to_u8
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor(batch): add non_counted parameter to refresh_reference_op
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

feat(grovedb,element): add Element::ReferenceWithSumItem variant + RefreshReferenceWithSumItem batch op (#667)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/refresh_reference_mode.rs
  grovedb/src/debugger.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/reference_path.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  grovedbg-types/Cargo.toml
  grovedbg-types/src/lib.rs
  merk/src/element/get.rs
Due: GroveDB Core, Merk, Element

ci: drop broken self-hosted macOS runner, run sharded on Ubuntu directly
  .github/workflows/grovedb.yml
Due: none

ci: drop broken self-hosted macOS runner, run sharded on Ubuntu directly (#668)
  .github/workflows/grovedb.yml
Due: none

test(crossover): ReferenceWithSumItem × ProvableSumTree combinations
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

refactor(merk/proofs): hoist shared aggregate-on-range helpers to aggregate_common
  merk/src/proofs/query/aggregate_common.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/aggregate_sum.rs
  merk/src/proofs/query/mod.rs
Due: Merk

refactor(merk/proofs): split aggregate_sum.rs into aggregate_sum/ subdirectory
  merk/src/proofs/query/aggregate_sum.rs
  merk/src/proofs/query/aggregate_sum/emit.rs
  merk/src/proofs/query/aggregate_sum/mod.rs
  merk/src/proofs/query/aggregate_sum/prove.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
  merk/src/proofs/query/aggregate_sum/verify.rs
  merk/src/proofs/query/aggregate_sum/walk.rs
Due: Merk

refactor(merk/proofs): split aggregate_count.rs into aggregate_count/ subdirectory
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/aggregate_count/emit.rs
  merk/src/proofs/query/aggregate_count/mod.rs
  merk/src/proofs/query/aggregate_count/prove.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_count/verify.rs
  merk/src/proofs/query/aggregate_count/verify_only_tests.rs
  merk/src/proofs/query/aggregate_count/walk.rs
Due: Merk

fix(verify): skip aggregate-consistency check for cidx primary children
  grovedb/src/lib.rs
Due: GroveDB Core

fix(tests): bump discriminant-pinning tests for slot 20
  grovedb-element/src/element_type.rs
  merk/src/tree_type/mod.rs
Due: Merk, Element

feat: ProvableCountProvableSumTree tests + integration completion
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/element/costs.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree/hash.rs
Due: GroveDB Core, Merk

feat(grovedb,merk): provable offset paginated queries on ProvableCount(Sum)Tree
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/prove.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

test(count_offset): adversarial verifier + validator branch coverage
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/tests.rs
Due: GroveDB Core, Merk

fix(count_offset): address CodeRabbit review on PR #669
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

test(count_offset): cover V0 proof envelope + nonexistent-path branch
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

feat: dual-axis Node emission unblocks crossover proofs against PCPS
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/proofs/query/aggregate_count/emit.rs
  merk/src/proofs/query/aggregate_count/prove.rs
  merk/src/proofs/query/aggregate_count/verify.rs
  merk/src/proofs/query/aggregate_sum/emit.rs
  merk/src/proofs/query/aggregate_sum/prove.rs
  merk/src/proofs/query/aggregate_sum/verify.rs
Due: GroveDB Core, Merk

fix(count_offset): close two soundness gaps from CodeRabbit review
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(verify): collapse if-let-and-condition to satisfy CI clippy
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

test(count_offset): forge proofs to exercise verifier rejection branches
  merk/src/proofs/query/count_offset/tests.rs
Due: Merk

fix(clippy): indent continuation lines in doc comment
  grovedb-element/src/element_type.rs
Due: Element

test(count_offset): more forging tests targeting remaining verifier branches
  merk/src/proofs/query/count_offset/tests.rs
Due: Merk

refactor(verify): mark allowlist-protected catch-alls unreachable; drop dead consistency check
  merk/src/proofs/query/count_offset/verify.rs
Due: Merk

test(count_offset): V0-envelope rejection coverage
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

test: add coverage for dual-axis Node variants + TreeFeatureType + predicates
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  merk/src/proofs/tree.rs
  merk/src/tree/mod.rs
  merk/src/tree/tree_feature_type.rs
  merk/src/tree_type/mod.rs
Due: Merk

refactor(verify): extract shared count-offset layer dispatch helper
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

refactor(emit): mark walk-returned-None branches unreachable
  merk/src/proofs/query/count_offset/emit.rs
Due: Merk

style: cargo fmt
  grovedb-query/src/proofs/mod.rs
  merk/src/proofs/tree.rs
  merk/src/tree/tree_feature_type.rs
Due: Merk

test: constructors + helpers for ProvableCountProvableSumTree
  grovedb-element/tests/element_constructors_helpers.rs
Due: none

test: more PCPS coverage — proof_node_type + dual-axis verifier paths
  grovedb-element/src/element_type.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
Due: Merk, Element

revert(v0): keep V0 proofs frozen; add DO NOT MODIFY banners
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

test: encoding_length + regular-query reject paths for dual-axis Nodes
  grovedb-query/src/proofs/mod.rs
  merk/src/proofs/query/aggregate_count/tests.rs
Due: Merk

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
