Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

feat(merk,grovedb): add no-proof query_aggregate_count entry point (#662)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/merk/get.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

feat(merk,grovedb): add no-proof query_aggregate_sum entry point
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  merk/src/merk/get.rs
  merk/src/proofs/query/aggregate_sum.rs
Due: GroveDB Core, Merk

test(cidx): 7 more coverage tests targeting patch-coverage gaps
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(cidx): 4 more coverage tests for verify and propagate paths
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(query_item): mirror AggregateCountOnRange tests for AggregateSumOnRange
  grovedb-query/src/query_item/mod.rs
Due: none

test(element/helpers): per-variant flag-accessor coverage
  grovedb-element/src/element/helpers.rs
Due: Element

test(grovedb): unit coverage for aggregate_consistency_labels
  grovedb/src/lib.rs
Due: GroveDB Core

test(grovedb/proof): verifier error-path coverage for aggregate-sum
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

test(merk/aggregate_sum): unit coverage for helpers and edge cases
  merk/src/proofs/query/aggregate_sum.rs
Due: Merk

test(cidx): 8 more coverage tests for query + V1 proof terminal paths
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(non-merk trees): aggregate-sum/count rejection in index helpers
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
Due: BulkAppendTree

test: per-variant tree_type extensions + sum-proof Display arms
  grovedb/src/tests/aggregate_sum_query_tests.rs
  merk/src/element/tree_type.rs
Due: GroveDB Core, Merk

test(cidx): 4 batch + partial-batch tests targeting patch coverage
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

nit(coderabbit): doc-comment + test + error-wrap polish
  grovedb-query/src/query_item/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

test(cidx): 3 more coverage tests for verify-sentinel + batch propagate
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(cidx): 2 V1 proof verify tamper tests
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(cidx): 5 broader tests targeting provable cidx + batch + query paths
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(merk): 4 cidx subtree insert error-branch tests
  merk/src/element/insert.rs
Due: Merk

test(merk): 5 cidx-arm tests for tree_type extensions + Op debug
  merk/src/element/tree_type.rs
  merk/src/tree/ops.rs
Due: Merk

test(cidx): repro flaky bug — regular batch delete_op on cidx primary entry not mirroring to secondary
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test(cidx): 2 V1 verify tests for subquery-into-cidx add_parent_tree branch
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(cidx): mirror non-counted guard in batch insert API; add error context
  grovedb/src/operations/proof/count_indexed.rs
  merk/src/element/insert.rs
Due: GroveDB Core, Merk

ci: relax patch coverage target from 90% to 88%
  .codecov.yml
Due: none

fix(cidx): sort batch secondary-mirror deltas deterministically
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

refactor(element): move cidx_tests to its own file
  grovedb-element/src/element/cidx_tests.rs
  grovedb-element/src/element/mod.rs
Due: Element

fix(clippy): drop redundant let-rebind on deltas
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor(batch): rename ReplaceCountIndexedTreeRootKeys → ReplaceAggregateIndexedTreeRootKeys
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

refactor(batch): extract cidx pre-state + post-apply mirror helpers
  grovedb/src/batch/cidx.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix(batch): reject fresh cidx + descendant writes; wrap cidx Merk errors
  grovedb/src/batch/cidx.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(grovedb,query): allow AggregateCountOnRange as carrier subquery
  grovedb-query/src/query.rs
  grovedb/src/lib.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(grovedb,query): address review feedback on carrier ACOR
  grovedb-query/src/aggregate_count.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb/src/lib.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test(grovedb,query): boost carrier ACOR patch coverage
  grovedb-query/src/aggregate_count.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

refactor(grovedb): reject V0 envelopes for AggregateCountOnRange entirely
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(grovedb): support right-to-left direction in carrier ACOR verifier
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

docs(grovedb): tone down carrier ACOR direction comment
  grovedb/src/operations/proof/aggregate_count.rs
Due: GroveDB Core

refactor(grovedb,query): drop "ACOR" abbreviation for forward-compat
  grovedb-query/src/aggregate_count.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

refactor(grovedb): split aggregate_count proof module into submodules
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/aggregate_count/classification.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/leaf_chain.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
Due: GroveDB Core

fix(grovedb): canonical decoding for aggregate-count proofs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test(grovedb,query): pin nested-carrier rejection
  grovedb-query/src/aggregate_count.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test(grovedb): pin SQL-style A=1, B>4, COUNT(C>4) carrier query
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
