Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix: reset parent element and commitment when clearing append-family trees (#893)
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/delete/clear_subtree/mod.rs
  grovedb/src/operations/delete/clear_subtree/v0.rs
  grovedb/src/operations/delete/clear_subtree/v1.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/clear_append_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test: cover the frozen v0 clear_subtree paths and the version dispatcher
  grovedb/src/tests/clear_append_tree_tests.rs
Due: GroveDB Core

fix: reset parent element and commitment when clearing append-family trees (#893) (#931)
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/delete/clear_subtree/mod.rs
  grovedb/src/operations/delete/clear_subtree/v0.rs
  grovedb/src/operations/delete/clear_subtree/v1.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/clear_append_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

refactor(query): unify validation across reads and proofs
  docs/query-validation.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/query/validated.rs
  grovedb/src/tests/fixtures/validated_path_query.txt
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/validated_path_query_tests.rs
Due: GroveDB Core

fix(grovedb): validate indexed secondary roots against the stored element (#897) (#930)
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

fix(batch): enforce partial batch cross-segment safeguards
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
Due: GroveDB Core

fix(grovedb): reject keyed batch ops under non-Merk append-family parents (#900) (#929)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix: preserve NonCounted wrapper on typed non-Merk tree appends (GROVE_V4)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/mod.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v0.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v1.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_wrapper_preservation_tests.rs
Due: GroveDB Core

fix(batch): keep both segments of apply_partial_batch on one live Merk cache (#842) (#927)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/tests/indexed_secondary_rekey_cost_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_coherence_tests.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage

test(query): cover validation version and envelope boundaries
  grovedb/src/tests/validated_path_query_tests.rs
Due: GroveDB Core

test: cover the rewrap dispatcher arms; surface wrap errors as ElementError
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/mod.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v0.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v1.rs
Due: GroveDB Core

fix(proofs): preserve zero-count subtrees after the page limit
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/tests.rs
Due: GroveDB Core, Merk

fix(batch): preserve partial-batch collision contracts
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/tests/partial_batch_add_on_collision_tests.rs
Due: GroveDB Core

fix(proofs): count-offset proofs refuse to collapse over non-unit rows (#864) (#924)
  CHANGELOG.md
  docs/book/src/count-offset-paginated-queries.md
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(batch): compose partial-batch add-on ops with pending ancestor updates (#708) (#925)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/partial_batch_add_on_collision_tests.rs
Due: GroveDB Core

fix: preserve NonCounted wrapper on typed non-Merk tree appends (GROVE_V4) (#933)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/mod.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v0.rs
  grovedb/src/operations/rewrap_non_merk_tree_parent_element/v1.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_wrapper_preservation_tests.rs
Due: GroveDB Core

fix(grovedb): sweep nested indexed secondaries in every recursive cleanup (#888)
  grovedb/src/batch/mod.rs
  grovedb/src/operations/auxiliary.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/nested_indexed_secondary_cleanup_tests.rs
Due: GroveDB Core

fix: preserve versioned batch cleanup costs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/operations/auxiliary.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/nested_indexed_secondary_cleanup_tests.rs
Due: GroveDB Core

fix(grovedb): sweep nested indexed secondaries in every recursive cleanup (#888) (#934)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/operations/auxiliary.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v0.rs
  grovedb/src/operations/delete/delete_internal_on_transaction/v1.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/nested_indexed_secondary_cleanup_tests.rs
Due: GroveDB Core

refactor(query): fail closed on shape policy gaps, carry V1 envelope by type
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/shape.rs
  grovedb/src/query/validated.rs
Due: GroveDB Core

fix(commitment-tree): make client append atomic and align checkpoint ordering across backends (#882)
  grovedb-commitment-tree/src/client/client_memory_commitment_tree.rs
  grovedb-commitment-tree/src/client/client_persistent_commitment_tree.rs
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/tests.rs
  grovedb-commitment-tree/src/error.rs
Due: Commitment Tree

refactor(query): unify validation across reads and proofs (#932)
  docs/query-validation.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/query/validated.rs
  grovedb/src/tests/fixtures/validated_path_query.txt
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/validated_path_query_tests.rs
Due: GroveDB Core

fix(commitment-tree): roll back failed savepoint commits
  grovedb-commitment-tree/src/client/client_persistent_commitment_tree.rs
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
Due: Commitment Tree

fix(commitment-tree): make client append atomic and align checkpoint ordering across backends (#882) (#935)
  grovedb-commitment-tree/src/client/client_memory_commitment_tree.rs
  grovedb-commitment-tree/src/client/client_persistent_commitment_tree.rs
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/sql_helpers.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
  grovedb-commitment-tree/src/client/tests.rs
  grovedb-commitment-tree/src/error.rs
Due: Commitment Tree

fix(proof): allow v1 parent info count-offset proofs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix(proof): refuse absence-proof assembly on offset-paginated queries
  CHANGELOG.md
  docs/book/src/count-offset-paginated-queries.md
  docs/query-validation.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/validated_path_query_tests.rs
Due: GroveDB Core

feat(grovedbg): surface bidirectional references in the debugger wire format
  grovedb/Cargo.toml
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedbg-types/src/lib.rs
Due: GroveDB Core

fix(grovedbg): preserve legacy clients and unknown proof counts
  grovedb/src/debugger.rs
  grovedbg-types/src/lib.rs
Due: GroveDB Core

feat(grovedbg): surface bidirectional references in the debugger wire format (#937)
  grovedb/Cargo.toml
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedbg-types/src/lib.rs
Due: GroveDB Core

fix(proof): return empty target metadata in parent-info proofs
  CHANGELOG.md
  docs/book/src/count-offset-paginated-queries.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

fix(proof): allow parent-tree-info count-offset proofs and refuse absence assembly on offset pagination (#707) (#936)
  CHANGELOG.md
  docs/book/src/count-offset-paginated-queries.md
  docs/query-validation.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/validated_path_query_tests.rs
Due: GroveDB Core

chore: update rocksdb to 0.25.0
  grovedb/Cargo.toml
  storage/Cargo.toml
Due: none

chore: update rocksdb to 0.25.0 (#939)
  grovedb/Cargo.toml
  storage/Cargo.toml
Due: none

ci: check imported bincode only when it changes
  .codecov.yml
  .github/workflows/grovedb.yml
  grovedb-bincode/GROVEDB.md
Due: none

fix: bound element decoding resources
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/bounded_decode.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/lib.rs
  grovedb-element/src/reference_path/mod.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core, Element

fix: move collection allocation guards into grovedb-bincode
  Cargo.toml
  grovedb-bincode-derive/GROVEDB.md
  grovedb-bincode/Cargo.toml
  grovedb-bincode/GROVEDB.md
  grovedb-bincode/src/error.rs
  grovedb-bincode/src/features/impl_alloc.rs
  grovedb-bincode/src/features/impl_std.rs
  grovedb-bincode/src/features/serde/de_borrowed.rs
  grovedb-bincode/src/features/serde/de_owned.rs
  grovedb-bincode/tests/collection_allocation.rs
  grovedb-bincode/tests/upstream_compatibility.rs
  grovedb-element/Cargo.toml
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/bounded_decode.rs
  grovedb-element/src/element/decode.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/lib.rs
  grovedb-element/src/reference_path/mod.rs
Due: Element

fix: add explicit untrusted bincode decoding
  grovedb-bincode/Cargo.toml
  grovedb-bincode/GROVEDB.md
  grovedb-bincode/src/de/decoder.rs
  grovedb-bincode/src/de/mod.rs
  grovedb-bincode/src/error.rs
  grovedb-bincode/src/features/impl_alloc.rs
  grovedb-bincode/src/features/impl_std.rs
  grovedb-bincode/src/features/serde/de_borrowed.rs
  grovedb-bincode/src/features/serde/de_owned.rs
  grovedb-bincode/src/features/serde/mod.rs
  grovedb-bincode/src/lib.rs
  grovedb-bincode/tests/collection_allocation.rs
  grovedb-bincode/tests/ordinary_decode_compatibility.rs
  grovedb-bincode/tests/upstream_compatibility.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/decode.rs
  grovedb-element/src/element/serialize.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/visualize.rs
Due: GroveDB Core, MMR, BulkAppendTree, Element

feat: add explicit untrusted decoding traits and derives
  Cargo.toml
  grovedb-bincode-derive/Cargo.toml
  grovedb-bincode-derive/GROVEDB.md
  grovedb-bincode-derive/src/attribute.rs
  grovedb-bincode-derive/src/derive_enum.rs
  grovedb-bincode-derive/src/derive_struct.rs
  grovedb-bincode-derive/src/lib.rs
  grovedb-bincode/Cargo.toml
  grovedb-bincode/GROVEDB.md
  grovedb-bincode/src/atomic.rs
  grovedb-bincode/src/de/decoder.rs
  grovedb-bincode/src/de/mod.rs
  grovedb-bincode/src/de/untrusted.rs
  grovedb-bincode/src/de/untrusted_impls.rs
  grovedb-bincode/src/features/derive.rs
  grovedb-bincode/src/features/impl_alloc.rs
  grovedb-bincode/src/features/impl_alloc_untrusted.rs
  grovedb-bincode/src/features/impl_std.rs
  grovedb-bincode/src/features/impl_std_untrusted.rs
  grovedb-bincode/src/features/mod.rs
  grovedb-bincode/src/features/serde/de_borrowed.rs
  grovedb-bincode/src/features/serde/de_owned.rs
  grovedb-bincode/src/features/serde/mod.rs
  grovedb-bincode/src/features/serde/untrusted.rs
  grovedb-bincode/src/lib.rs
  grovedb-bincode/tests/collection_allocation.rs
  grovedb-bincode/tests/ordinary_decode_compatibility.rs
  grovedb-bincode/tests/untrusted_derive.rs
  grovedb-bincode/tests/upstream_compatibility.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-element/Cargo.toml
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/decode.rs
  grovedb-element/src/reference_path/mod.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core, MMR, BulkAppendTree, Element

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
