Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix(costs): drop the duplicated MMR merge charge, and report bagging
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-private-document-store/src/store.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core, BulkAppendTree

feat: authenticate canonical axis rows and resolve them in proofs (#814)
  docs/book/src/count-indexed-tree.md
  grovedb/src/batch/mod.rs
  grovedb/src/operations/proof/indexed_axis/reference_resolution.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

feat: use references for indexed tree rows
  grovedb-element/src/element/mod.rs
  grovedb-element/src/indexed/mod.rs
  grovedb-element/src/lib.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/replace_subtree_root.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/batch_indexed_fresh_create_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/coverage_lib_paths_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  merk/src/merk/prove_count_offset.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/prove.rs
Due: GroveDB Core, Merk, Element

fix: refresh canonical rows on every direct non-Merk append (#814)
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
Due: GroveDB Core

feat: resolved values in indexed reads, via path-proof-free target chains (#814)
  docs/book/src/count-indexed-tree.md
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/reference_resolution.rs
  grovedb/src/operations/proof/indexed_axis/target_chain.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/batch_indexed_fresh_create_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_size_measurement.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk

optimize indexed reference row proofs
  docs/book/src/count-indexed-tree.md
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/batch_indexed_fresh_create_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/batch_indexed_overwrite_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/coverage_batch_indexed_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/merk/prove_count_offset.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/prove.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

Optimize indexed reads and pin row diagnostics
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat(version): gate the MMR hash-charge corrections behind V0/V1
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-merkle-mountain-range/src/cost/mod.rs
  grovedb-merkle-mountain-range/src/cost/v0.rs
  grovedb-merkle-mountain-range/src/cost/v1.rs
  grovedb-merkle-mountain-range/src/error.rs
  grovedb-merkle-mountain-range/src/lib.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
  grovedb-private-document-store/Cargo.toml
  grovedb-private-document-store/src/store.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/mmr_versions.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/mod.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
Due: GroveDB Core, MMR, BulkAppendTree

fix: correct reference-chain semantics; adopt #816's API and lint hygiene (#814)
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/target_chain.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/batch_indexed_fresh_create_tests.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/batch_indexed_overwrite_tests.rs
  grovedb/src/tests/coverage_batch_indexed_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_offset_proof_tests.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(costs): gate the CommitmentTree compaction under-charge into V4
  grovedb-bulk-append-tree/src/cost/mod.rs
  grovedb-bulk-append-tree/src/cost/v0.rs
  grovedb-bulk-append-tree/src/cost/v1.rs
  grovedb-bulk-append-tree/src/error.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-merkle-mountain-range/src/helper.rs
  grovedb-merkle-mountain-range/src/lib.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/bulk_append_tree_versions.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
Due: GroveDB Core, Commitment Tree, MMR, BulkAppendTree

fix(bulk-append): drop the dead initializer flagged by -D warnings
  grovedb-bulk-append-tree/src/tree/append.rs
Due: BulkAppendTree

refactor: refresh indexed rows inside the propagation walk (#814)
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/replace_subtree_root.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
Due: GroveDB Core

refactor: take grove_version directly instead of paired _with_version methods
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/tests.rs
  grovedb-commitment-tree/benches/seeding.rs
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

fix: keep the verify-only build compiling (#814)
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/indexed_axis/canonical_row.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/target_chain.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
Due: GroveDB Core

refactor(mmr): take grove_version directly on push, get_root and gen_proof
  grovedb-bulk-append-tree/src/tree/append.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  grovedb-merkle-mountain-range/src/cost/mod.rs
  grovedb-merkle-mountain-range/src/cost/v0.rs
  grovedb-merkle-mountain-range/src/cost/v1.rs
  grovedb-merkle-mountain-range/src/lib.rs
  grovedb-merkle-mountain-range/src/mmr.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
  grovedb-merkle-mountain-range/src/tests/test_helper.rs
  grovedb-merkle-mountain-range/src/tests/test_incremental.rs
  grovedb-merkle-mountain-range/src/tests/test_mmr.rs
  grovedb-merkle-mountain-range/src/tests/test_storage_adapter.rs
  grovedb/src/lib.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/bind_terminal_non_merk_tree/v1.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core, MMR, BulkAppendTree

fix: address CodeRabbit review — read consistency, cost sizing, hop bound (#814)
  docs/book/src/count-indexed-tree.md
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/target_chain.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/indexed_reference_row_tests.rs
Due: GroveDB Core

fix: drop a dead binding left by the paginated verify reorder (#814)
  grovedb/src/operations/proof/indexed_axis/verify.rs
Due: GroveDB Core

fix: gate a test-only trait import behind the feature that uses it (#814)
  grovedb/src/tests/indexed_reference_row_tests.rs
Due: GroveDB Core

test(pds): cover the empty-at-creation guard on total_count
  grovedb/src/tests/private_document_store_tests.rs
Due: GroveDB Core

test: adversarial coverage for the resolved-target chain (#814)
  grovedb/src/tests/indexed_target_chain_tamper_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: carry the count for ProvableCountSumTree references in V1 proofs (#814)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
Due: GroveDB Core

fix: accept PCPS trees in path validation
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/is_empty_tree_tests.rs
  grovedb/src/tests/operations_coverage_tests.rs
Due: GroveDB Core

fix: cover PrivateDocumentStoreInsert in the indexed-row exhaustive match (#814)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: cover the multi-axis nested primary and two chain-shape guards (#814)
  grovedb/src/tests/indexed_reference_row_tests.rs
  grovedb/src/tests/indexed_target_chain_tamper_tests.rs
Due: GroveDB Core

fix: guard unconsumed deferred_axes, not just deferred_secondary (#814)
  grovedb/src/lib.rs
  grovedb/src/tests/coverage_lib_paths_tests.rs
Due: GroveDB Core

fix: charge the mirror's bracketing primary reads in average-case estimates (#814)
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/average_case_costs.rs
Due: GroveDB Core

test: RefreshReference swallow case, direct-vs-batch append equality, wrapper boundary (#814)
  grovedb/src/tests/indexed_reference_row_tests.rs
Due: GroveDB Core

docs: give the book's verify examples the real signatures (#814)
  docs/book/src/count-indexed-tree.md
Due: none

fix(proof): read a synthesized path-component layer's direction off the proof
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merged_descending_subset_bound_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

docs(tests): reword #815 repro comment as a regression description
  grovedb/src/tests/merged_descending_subset_bound_tests.rs
Due: GroveDB Core

fix(proof): bound proof_stream_direction by MAX_PROOF_OPS
  merk/src/proofs/query/verify.rs
Due: Merk

docs: preserve V0 proof review policy
  AGENTS.md
Due: none

docs: preserve V0 proof review policy (#819)
  AGENTS.md
Due: none

fix: subset verification of a descending merged proof's branches (#815) (#818)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merged_descending_subset_bound_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

docs: record proof-envelope trailing-byte strictness as canonical (closes out PR #739)
  docs/audit-non-issues.md
Due: none

fix: re-gate subquery offset/limit fix from GROVE_V3 to GROVE_V4
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/tests/query_tests.rs
Due: GroveDB Core

fix(query): re-gate per-item terminal-key conditionals to GROVE_V4
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

docs: record proof-envelope trailing-byte strictness as canonical (closes out PR #739) (#820)
  docs/audit-non-issues.md
Due: none
