Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix: preserve active branches when merging limited queries
  grovedb/src/query/merge/mod.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

test: execute and prove the nested-graft permutation merge
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

feat: merge a limited path query below a key another branch already owns (#850)
  grovedb/src/query/merge/mod.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

fix: synthesized split bodies walk in the merged branches' direction
  grovedb-query/src/merge.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

fix: synthesized split bodies walk in the merged branches' direction (#851)
  grovedb-query/src/merge.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

fix: descending limited append-layer reads keep the highest positions (#855)
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb/src/tests/append_layer_direction_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core, BulkAppendTree

fix: canonical row order from the MMR and dense standalone verifiers; validate limited non-Merk pages (#854)
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/verify.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb-merkle-mountain-range/src/tests/test_mmr.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_limited_page_tests.rs
Due: GroveDB Core, MMR

fix: descending limited append-layer reads keep the highest positions (#855) (#866)
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb/src/tests/append_layer_direction_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core, BulkAppendTree

fix(proofs): count-independent completeness checks for append-only layers (#856)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/position_intervals.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix(merk): opaque proof nodes must stay childless (#853)
  docs/book/src/proof-system.md
  docs/merk-deep-dive.md
  merk/src/merk/restore.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/tree.rs
Due: Merk

fix: references commit to the terminal's stored bytes on every path (#858)
  CHANGELOG.md
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/wrapped_terminal_reference_tests.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix: accept empty append-layer selections in the V1 verifier; validate limit accounting (#865)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/append_layer_limit_accounting_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(merk): opaque proof nodes must stay childless (#853) (#873)
  docs/book/src/proof-system.md
  docs/merk-deep-dive.md
  merk/src/merk/restore.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/tree.rs
Due: Merk

fix: accept empty append-layer selections in the V1 verifier; validate limit accounting (#865) (#875)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/append_layer_limit_accounting_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: canonical row order from the MMR and dense standalone verifiers; validate limited non-Merk pages (#854) (#871)
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/verify.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb-merkle-mountain-range/src/tests/test_mmr.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_limited_page_tests.rs
Due: GroveDB Core, MMR

fix: bind every sum-budget window row before it is folded or skipped (#870)
  docs/book/src/unified-path-query.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

fix(proof): bind a tree's claimed emptiness before skipping its descent or dropping it (#869)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
Due: GroveDB Core

fix(proofs): count-independent completeness checks for append-only layers (#856) (#872)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/position_intervals.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test: cover the provable-target and reference-with-sum window arms (#870)
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

test: cover indexed empties and the unbound-classification rejection; fix doc list lint (#869)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
Due: GroveDB Core

fix: preserve legacy reference commitments in V1 proofs
  CHANGELOG.md
  docs/book/src/reference-system.md
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/wrapped_terminal_reference_tests.rs
Due: GroveDB Core

fix: references commit to the terminal's stored bytes on every path (#858) (#874)
  CHANGELOG.md
  docs/book/src/reference-system.md
  grovedb-version/src/version/v4.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v2.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/wrapped_terminal_reference_tests.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(replication): preserve aggregate metadata and reject failed restores
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_fuzz_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/chunks.rs
  merk/src/merk/restore.rs
  merk/src/proofs/chunk/chunk.rs
Due: GroveDB Core, Merk

fix: preserve mixed reference commitments in sum-budget proofs
  docs/book/src/unified-path-query.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

fix: bind every sum-budget window row before it is folded or skipped (#870) (#877)
  docs/book/src/unified-path-query.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

fix: preserve legacy empty-tree commitments during verification
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
Due: GroveDB Core

fix(proof): bind a tree's claimed emptiness before skipping its descent or dropping it (#869) (#880)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/unbound_empty_tree_tests.rs
Due: GroveDB Core

fix(replication): review fixes for the V1 state sync restore
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_version_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

fix(proofs): a V1 layer proof must be encoded in the family of its walk direction (#863)
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_orientation_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(merk): charge ordinary replacements of specialized values from their own bytes (#908)
  CHANGELOG.md
  docs/book/src/merk-tree.md
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
  merk/src/tree/kv.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/put_value/mod.rs
  merk/src/tree/put_value/v0.rs
  merk/src/tree/put_value/v1.rs
  merk/src/tree/walk/mod.rs
Due: GroveDB Core, Merk

fix(proofs): refuse raw reference rows in the V1 layer verifier (#862)
  docs/audit-non-issues.md
  docs/book/src/proof-system.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/unbound_reference_row_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proofs): bind every tree and reference row of trunk/branch chunk proofs (#859)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/mod.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/v0.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(proofs): subset verification of a descending lower layer, mixed lower layer refused (#863)
  grovedb/src/tests/proof_orientation_tests.rs
Due: GroveDB Core

test(proofs): cover the released chunk-row check arms and the unknown-version dispatch (#859)
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
Due: GroveDB Core

fix(proofs): V1 layer proofs must be encoded in the family of their walk direction (#863) (#917)
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_orientation_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(replication): authenticate restored values before commit
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/replication/verify.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_version_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

fix(proofs): bind every tree and reference row of trunk/branch chunk proofs (#859) (#919)
  CHANGELOG.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/mod.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/v0.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test: accept the earlier raw-reference rejection in the #869 subquery forgery test
  grovedb/src/tests/unbound_empty_tree_tests.rs
Due: GroveDB Core

fix(proofs): pin chunk row binding to one snapshot
  CHANGELOG.md
  grovedb/src/operations/proof/chunk_proof_row_binding/mod.rs
  grovedb/src/operations/proof/chunk_proof_row_binding/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/chunk_proof_row_binding_tests.rs
Due: GroveDB Core

docs(audit): correct rejection rationale and scope
  docs/audit-non-issues.md
Due: none

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
