Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

docs: add boundary key detection section in all 16 translations
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
Due: none

docs: fix translation issues from CodeRabbit review
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
Due: none

feat: add boundaries_in_proof to return all boundary keys (#651)
  docs/book/src/proof-system.md
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/proof_advanced_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: include known_versions in GroveVersionError messages
  grovedb-version/src/error.rs
Due: none

fix: include known_versions in GroveVersionError messages (#652)
  grovedb-version/src/error.rs
Due: none

chore: fmt
  grovedb-version/src/error.rs
Due: none

feat: add Element::NonCounted wrapper to opt-out of count propagation
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

fix: address NonCounted review feedback
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/verify.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk

chore: bump orchard pin to 898258d (dashified rebased on 0.13.1)
  grovedb-commitment-tree/Cargo.toml
Due: none

refactor: ElementType gets NonCountedXxx twins at 0x80|base
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element_type.rs
Due: Element

fix(lint): clear pre-existing clippy warnings + cover NonCounted in debugger
  grovedb/src/debugger.rs
  grovedb/src/replication.rs
  merk/src/proofs/query/verify.rs
  merk/src/test_utils/mod.rs
Due: GroveDB Core, Merk

fix(non_counted): address Codex review (P1 + P2 findings)
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/serialize.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_counted_tests.rs
  merk/src/element/reconstruct.rs
Due: GroveDB Core, Merk, Element

chore: bump orchard to latest dashified rev
  grovedb-commitment-tree/Cargo.toml
Due: none

fix(non_counted): address second Codex review pass (3 fixes + tighter tests)
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/non_counted_tests.rs
Due: GroveDB Core, Element

chore: bump orchard to latest dashified rev (#655)
  grovedb-commitment-tree/Cargo.toml
Due: none

refactor: share query merge default promotion
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
Due: none

test: satisfy grovedb-query clippy
  grovedb-query/src/query.rs
  grovedb-query/tests/display_and_helpers_coverage.rs
Due: none

fix(non_counted): wrapper transparency in typed APIs and cost paths
  grovedb/src/batch/mod.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/tests/non_counted_tests.rs
Due: GroveDB Core

feat: add Element::NonCounted wrapper to opt-out of count propagation (#654)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/replication.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/non_counted_tests.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/proofs/query/verify.rs
  merk/src/test_utils/mod.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

fix: satisfy workspace clippy
  grovedb/src/replication.rs
  merk/src/proofs/query/verify.rs
  merk/src/test_utils/mod.rs
Due: GroveDB Core, Merk

test: reproduce merge_multiple default_subquery_branch bug (M6) (#648)
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/tests/display_and_helpers_coverage.rs
  grovedb-query/tests/merge_coverage.rs
Due: none

feat: add AggregateCountOnRange query for provable count trees
  docs/book/book.toml
  docs/book/mermaid-fixup.js
  docs/book/src/SUMMARY.md
  docs/book/src/aggregate-count-queries.md
  docs/book/src/query-system.md
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/intersect.rs
  grovedb-query/src/query_item/mod.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/benches/branch_queries.rs
  merk/src/merk/chunks.rs
  merk/src/merk/prove.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk, BulkAppendTree

fix(clippy): collapse nested if into let-chain (collapsible_if on rust 1.95)
  grovedb-query/src/query.rs
Due: none

fix(clippy): collapse two more nested ifs and cover HashWithCount in debugger
  grovedb/src/debugger.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

test: cover AggregateCountOnRange validation, encoding, and chain paths
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/query.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(security): address @QuantumExplorer's P0 + two P2 review findings
  grovedb-query/src/query_item/mod.rs
  grovedb/src/operations/proof/generate.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

fix(security): close serde decode bypass for nested AggregateCountOnRange
  grovedb-query/Cargo.toml
  grovedb-query/src/query_item/mod.rs
Due: none

docs: bring book chapter in line with shipped implementation
  docs/book/src/aggregate-count-queries.md
Due: none

docs: drop "Settled design choices" section from aggregate-count chapter
  docs/book/src/aggregate-count-queries.md
Due: none

fix(security): address two of three CodeRabbit findings
  grovedb-query/src/query.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/verify.rs
Due: Merk

test: byte-mutation fuzzer + random round-trip + NonCounted contract + proof size
  docs/book/src/aggregate-count-queries.md
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

chore: drop unused VerifyOptions import + placeholder marker
  grovedb/src/operations/proof/aggregate_count.rs
Due: GroveDB Core

feat(aggregate-count): exclude NonCounted children from count proofs
  docs/book/src/aggregate-count-queries.md
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

docs+test: address CodeRabbit review on PR #656
  docs/book/src/aggregate-count-queries.md
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test(aggregate-count): cover V1 envelope error paths and shape-walk rejections
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

fix: validate aggregate-count queries at prove_query entry
  grovedb-query/src/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test(aggregate-count): cover non-leaf single-key proof and chain-failure paths
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

feat: add AggregateCountOnRange query for provable count trees (#656)
  docs/book/book.toml
  docs/book/mermaid-fixup.js
  docs/book/src/SUMMARY.md
  docs/book/src/aggregate-count-queries.md
  docs/book/src/query-system.md
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-query/Cargo.toml
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/intersect.rs
  grovedb-query/src/query_item/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/benches/branch_queries.rs
  merk/src/merk/chunks.rs
  merk/src/merk/prove.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk, BulkAppendTree

feat: add CountIndexedTree element with auto-cascading secondary index
  docs/book/src/SUMMARY.md
  docs/book/src/appendix-a.md
  docs/book/src/count-indexed-tree.md
  docs/spikes/cascading-aggregation-spike.md
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/mod.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/element/costs.rs
  merk/src/element/delete.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree/hash.rs
  merk/src/tree/kv.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/mod.rs
  merk/src/tree_type/costs.rs
  merk/src/tree_type/mod.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Merk, Storage, Element

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
