Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix: return errors instead of panicking on Link::Modified in encoding and traversal (#502)
  merk/src/tree/link.rs
  merk/src/tree/walk/ref_walker.rs
Due: Merk

fix: preserve original error information in map_err calls (#504)
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
Due: GroveDB Core

perf: optimize insert-under-delete check from O(d×i) to O(n×depth) (#492)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: use u32 for element count in pack/unpack_nested_bytes to prevent truncation
  grovedb/src/replication.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

fix: validate key length on insert to prevent encoding corruption
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

fix: harden safety invariants in MultiStateSyncSession
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: bound Vec::with_capacity by remaining input size in unpack_nested_bytes
  grovedb/src/replication.rs
Due: GroveDB Core

fix: harden safety invariants in MultiStateSyncSession (#507)
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: use u32 for element count in pack/unpack_nested_bytes to prevent truncation (#505)
  grovedb/src/replication.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

refactor: extract validate_key_length helper and add boundary tests
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

fix: validate key length on insert to prevent encoding corruption (#506)
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

fix: clamp BigSum values to i64 range in as_sum_i64()
  merk/src/tree/tree_feature_type.rs
Due: Merk

fix: use absolute value in sum limit budget consumption to prevent negative items increasing budget
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
Due: GroveDB Core

fix: use u16 for root key length in global chunk ID encoding
  grovedb/src/replication.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

fix: clamp BigSum values to i64 range in as_sum_i64() (#508)
  merk/src/tree/tree_feature_type.rs
Due: Merk

fix: use u16 for root key length in global chunk ID encoding (#510)
  grovedb/src/replication.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

fix: correct version check function name in prove_query
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: correct version check function name in prove_query (#512)
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: change clear_subtree to return CostResult for API consistency
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/operations_coverage_tests.rs
Due: GroveDB Core

docs: mark internal-only GroveOp variants to prevent misuse
  grovedb/src/batch/mod.rs
Due: GroveDB Core

docs: mark internal-only GroveOp variants to prevent misuse (#515)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

perf: replace O(n²) duplicate detection with HashMap-based O(n)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

perf: use range deletion for wipe_column_family instead of per-key iteration
  storage/src/rocksdb_storage/storage.rs
Due: Storage

docs: clarify query_sums vs query_aggregate_sums relationship
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

docs: clarify query_sums vs query_aggregate_sums relationship (#518)
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

perf: replace O(n²) duplicate detection with HashMap-based O(n) (#516)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: add multi-key wipe test verifying range deletion and post-wipe functionality
  storage/src/rocksdb_storage/tests.rs
Due: Storage

fix: remove expect() and add error context in wipe_column_family
  storage/src/rocksdb_storage/storage.rs
Due: Storage

perf: use range deletion for wipe instead of per-key iteration (#517)
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/tests.rs
Due: Storage

fix: remove dead code guards in duplicate detection loop
  grovedb/src/batch/mod.rs
Due: GroveDB Core

docs: document that verify_proof_succinctness is not yet implemented
  grovedb/src/operations/proof/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: enforce key length limit in proof encoding at runtime
  grovedb-query/src/proofs/encoding.rs
Due: none

fix: validate key length in batch operations to prevent Merk encoding corruption
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: prevent u16 limit underflow in proof verification
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

feat: mark internal GroveOp variants as #[non_exhaustive]
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: add coverage for Merk::verify() empty tree early return
  merk/src/merk/mod.rs
Due: Merk

docs: explain why runtime key length check is unnecessary in proof encoding
  grovedb-query/src/proofs/encoding.rs
Due: none

style: collapse nested if per clippy collapsible_if lint
  grovedb/src/batch/batch_structure.rs
Due: GroveDB Core

docs: explain why runtime key length check is unnecessary in proof encoding (#525)
  grovedb-query/src/proofs/encoding.rs
Due: none

test: add coverage for Merk::verify() empty tree early return (#524)
  merk/src/merk/mod.rs
Due: Merk

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
