Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix: address review round 2 — merge discipline, fresh subtrees, displaced-state and inverted-path cost bounds
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

fix: address review round 3 — self-cleanup folding, Patch fresh subtrees, bounded propagation depth
  adr/bidirectional_references.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/bidirectional_references/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

fix: charge full in-Merk propagation per ancestor level (review round 4)
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
Due: GroveDB Core

fix: address review round 5 — proof-node ordering, provided-hash coherence, audit directions, read-budget validation
  adr/bidirectional_references.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/lib.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  merk/src/merk/restore.rs
  merk/src/proofs/tree.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

fix: address review round 6 — upstream max_hop revalidation, emptiness-probe estimation
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/bidirectional_references_tests.rs
Due: GroveDB Core

refactor: move BidirectionalReference flags onto the Element variant
  adr/bidirectional_references.md
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/handling.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/debugger.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/insert_on_transaction/v1.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/reference_path.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/bidirectional_references_tests.rs
  grovedb/src/tests/common.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core, Element

fix(replication)!: verify the parent's commitment when a subtree restores empty
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

fix(replication): resolve open indexed groups before their descendants
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_incremental_commit_tests.rs
Due: GroveDB Core

fix(merk): decompose the proof-carried aggregate for raw provable merks
  merk/src/merk/restore.rs
Due: Merk

fix: address review round 7 — element test shapes, pending-upstream budget validation
  grovedb-element/src/bidirectional_reference.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core, Element

fix: address review round 8 — conditional pending edges, detached-ancestor hop counting
  grovedb/src/batch/backward_references.rs
  grovedb/src/bidirectional_references/semantics.rs
  grovedb/src/tests/batch_backward_references_tests.rs
Due: GroveDB Core

feat: per-instance query limits (Query::limit) — wire format, engine, fail-closed gates
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/debugger.rs
  grovedb/src/element/mod.rs
  grovedb/src/element/path_query_push/mod.rs
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/path_query_push/v2.rs
  grovedb/src/element/path_query_push_args.rs
  grovedb/src/element/query.rs
  grovedb/src/element/query_budget.rs
  grovedb/src/element/query_options.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/private_document_store_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

feat: serve per-instance query limits in V1 proofs and lift them through merges
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

docs: per-instance query limits book chapter
  docs/book/src/SUMMARY.md
  docs/book/src/per-instance-limits.md
  docs/book/src/query-system.md
  docs/crates/grovedb.md
  grovedb-query/src/query.rs
Due: none

test: gate and dispatch coverage for per-instance limits
  grovedb-query/Cargo.toml
  grovedb-query/tests/instance_limit_gates.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
Due: GroveDB Core

fix: address CodeRabbit review on per-instance limits
  grovedb-version/src/version/v4.rs
  grovedb/src/element/query.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
Due: GroveDB Core

refactor: fold the never-shipped path_query_push intermediate into v1
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/path_query_push/mod.rs
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/path_query_push/v2.rs
  grovedb/src/element/query.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/query_tests.rs
Due: GroveDB Core

fix: address maintainer review on per-instance limits
  grovedb-query/Cargo.toml
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/tests/instance_limit_gates.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/query.rs
  grovedb/src/element/query_budget.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

Merge review fixes from the base PR and adapt the proof-side gates
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
Due: GroveDB Core

feat: per-instance query limits (Query::limit) — wire format, trusted-read engine, fail-closed gates (#844)
  grovedb-query/Cargo.toml
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/tests/instance_limit_gates.rs
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/debugger.rs
  grovedb/src/element/mod.rs
  grovedb/src/element/path_query_push/mod.rs
  grovedb/src/element/path_query_push/v0.rs
  grovedb/src/element/path_query_push/v1.rs
  grovedb/src/element/path_query_push_args.rs
  grovedb/src/element/query.rs
  grovedb/src/element/query_budget.rs
  grovedb/src/element/query_options.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/private_document_store_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

feat: serve per-instance query limits in V1 proofs and lift them through merges
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

docs: per-instance query limits book chapter (#846)
  docs/book/src/SUMMARY.md
  docs/book/src/per-instance-limits.md
  docs/book/src/query-system.md
  docs/crates/grovedb.md
  grovedb-query/src/query.rs
Due: none

refactor: move PathQuery::merge onto the versioned sub-file dispatch pattern
  grovedb/src/query/merge/mod.rs
  grovedb/src/query/merge/v0.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/query/merge/v2.rs
  grovedb/src/query/mod.rs
Due: GroveDB Core

refactor: fold the never-shipped merge intermediate into v1
  docs/book/src/per-instance-limits.md
  grovedb-version/src/version/v4.rs
  grovedb/src/query/merge/mod.rs
  grovedb/src/query/merge/v0.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/query/merge/v2.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

feat: serve per-instance query limits in V1 proofs and lift them through merges (#845)
  docs/book/src/SUMMARY.md
  docs/book/src/per-instance-limits.md
  docs/book/src/query-system.md
  docs/crates/grovedb.md
  grovedb-query/src/query.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/merge/mod.rs
  grovedb/src/query/merge/v0.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/merge_versioning_tests.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

fix: address maintainer P1 review on per-instance limits in proofs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

docs: tidy merge v1 comments after the fold
  grovedb/src/query/merge/v1.rs
Due: GroveDB Core

fix: follow-ups from the per-instance limits reviews (#844/#845)
  grovedb-query/Cargo.toml
  grovedb-query/src/query.rs
  grovedb-query/tests/query_serde_versioning.rs
  grovedb/src/element/query.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
Due: GroveDB Core

fix: address the six Codex findings on the follow-ups PR
  grovedb-query/src/query.rs
  grovedb-query/tests/query_serde_versioning.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

fix: follow-ups from the per-instance limits reviews (#844/#845) (#847)
  grovedb-query/Cargo.toml
  grovedb-query/src/query.rs
  grovedb-query/tests/query_serde_versioning.rs
  grovedb/src/element/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/merge/v1.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/per_instance_gate_coverage_tests.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

feat: flat-subtree drop — O(1) removal of a populated subtree with staged range-tombstone reclamation (#848)
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/flat_drop.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/util.rs
  storage/src/rocksdb_storage.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage

test: cover DropFlat estimation and without-batching route; keep doc comment attached to its re-export
  grovedb/src/lib.rs
  grovedb/src/tests/flat_drop_tests.rs
Due: GroveDB Core

docs: spell out each SubelementsDeletionBehavior variant's contract
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: prove absence after a flat drop; assert dangling references fail typed
  grovedb/src/tests/flat_drop_tests.rs
Due: GroveDB Core

feat: flat-subtree drop — O(1) removal of a populated subtree with staged range-tombstone reclamation (#848) (#849)
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/flat_drop.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/util.rs
  storage/src/rocksdb_storage.rs
  storage/src/rocksdb_storage/storage.rs
Due: GroveDB Core, Storage

feat: merge a limited path query below a key another branch already owns
  grovedb/src/query/merge/v1.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
