Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

docs(audit): record #779 as a batch-caller gap Platform never reaches
  docs/audit-non-issues.md
Due: none

docs(audit): record #779 as a batch-caller gap Platform never reaches (#1005)
  docs/audit-non-issues.md
Due: none

fix: refuse an overlong path segment instead of panicking (#680)
  CHANGELOG.md
  grovedb/src/batch/mod.rs
  grovedb/src/element/query.rs
  grovedb/src/operations/auxiliary/find_subtrees/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/overlong_path_segment_tests.rs
  grovedb/src/util.rs
  grovedb/src/util/compat.rs
Due: GroveDB Core

fix: address review of the overlong path segment refusal
  CHANGELOG.md
  grovedb/src/operations/auxiliary/find_subtrees/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/overlong_path_segment_tests.rs
  grovedb/src/util.rs
Due: GroveDB Core

fix: refuse an overlong path segment instead of panicking (#1006)
  CHANGELOG.md
  grovedb/src/batch/mod.rs
  grovedb/src/element/query.rs
  grovedb/src/operations/auxiliary/find_subtrees/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/overlong_path_segment_tests.rs
  grovedb/src/util.rs
  grovedb/src/util/compat.rs
Due: GroveDB Core

fix(batch): third review fixes for settling storage owner changes
  CHANGELOG.md
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_reference_update/mod.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
  merk/src/tree/just_in_time_value_update/mod.rs
Due: GroveDB Core, Merk

build(deps)!: use dashpay/orchard with the faster prover
  CHANGELOG.md
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/lib.rs
Due: Commitment Tree

fix(proof): address review on upper-bound limit verification
  CHANGELOG.md
  merk/src/proofs/query/verify.rs
Due: Merk

feat(proof): verify a limit as an upper bound
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/per_key.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/per_key.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proof): give execute_proof_with_limit_mode a default body
  CHANGELOG.md
  merk/src/proofs/query/verify.rs
Due: Merk

fix(proof)!: prove a path through an empty provable tree (GROVE_V4)
  CHANGELOG.md
  docs/book/src/aggregate-count-queries.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_through_empty_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(proof)!: prove a path through an empty provable tree (GROVE_V4) (#1010)
  CHANGELOG.md
  docs/book/src/aggregate-count-queries.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_through_empty_tree_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(proof): prove a path through an empty provable tree at every grove version
  CHANGELOG.md
  docs/book/src/aggregate-count-queries.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_through_empty_tree_tests.rs
Due: GroveDB Core

fix(proof): prove a path through an empty provable tree at every grove version (#1011)
  CHANGELOG.md
  docs/book/src/aggregate-count-queries.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_through_empty_tree_tests.rs
Due: GroveDB Core

fix(proof): verify a limit-cut proof that reveals a bound key after the cut
  CHANGELOG.md
  grovedb/src/tests/limit_cut_exclusive_bound_proof_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proof): check tail values against query items with a forward cursor
  merk/src/proofs/query/verify.rs
Due: Merk

test(proof): cover the axis replay's version dispatch
  grovedb/src/tests/limit_cut_exclusive_bound_proof_tests.rs
Due: GroveDB Core

fix(proof): apply the limit-cut tail rule to the axis prover's replay
  CHANGELOG.md
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/limit_cut_exclusive_bound_proof_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proof): gate limit-cut tail acceptance on the grove version
  CHANGELOG.md
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/per_key.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/per_key.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/limit_cut_exclusive_bound_proof_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proof): hide a range bound a V1 proof passes after its limit
  CHANGELOG.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/limit_cut_bound_proof_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/limit_cut_bound_tests.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

refactor(proof): take the merk proof shape from the grove version
  CHANGELOG.md
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/limit_cut_bound_tests.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

fix(proof): accept only hidden nodes after an upper-bound stop
  merk/src/proofs/query/limit_cut_bound_tests.rs
  merk/src/proofs/query/verify.rs
Due: Merk

feat(proof): return a typed page from the up-to-limit carrier verifiers
  CHANGELOG.md
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
Due: GroveDB Core

feat(proof): verify a limit as an upper bound (#1008 rebuilt on #1012) (#1013)
  CHANGELOG.md
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/per_key.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/per_key.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  merk/src/proofs/query/limit_cut_bound_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(proof): hide a range bound a V1 proof passes after its limit (#1012)
  CHANGELOG.md
  grovedb/src/operations/proof/aggregate_common.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/per_key.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/per_key.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  grovedb/src/tests/limit_cut_bound_proof_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/limit_cut_bound_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix(batch): fourth review fixes for settling storage owner changes
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
  merk/src/tree/just_in_time_value_update/mod.rs
Due: GroveDB Core, Merk

fix(batch): skip the settled-tree lookup off the settling path
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/same_batch_reference_prediction_tests.rs
Due: GroveDB Core

fix(batch): refuse settling a write that keeps the stored flags
  CHANGELOG.md
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/settle_owner_change_cost_tests.rs
Due: GroveDB Core

perf(batch): skip settle-only work when it cannot matter
  grovedb/src/batch/just_in_time_value_update.rs
Due: GroveDB Core

test(batch): pin the refused settlement of a root-level untrusted refresh
  grovedb/src/batch/settle_owner_change_cost_tests.rs
Due: GroveDB Core

perf(batch): defer reference-target work the prediction does not use
  CHANGELOG.md
  grovedb/src/batch/just_in_time_reference_update/mod.rs
  grovedb/src/batch/just_in_time_reference_update/v1.rs
  grovedb/src/batch/just_in_time_value_update.rs
  grovedb/src/batch/mod.rs
  merk/src/tree/put_value/mod.rs
Due: GroveDB Core, Merk

feat(batch)!: move an element to a new key, keeping its stored subtree (#1014)
  CHANGELOG.md
  docs/book/src/batch-operations.md
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/move_element.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/move_element_tests.rs
  merk/src/merk/mod.rs
  merk/src/tree/kv.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/mod.rs
Due: GroveDB Core, Merk

fix(batch): close the review findings on GroveOp::Move
  CHANGELOG.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/move_element.rs
  grovedb/src/operations/delete/flat_drop.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/tests/move_element_tests.rs
  grovedb/src/util.rs
  merk/src/tree/kv.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
  storage/src/storage.rs
Due: GroveDB Core, Merk, Storage

fix(merk): give a newly built moved node its stored value as baseline
  grovedb/src/batch/move_element.rs
  grovedb/src/tests/move_element_tests.rs
  merk/src/merk/mod.rs
  merk/src/tree/mod.rs
Due: GroveDB Core, Merk

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
