Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix: address CodeRabbit review on cidx PR #657
  docs/book/src/count-indexed-tree.md
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
  merk/src/tree/hash.rs
Due: GroveDB Core, Merk

feat: support direct insertion of non-empty CountIndexedTree elements
  docs/spikes/cascading-aggregation-spike.md
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cover new cidx reject/error paths and edge cases
  grovedb/src/tests/count_indexed_tree_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

test: cover cidx Display, Visualize, and proof/range edge paths
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core, Element

docs: clarify V0 proof path for cidx is a permanent NotSupported
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

feat: H1-A walk in verify_grovedb + nested cidx in prove envelope
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: V1 generic prove/verify support cidx subqueries
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

feat: batch path fail-closed for cidx primary mutations
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

chore: refresh stale cidx follow-up comments
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: lift codecov patch coverage above 80%
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: more cidx coverage to clear codecov 80% threshold
  grovedb/src/tests/count_indexed_tree_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

feat: cidx batch foundation - new op + parent-level handler
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
Due: GroveDB Core

feat: batch path supports cidx primary item-level mutations
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: prove_count_indexed_query accepts an arbitrary secondary query
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: reject silent cidx overwrites in the batch path
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cover cidx batch delete + multi-op paths to clear codecov 80%
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix: db.delete() on a cidx element cleans up secondary storage
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: batch DeleteTree on cidx primary works end-to-end
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

docs: refresh cidx-overwrite rejection error message
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: cover batch cidx override-protection + recreate workflow
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cover apply_partial_batch + DontCheckWithNoCleanup cidx paths
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(merk,grovedb): expose aggregate_count proof verification under verify feature
  grovedb/src/operations/proof/mod.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

test: widen verify_only_tests gate so default CI runs them
  merk/src/proofs/query/aggregate_count.rs
Due: Merk

test: convert ignored fixture-dump helper into active parity check
  merk/src/proofs/query/aggregate_count.rs
Due: Merk

test: drop redundant feature gates on test modules
  merk/src/proofs/query/aggregate_count.rs
Due: Merk

feat(merk,grovedb): expose aggregate_count proof verification under verify feature (#658)
  grovedb/src/operations/proof/mod.rs
  merk/src/proofs/query/aggregate_count.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

docs+test: book chapter refresh + batch cidx atomicity stress tests
  docs/book/src/count-indexed-tree.md
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix: nested cidx bubble-up mirrors count change to outer's secondary
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: nested cidx coverage — direct path, triple-nested, mixed nesting
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: add Element::NotSummed wrapper to opt-out of sum propagation
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/not_summed_tests.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

test: add coverage for zero_sum, NotSummed Display/element_type, and tree extensions
  grovedb-element/src/element/mod.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  merk/src/element/tree_type.rs
Due: Merk, Element

fix(reference_path): look through wrappers when following reference chains
  grovedb/src/reference_path.rs
Due: GroveDB Core

fix(element): close cross-wrapper construction + serde validation gaps
  grovedb-element/Cargo.toml
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/not_summed_tests.rs
Due: GroveDB Core, Element

refactor(element): tighten NotSummed API + relocate twin discriminants
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core, Element

docs(element): explain why the serde shadow enum is necessary
  grovedb-element/src/element/mod.rs
Due: Element

refactor(batch): replace .expect on wrapper conversions with typed errors
  grovedb/src/batch/mod.rs
Due: GroveDB Core

feat: add Element::NotSummed wrapper to opt-out of sum propagation (#659)
  grovedb-element/Cargo.toml
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/reference_path.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/not_summed_tests.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

fix+test: close verify_grovedb cidx content-consistency gap
  grovedb/src/lib.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

refactor: extract cidx mutates check into exhaustive GroveOp method
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix+test: property tests + delete_from_count_indexed_tree storage cleanup
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core
