Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix: include segments_count bytes in worst_case_body_size (#565)
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: replace i16 promotion with comment explaining overflow is impossible
  merk/src/tree/mod.rs
Due: Merk

test: strengthen cost assertions and extract magic constant
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: validate version byte in Query::borrow_decode
  grovedb-query/src/query.rs
Due: none

fix: add depth guard to terminal_keys recursion
  grovedb-query/src/query.rs
Due: none

fix: use parent tree type for DeleteTree batch operations
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: add visited-set cycle detection to batch reference resolution
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: add InsertOnly and DeleteTree support to apply_operations_without_batching
  grovedb/src/batch/mod.rs
Due: GroveDB Core

docs: document put-wins semantics in StorageBatch::delete methods
  storage/src/storage.rs
Due: Storage

docs: clarify clear() only affects the default column family
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: Storage

fix: remove eprintln in commit_session
  grovedb/src/replication.rs
Due: GroveDB Core

fix: add bounds checks to pack_nested_bytes and encode_global_chunk_id
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_utils_tests.rs
Due: GroveDB Core

fix: use try_from instead of as u16 for path length comparison
  grovedb/src/operations/delete/delete_up_tree.rs
Due: GroveDB Core

fix: propagate IO errors in Visualize for KeyInfoPath
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: replace .expect() with error propagation in visualize iteration
  grovedb/src/visualize.rs
Due: GroveDB Core

docs: document why fuzz tests are disabled via cfg(tests)
  merk/src/tree/fuzz_tests.rs
Due: Merk

fix: distinguish sync-never-started from sync-completed
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: add u32 bounds checks to chunk blob serialization
  grovedb-bulk-append-tree/src/chunk.rs
  grovedb-bulk-append-tree/src/tree/append.rs
Due: BulkAppendTree

fix: propagate IO errors in Visualize for KeyInfoPath (#581)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: use std::io::Error::other() to satisfy clippy io_other_error lint
  grovedb/src/visualize.rs
Due: GroveDB Core

fix: use try_from instead of as u16 for path length comparison (#580)
  grovedb/src/operations/delete/delete_up_tree.rs
Due: GroveDB Core

fix: remove eprintln in commit_session (#578)
  grovedb/src/replication.rs
Due: GroveDB Core

docs: document put-wins semantics in StorageBatch::delete methods (#576)
  storage/src/storage.rs
Due: Storage

fix: add visited-set cycle detection to batch reference resolution (#574)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: replace unreachable!() with None in RangeSet::to_query_item (#567)
  grovedb-query/src/query_item/intersect.rs
Due: none

fix: restructure insert_item to improve code coverage
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
Due: none

test: add borrow_decode version rejection test for coverage
  grovedb-query/tests/query_api_and_serialization.rs
Due: none

fix: use parent tree type for DeleteTree batch operations (#573)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

test: cover is_sync_completed early return for never-started sessions
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

docs: clarify clear() only affects the default column family (#577)
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: Storage

test: cover add_parent_tree_on_subquery preservation in merge
  grovedb-query/tests/merge_coverage.rs
Due: none

test: cover terminal_keys depth guard with excessive nesting
  grovedb-query/tests/query_terminal_and_merge.rs
Due: none

test: add sync test with empty subtree to cover validation path
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

fix: extend Tree::aggregate_data to handle all chunk node types (#557)
  merk/src/proofs/tree.rs
Due: Merk

fix: distinguish sync-never-started from sync-completed (L14) (#584)
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

fix: add operation context to visualize iterator error message
  grovedb/src/visualize.rs
Due: GroveDB Core

refactor: avoid macro in prune for better coverage
  merk/src/tree/mod.rs
Due: Merk

test: add root hash mismatch test and exclude tutorials from coverage
  .codecov.yml
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

refactor: condense error message for better coverage
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

refactor: hoist tree-override validation before element-type match
  grovedb/src/batch/mod.rs
Due: GroveDB Core
