Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

fix indexed-tree security invariants
  grovedb-element/src/indexed/sort_keys.rs
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/element/insert.rs
Due: GroveDB Core, Merk, Element

test: cover the uncovered diff lines of PR #657; guard in-place indexed conversion; fix terminal result path
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/operations/insert/add_element_on_transaction/v0.rs
  grovedb/src/operations/insert/add_element_on_transaction/v1.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/coverage_batch_indexed_tests.rs
  grovedb/src/tests/coverage_lib_paths_tests.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/coverage_proof_verify_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core, Element

fix: reconcile codex security fixes — scope live-path changes, consolidate walks
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/tests/coverage_lib_paths_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
  merk/src/element/costs.rs
Due: GroveDB Core, Merk

fix(indexed): aggregates are always derived, never caller-asserted
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/tests/coverage_misc_tests.rs
  grovedb/src/tests/coverage_round7_tests.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/direct_insert_indexed_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/query_indexed_tree_dispatch_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/verify_grovedb_indexed_tests.rs
Due: GroveDB Core

perf(verify): stop cloning descendant proof layers on indexed descent
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

ci: build all targets, and fix two benches that no longer compile
  .github/workflows/grovedb.yml
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  merk/benches/branch_queries.rs
Due: none

ci: move the all-targets gate and unrelated bench repairs to their own PR
  .github/workflows/grovedb.yml
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  merk/benches/branch_queries.rs
Due: none

ci: build all targets, and fix two benches that no longer compile (#774)
  .github/workflows/grovedb.yml
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  merk/benches/branch_queries.rs
Due: none

docs: link the two deferred findings to their tracking issues
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
Due: GroveDB Core

fix(batch): hold GroveOp::Patch to the rootless-aggregate rule
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
  merk/src/element/costs.rs
Due: GroveDB Core, Merk

feat(version): add GROVE_V4, behaviourally identical to V3
  grovedb-version/src/tests.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v4.rs
Due: none

test(version): drop the V3/V4 slot-identity assertion
  grovedb-version/src/tests.rs
Due: none

feat(version): add GROVE_V4, behaviourally identical to V3 (#777)
  grovedb-version/src/tests.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v4.rs
Due: none

fix(batch): gate the DeleteTree cleanup-type fix on GROVE_V4
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/indexed_tree_security_regression_tests.rs
Due: GroveDB Core

feat(batch): generalize the indexed-tree mirror to every variant and axis
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/coverage_batch_indexed_tests.rs
  grovedb/src/tests/coverage_lib_paths_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

refactor(indexed): dedicated insert APIs delegate to the batch pipeline
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/operations/indexed_tree.rs
  merk/src/element/insert.rs
Due: GroveDB Core, Merk

refactor(indexed): dedicated delete APIs delegate to the batch pipeline
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

fix(indexed): restore storage cleanup and fix avg-axis duplicate-key batches
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

fix(costs): size indexed-primary estimator nodes as the indexed tree type
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/operations/indexed_tree.rs
  merk/src/tree/tree_feature_type.rs
Due: GroveDB Core, Merk

test(indexed): cover every non-Merk tree type as an indexed child
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

test(indexed): cover reconcile, nested indexed ancestors, and overwrite classification
  grovedb-version/src/tests.rs
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/tests/batch_indexed_overwrite_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/delete_indexed_tree_tests.rs
  grovedb/src/tests/indexed_axis_nested_and_bounds_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
Due: GroveDB Core

docs(indexed): correct reconcile's premise and the descendant guard's claim
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
Due: GroveDB Core

fix(costs): gate the batch overwrite-inspection read to V4; size mirror rows per axis
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/single_insert_cost_tests.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/tests/coverage_misc_tests.rs
Due: GroveDB Core

refactor(batch): split indexed_tree.rs into phase-scoped helpers
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

refactor(batch): promote indexed_tree to a directory module, one file per phase
  grovedb/src/batch/indexed_tree.rs
  grovedb/src/batch/indexed_tree/delete_tree.rs
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/overwrite.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/indexed_tree/preflight.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
Due: GroveDB Core

perf(batch): read indexed post-state once per level, not once per axis
  grovedb/src/batch/indexed_tree/mirror.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

feat(indexed)!: raise AVG_FIXED_POINT_SCALE to 10^19 for billion-row tables
  grovedb-element/src/indexed/sort_keys.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
Due: GroveDB Core, Element

refactor(proof): promote indexed_axis to a directory module, one file per concern
  grovedb/src/operations/proof/indexed_axis.rs
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
Due: GroveDB Core

feat(indexed): support creating and populating an indexed tree in one batch
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/mod.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/indexed_tree/preflight.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_fresh_create_tests.rs
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/coverage_batch_indexed_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_count_indexed_tree_tests.rs
Due: GroveDB Core

feat(indexed): extend the secondary-repair API to PSIT and PCPSIT
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/batch_indexed_multi_axis_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
Due: GroveDB Core

fix(tests): migrate the count codec test off the removed builder
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

test(merk): pin the hash-composition ambiguity properties
  merk/src/tree/hash.rs
Due: Merk

feat(grovedb): expose indexed-axis proof verification to verify-only builds
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

fix(grovedb): bind, don't reject, a lower layer with no query below it
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/succinctness_gap_test.rs
Due: GroveDB Core

test: speed up commitment-tree Sinsemilla tests in CI
  Cargo.toml
  grovedb-commitment-tree/src/commitment_frontier/tests.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

docs(test): correct epoch-size rationale in append_many test comments
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

fix: verify-only access to indexed-axis proofs + bind subset lower layers (#781)
  grovedb/src/operations/proof/indexed_axis/axis_api.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/succinctness_gap_test.rs
Due: GroveDB Core

test: speed up commitment-tree Sinsemilla tests in CI (#780)
  Cargo.toml
  grovedb-commitment-tree/src/commitment_frontier/tests.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
Due: Commitment Tree

fix(grovedb): bind terminal non-Merk tree element bytes to the parent value_hash
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core
