Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

docs(delete): drop redundant explicit intra-doc link targets
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

ci: generate a single wildcard CODEOWNERS rule
  .github/CODEOWNERS
Due: none

feat(ci): route PR reviews through shared ownership policy (#952)
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

fix: skip the participant scan for declared-empty batch subtree removals
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  grovedb-version/src/version/v4.rs
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
Due: GroveDB Core

ci: pin the shared review engine to its merge commit
  .github/workflows/pr-review-policy.yml
Due: none

fix: keep per-op declarations across skipped deletes and the non-batched adapter
  adr/bidirectional_references.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
Due: GroveDB Core

fix: record each removal's declaration at observation and keep executed cleanup behaviors
  grovedb/src/batch/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
Due: GroveDB Core

ci: pin the shared review engine to its merge commit (#954)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin the shared review engine
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin the shared review engine (#955)
  .github/workflows/pr-review-policy.yml
Due: none

ci: receive review events directly and re-pin the shared engine
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

ci: receive review events directly and re-pin the shared engine (#956)
  .github/workflows/pr-review-policy.yml
  .github/workflows/pr-review-signal.yml
Due: none

ci: re-pin the shared review engine and drop the redundant input
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin the shared review engine and drop the redundant input (#957)
  .github/workflows/pr-review-policy.yml
Due: none

feat!: express the displaced-value declaration as DontCheck twins of the batch ops
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/indexed_tree/preflight.rs
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/mod.rs
  grovedb/src/operations/bulk_append_tree.rs
  grovedb/src/operations/commitment_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/dense_tree.rs
  grovedb/src/operations/mmr_tree.rs
  grovedb/src/operations/private_document_store.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
  grovedb/src/tests/partial_batch_consistency_tests.rs
Due: GroveDB Core

feat!: carry the caller's displaced-value declaration on the delete ops GroveDB builds
  CHANGELOG.md
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/average_case.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/delete/worst_case.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
  grovedb/src/tests/delete_cost_estimation_tests.rs
Due: GroveDB Core

refactor!: rename dont_check to dont_check_for_backwards_references
  CHANGELOG.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
  grovedb/src/tests/batch_backward_references_cost_tests.rs
  grovedb/src/tests/batch_backward_references_tests.rs
  grovedb/src/tests/flat_drop_tests.rs
  grovedb/src/tests/ordinary_replacement_cost_tests.rs
Due: GroveDB Core

refactor!: name the twin variants DontCheckForBackwardsReferences
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/backward_references.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/indexed_tree/pre_state.rs
  grovedb/src/batch/indexed_tree/preflight.rs
  grovedb/src/batch/initial_segment_footprint.rs
  grovedb/src/batch/mod.rs
  grovedb/src/bidirectional_references/mod.rs
  grovedb/src/operations/delete/average_case.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/delete/worst_case.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
Due: GroveDB Core

fix!: carry each DeleteTree removal's cleanup behavior and scan exemption on the observed deletion
  CHANGELOG.md
  adr/bidirectional_references.md
  docs/book/src/batch-operations.md
  grovedb/src/batch/mod.rs
  grovedb/src/tests/automatic_backward_references_tests.rs
Due: GroveDB Core

test: cover the twin conversions, twin write paths and the live tree replacement scan
  grovedb/src/tests/automatic_backward_references_tests.rs
Due: GroveDB Core

ci: re-pin PR Hygiene and adopt the suite name
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene and adopt the suite name (#958)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

chore(release): bump GroveDB to 6.0.1 and withdraw 6.0.0
  CHANGELOG.md
  README.md
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-private-document-store/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

chore(release): bump GroveDB to 6.0.1 and withdraw 6.0.0 (#960)
  CHANGELOG.md
  README.md
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-private-document-store/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

ci: re-pin PR Hygiene (#959)
  .github/workflows/pr-review-policy.yml
Due: none

fix(proof): accept exhausted per-instance branch fillers
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/per_instance_limit_tests.rs
Due: GroveDB Core

ci: re-pin PR Hygiene (#964)
  .github/workflows/pr-review-policy.yml
Due: none

fix: answer a single-path axis read over an absent path with the empty result
  CHANGELOG.md
  docs/book/src/unified-path-query.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

fix: answer a single-path axis read over an absent path with the empty result (#965)
  CHANGELOG.md
  docs/book/src/unified-path-query.md
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query_result_type.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

ci: re-pin PR Hygiene (#966)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to cut its GitHub request volume
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to cut its GitHub request volume (#967)
  .github/workflows/pr-review-policy.yml
Due: none

feat(storage): list aux entries by key prefix
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-merkle-mountain-range/src/tests/test_storage_adapter.rs
  grovedb/src/operations/auxiliary.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage, Commitment Tree, MMR, BulkAppendTree

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
