Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

docs: changelog entry for aux prefix listing (#968)
  CHANGELOG.md
Due: none

feat(storage): list aux entries by key prefix (#968)
  CHANGELOG.md
  grovedb-bulk-append-tree/src/test_utils.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/test_utils.rs
  grovedb-merkle-mountain-range/src/tests/test_storage_adapter.rs
  grovedb/src/operations/auxiliary.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
  storage/src/rocksdb_storage/tests.rs
  storage/src/storage.rs
Due: GroveDB Core, Storage, Commitment Tree, MMR, BulkAppendTree

ci: re-pin PR Hygiene so the sweep reaches every pull request
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so the sweep reaches every pull request (#969)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so its runs queue instead of cancelling
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so its runs queue instead of cancelling (#970)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to read each pull request once
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to read each pull request once (#971)
  .github/workflows/pr-review-policy.yml
Due: none

ci: wake PR Hygiene only for a comment that can change the answer
  .github/workflows/pr-review-policy.yml
Due: none

ci: wake PR Hygiene only for a comment that can change the answer (#972)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to clone this repository only on its sweep
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to clone this repository only on its sweep (#973)
  .github/workflows/pr-review-policy.yml
Due: none

fix(mmr): reject non-canonical mmr_size in proof verification
  CHANGELOG.md
  grovedb-merkle-mountain-range/src/helper.rs
  grovedb-merkle-mountain-range/src/lib.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
Due: GroveDB Core, MMR

fix(mmr): reject non-canonical mmr_size in proof verification (#974)
  CHANGELOG.md
  grovedb-merkle-mountain-range/src/helper.rs
  grovedb-merkle-mountain-range/src/lib.rs
  grovedb-merkle-mountain-range/src/proof.rs
  grovedb/src/replication/non_merk_sync.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
Due: GroveDB Core, MMR

fix(merk): validate ChunkOp bytes before trusting them
  merk/src/proofs/chunk/chunk_op.rs
  merk/src/proofs/chunk/util.rs
Due: Merk

fix(merk): validate ChunkOp bytes before trusting them (#975)
  merk/src/proofs/chunk/chunk_op.rs
  merk/src/proofs/chunk/util.rs
Due: Merk

fix(storage-flags): accept only canonical multi-epoch flag bytes
  CHANGELOG.md
  grovedb-epoch-based-storage-flags/src/error.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

ci: re-pin PR Hygiene to require a green build before asking a human
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to require a green build before asking a human (#978)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so it can verify access granted by the organisation
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so it can verify access granted by the organisation (#979)
  .github/workflows/pr-review-policy.yml
Due: none

ci: PR Hygiene is the merge gate; CODEOWNERS carries no rules
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
  CODEOWNERS
Due: none

ci: PR Hygiene is the merge gate; CODEOWNERS carries no rules (#980)
  .github/CODEOWNERS
  .github/workflows/pr-review-policy.yml
  CODEOWNERS
Due: none

ci: re-pin PR Hygiene for state labels and /skip-bots
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for state labels and /skip-bots (#981)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for the checklist in the description
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for the checklist in the description (#982)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so a bot line says everything about that bot
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene so a bot line says everything about that bot (#983)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to ask a flaky read once more
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene to ask a flaky read once more (#984)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for one name for the author limit
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene for one name for the author limit (#985)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#986)
  .github/workflows/pr-review-policy.yml
Due: none

ci: re-pin PR Hygiene (#987)
  .github/workflows/pr-review-policy.yml
Due: none

fix(merk,grovedb): refuse backward-reference rows in count-offset proofs
  docs/book/src/count-offset-paginated-queries.md
  docs/book/src/proof-system.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_backward_ref_forgery_tests.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

fix(replication): refuse a peer-chosen tree type of another family when serving chunks
  CHANGELOG.md
  grovedb/src/replication.rs
  grovedb/src/replication/indexed_sync.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/replication_fuzz_tests.rs
  grovedb/src/tests/replication_serving_tree_type_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/tests/state_sync_serving_tree_type.rs
Due: GroveDB Core

fix(proof): bound bulk-append extraction before the root is bound
  CHANGELOG.md
  grovedb-bulk-append-tree/src/chunk.rs
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-bulk-append-tree/tests/forged_chunk_blob_resource_bound.rs
  grovedb/src/operations/proof/position_intervals.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/non_merk_completeness_budget_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core, BulkAppendTree
