Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

docs: clarify own_result is error-safe but not unwind-safe
  merk/src/owner.rs
Due: Merk

docs: document non-atomic delete cost computation (TOCTOU) (#616)
  merk/src/merk/clear.rs
  merk/src/merk/meta.rs
  merk/src/merk/mod.rs
  storage/src/rocksdb_storage/storage.rs
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: Merk, Storage

fix: enforce depth limit during Query/SubqueryBranch deserialization (#613)
  grovedb-query/src/query.rs
  grovedb-query/src/subquery_branch.rs
Due: none

test: add coverage for BorrowDecode path and children-count validation
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

fix: enforce depth limit during proof deserialization (#612)
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

ci: fix rust-cache to cache llvm-cov target directory
  .github/workflows/grovedb.yml
Due: none

ci: add shared build step to compile test binaries once
  .github/workflows/grovedb.yml
Due: none

ci: fix rust-cache to cache llvm-cov target directory (#624)
  .github/workflows/grovedb.yml
Due: none

ci: add shared build step to compile test binaries once (#625)
  .github/workflows/grovedb.yml
Due: none

docs: document why Owner::own_result poisoning is not exploitable
  merk/src/owner.rs
Due: Merk

ci: fix build step and add skip-tests label support
  .github/workflows/grovedb.yml
Due: none

ci: remove skip-tests label support
  .github/workflows/grovedb.yml
Due: none

Revert "ci: add shared build step to compile test binaries once (#625)"
  .github/workflows/grovedb.yml
Due: none

Revert "ci: add shared build step to compile test binaries once (#625)" (#628)
  .github/workflows/grovedb.yml
Due: none

docs: document why Owner::own_result poisoning is not exploitable (#626)
  merk/src/owner.rs
Due: Merk

docs: document find_subtrees stale-state limitation in batch delete (#620)
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/operations/auxiliary.rs
Due: GroveDB Core

docs: remove debug_assert! guards from cross-type aggregate branches
  merk/src/tree/mod.rs
Due: Merk

docs: fix truncated doc comment on child_aggregate_sum_data_as_i128
  merk/src/tree/mod.rs
Due: Merk

docs: document cross-type aggregate safety (audit #11) (#614)
  merk/src/tree/mod.rs
Due: Merk

ci: skip tests for doc-comment-only changes
  .github/workflows/grovedb.yml
Due: none

ci: skip tests for doc-comment-only changes (#629)
  .github/workflows/grovedb.yml
Due: none

refactor: simplify proof forgery fix — check element type at merk level
  grovedb/src/operations/proof/util.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/sum_tree_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

test: add proof forgery exploit tests for KV→KVValueHash and KV→KVRefValueHash
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: restore hardcoded proof test to expect rejection of old format
  grovedb/src/tests/sum_tree_tests.rs
Due: GroveDB Core

test: add proof forgery exploit tests for KV→KVValueHash and KV→KVRefValueHash (#630)
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: verify combine_hash for empty trees in proof result set
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: prevent KV-to-KVValueHash proof value forgery attack (C1) (#553)
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/sum_tree_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: verify combine_hash for empty trees in proof result set (#631)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test: demonstrate non-empty CountTree count swap vulnerability
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: verify combine_hash for non-empty trees without subquery in proofs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/benches/branch_queries.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk

fix: add KVValueHashFeatureTypeWithChildHash to remaining match sites
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk

fix: add KVValueHashFeatureTypeWithChildHash to remaining match sites (audit)
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/query/grove_branch_query_result.rs
  grovedb/src/query/grove_trunk_query_result.rs
  merk/src/proofs/query/map.rs
Due: GroveDB Core, Merk

fix: enforce child_hash_verified for non-empty Merk trees without subqueries
  grovedb-element/src/element/helpers.rs
  grovedb/src/operations/proof/util.rs
  grovedb/src/operations/proof/verify.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk, Element

test: add coverage tests for KVValueHashFeatureTypeWithChildHash
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  merk/src/proofs/branch/tests.rs
  merk/src/proofs/query/map.rs
Due: GroveDB Core, Merk

fix: address CodeRabbit review findings
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

test: add error path and large-value encoding coverage tests
  grovedb-query/src/proofs/encoding.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: verify combine_hash for non-empty trees without subquery in proofs (#633)
  grovedb-element/src/element/helpers.rs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/util.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/grove_branch_query_result.rs
  grovedb/src/query/grove_trunk_query_result.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/benches/branch_queries.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/branch/tests.rs
  merk/src/proofs/query/map.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk, Element

fix: move DeleteTree emptiness check from BatchApplyOptions to per-op enum
  docs/book/src/batch-operations.md
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/batch/options.rs
  grovedb/src/batch/single_deletion_cost_tests.rs
  grovedb/src/batch/single_sum_item_deletion_cost_tests.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_delete_tree_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
Due: GroveDB Core

fix: address CodeRabbit review findings
  docs/book/src/batch-operations.md
  docs/book/translations/ar/src/batch-operations.md
  docs/book/translations/cs/src/batch-operations.md
  docs/book/translations/de/src/batch-operations.md
  docs/book/translations/es/src/batch-operations.md
  docs/book/translations/fr/src/batch-operations.md
  docs/book/translations/id/src/batch-operations.md
  docs/book/translations/it/src/batch-operations.md
  docs/book/translations/ja/src/batch-operations.md
  docs/book/translations/ko/src/batch-operations.md
  docs/book/translations/pl/src/batch-operations.md
  docs/book/translations/pt/src/batch-operations.md
  docs/book/translations/ru/src/batch-operations.md
  docs/book/translations/th/src/batch-operations.md
  docs/book/translations/tr/src/batch-operations.md
  docs/book/translations/vi/src/batch-operations.md
  docs/book/translations/zh/src/batch-operations.md
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/mod.rs
Due: GroveDB Core

test: add coverage tests for SubelementsDeletionBehavior variants
  grovedb/src/tests/batch_delete_tree_tests.rs
Due: GroveDB Core
