Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

test: tighten weak cidx rejection tests to check error variants
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: differential test for direct API vs batch path cidx state
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(types): add Element::ProvableSumTree variant + NotSummed twin extension
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedbg-types/src/lib.rs
  merk/src/element/delete.rs
  merk/src/element/get.rs
  merk/src/element/tree_type.rs
  merk/src/tree/mod.rs
  merk/src/tree/tree_feature_type.rs
  merk/src/tree_type/costs.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

feat: safe-subset cidx-overwrite via batch (cidx → non-cidx, cidx → empty cidx)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix+test: fuzz-style cidx tests + DoS bug fix (capacity-overflow panic)
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cost regression tests for cidx ops
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: GroveDb::open_with_cidx_integrity_check
  grovedb/src/lib.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(merk): node_hash_with_sum + proof Node variants for ProvableSumTree
  grovedb-element/src/element_type.rs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/chunk/chunk.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
  merk/src/tree/hash.rs
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
  merk/src/tree/tree_feature_type.rs
Due: GroveDB Core, Merk, Element

test+bench: cidx benchmarks + concurrent stress tests
  grovedb/Cargo.toml
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

refactor(types): NotSummed twin uses explicit per-variant mapping
  grovedb-element/src/element_type.rs
Due: Element

test: remove misleading concurrent-writer test (out of scope for grovedb)
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(grovedb): wire ProvableSumTree through insert/read/batch paths
  grovedb/src/batch/mod.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
  merk/src/element/costs.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
Due: GroveDB Core, Merk

feat(grovedb): verify_grovedb consistency check for aggregate fields
  grovedb/src/lib.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
Due: GroveDB Core

test: cidx coverage push — 13 targeted tests for highest-miss areas
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

ci: raise patch coverage requirement from 80% to 90%
  .codecov.yml
Due: none

ci: raise patch coverage requirement from 80% to 90% (#660)
  .codecov.yml
Due: none

fix: 5 audit findings on commit cc4db742 (P1 + P2)
  docs/book/src/appendix-a.md
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cidx coverage push — 8 more tests for new overwrite-cleanup branches
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat: AggregateSumOnRange query + proof + verify for ProvableSumTree
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/intersect.rs
  grovedb-query/src/query_item/mod.rs
  grovedb/src/operations/proof/aggregate_sum.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/aggregate_sum.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk, BulkAppendTree

docs: ProvableSumTree element + AggregateSumOnRange query
  docs/book/src/SUMMARY.md
  docs/book/src/aggregate-sum-on-range-queries.md
  docs/book/src/aggregate-sum-queries.md
  docs/book/src/appendix-a.md
  docs/book/src/element-system.md
  docs/book/src/hashing.md
Due: none

fix: address 8 CodeRabbit review findings on commit 978dc2d9
  docs/book/src/count-indexed-tree.md
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element_type.rs
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core, Element

fix: is_non_counted() catches cidx NonCounted twins (145, 146)
  grovedb-element/src/element_type.rs
Due: Element

test: targeted coverage for ProvableSumTree code paths
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  merk/src/proofs/query/aggregate_sum.rs
  merk/src/proofs/tree.rs
Due: Merk, Element

fix(verify): reject KVRefValueHashSum in trunk/branch chunk proofs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix(query): scan conditional-branch selectors for AggregateSumOnRange
  grovedb-query/src/query.rs
Due: none

fix: error classification and entry preservation in aggregate-sum paths
  grovedb/src/lib.rs
  grovedb/src/operations/proof/generate.rs
  merk/src/proofs/query/aggregate_sum.rs
Due: GroveDB Core, Merk

test: strengthen aggregate-sum regression coverage
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
  merk/src/element/tree_type.rs
  merk/src/tree/link.rs
Due: GroveDB Core, Merk

docs: refresh ProvableSumTree doc comments
  merk/src/tree_type/mod.rs
Due: Merk

fix: insert_into_count_indexed_tree rejects non-empty tree/cidx claims unconditionally
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(clippy): collapse non-empty-cidx match into guard pattern
  grovedb/src/operations/count_indexed_tree.rs
Due: GroveDB Core

fix(cidx): bind caller intent in verifiers; reject oversize primary keys
  grovedb/src/lib.rs
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(cidx): clear secondary on empty cidx delete; bench unwrap context
  grovedb/benches/cidx_benchmark.rs
  grovedb/src/operations/delete/mod.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(verify): require provable tree type at aggregate query terminal layer
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/aggregate_sum.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

test(cidx): add 12 coverage tests for under-tested cidx code paths
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(verify): reject empty-path aggregate-sum/count queries at validation
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

feat(merk,grovedb): add no-proof query_aggregate_count entry point
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

test(merk,grovedb): cover more no-proof aggregate-count paths
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

refactor(merk): move count_aggregate_on_range out of prove.rs into get.rs
  merk/src/merk/get.rs
  merk/src/merk/prove.rs
Due: Merk

fix(merk,grovedb): fail fast on impossible state in no-proof count walk
  grovedb/src/tests/aggregate_count_query_tests.rs
  merk/src/proofs/query/aggregate_count.rs
Due: GroveDB Core, Merk

fix(merk): clippy unnecessary_lazy_evaluations on own_count derivation
  merk/src/proofs/query/aggregate_count.rs
Due: Merk
