Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

docs: fix Shor's algorithm description, diacritics for fr/it/tr, qualify GroveDB claims
  docs/book/src/quantum-cryptography.md
  docs/book/translations/ar/src/quantum-cryptography.md
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/de/src/quantum-cryptography.md
  docs/book/translations/es/src/quantum-cryptography.md
  docs/book/translations/fr/src/quantum-cryptography.md
  docs/book/translations/id/src/quantum-cryptography.md
  docs/book/translations/it/src/quantum-cryptography.md
  docs/book/translations/ja/src/quantum-cryptography.md
  docs/book/translations/ko/src/quantum-cryptography.md
  docs/book/translations/pl/src/quantum-cryptography.md
  docs/book/translations/pt/src/quantum-cryptography.md
  docs/book/translations/ru/src/quantum-cryptography.md
  docs/book/translations/th/src/quantum-cryptography.md
  docs/book/translations/tr/src/quantum-cryptography.md
  docs/book/translations/vi/src/quantum-cryptography.md
  docs/book/translations/zh/src/quantum-cryptography.md
Due: none

docs: qualify GroveDB section headings in all remaining translations
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/es/src/quantum-cryptography.md
  docs/book/translations/fr/src/quantum-cryptography.md
  docs/book/translations/ja/src/quantum-cryptography.md
  docs/book/translations/pt/src/quantum-cryptography.md
  docs/book/translations/ru/src/quantum-cryptography.md
  docs/book/translations/tr/src/quantum-cryptography.md
  docs/book/translations/zh/src/quantum-cryptography.md
Due: none

docs: add quantum cryptography chapter (#447)
  docs/book/src/SUMMARY.md
  docs/book/src/quantum-cryptography.md
  docs/book/translations/ar/src/SUMMARY.md
  docs/book/translations/ar/src/quantum-cryptography.md
  docs/book/translations/cs/src/SUMMARY.md
  docs/book/translations/cs/src/quantum-cryptography.md
  docs/book/translations/de/src/SUMMARY.md
  docs/book/translations/de/src/quantum-cryptography.md
  docs/book/translations/es/src/SUMMARY.md
  docs/book/translations/es/src/quantum-cryptography.md
  docs/book/translations/fr/src/SUMMARY.md
  docs/book/translations/fr/src/quantum-cryptography.md
  docs/book/translations/id/src/SUMMARY.md
  docs/book/translations/id/src/quantum-cryptography.md
  docs/book/translations/it/src/SUMMARY.md
  docs/book/translations/it/src/quantum-cryptography.md
  docs/book/translations/ja/src/SUMMARY.md
  docs/book/translations/ja/src/quantum-cryptography.md
  docs/book/translations/ko/src/SUMMARY.md
  docs/book/translations/ko/src/quantum-cryptography.md
  docs/book/translations/pl/src/SUMMARY.md
  docs/book/translations/pl/src/quantum-cryptography.md
  docs/book/translations/pt/src/SUMMARY.md
  docs/book/translations/pt/src/quantum-cryptography.md
  docs/book/translations/ru/src/SUMMARY.md
  docs/book/translations/ru/src/quantum-cryptography.md
  docs/book/translations/th/src/SUMMARY.md
  docs/book/translations/th/src/quantum-cryptography.md
  docs/book/translations/tr/src/SUMMARY.md
  docs/book/translations/tr/src/quantum-cryptography.md
  docs/book/translations/vi/src/SUMMARY.md
  docs/book/translations/vi/src/quantum-cryptography.md
  docs/book/translations/zh/src/SUMMARY.md
  docs/book/translations/zh/src/quantum-cryptography.md
Due: none

test(merk): add missing ChunkError variant coverage (#446)
  merk/src/proofs/chunk/error.rs
Due: Merk

docs: fix localization issues flagged by CodeRabbit on PR #444
  docs/book/translations/es/src/commitment-tree.md
  docs/book/translations/fr/src/commitment-tree.md
  docs/book/translations/id/src/commitment-tree.md
  docs/book/translations/pl/src/commitment-tree.md
Due: none

docs: fix missing Polish diacritic in 'według'
  docs/book/translations/pl/src/commitment-tree.md
Due: none

fix(merk): handle KV, KVValueHash, and KVCount nodes in chunk restoration
  merk/src/merk/restore.rs
Due: Merk

ci: add PR coverage diff checker to detect low-value tests
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
Due: none

ci: add PR coverage diff checker to detect low-value tests (#451)
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
Due: none

chore: add .claude to .gitignore
  .gitignore
Due: none

fix(merk): handle KV, KVValueHash, and KVCount nodes in chunk restoration (#450)
  merk/src/merk/restore.rs
Due: Merk

docs: fix translation diacritics and terminology in es/fr/pl/id (#448)
  docs/book/translations/es/src/commitment-tree.md
  docs/book/translations/fr/src/commitment-tree.md
  docs/book/translations/id/src/commitment-tree.md
  docs/book/translations/pl/src/commitment-tree.md
Due: none

chore: add .claude to .gitignore (#452)
  .gitignore
Due: none

test(grovedb): add coverage test suites, remove ~157 zero-gain tests
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/delete_up_tree_tests.rs
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
  grovedb/src/tests/get_cost_estimator_tests.rs
  grovedb/src/tests/grove_query_result_tests.rs
  grovedb/src/tests/is_empty_tree_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/operations_coverage_tests.rs
  grovedb/src/tests/proof_advanced_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/query_result_type_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core

style: fix rustfmt in batch_coverage_tests.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: address CodeRabbit review comments
  grovedb/src/replication.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core

fix: resolve clippy warnings in test files
  grovedb/src/tests/grove_query_result_tests.rs
  grovedb/src/tests/operations_coverage_tests.rs
  grovedb/src/tests/query_result_type_tests.rs
Due: GroveDB Core

fix: strengthen test assertions per review feedback
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/grove_query_result_tests.rs
Due: GroveDB Core

test(grovedb): add coverage test suites (#449)
  grovedb/src/replication.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/delete_up_tree_tests.rs
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
  grovedb/src/tests/get_cost_estimator_tests.rs
  grovedb/src/tests/grove_query_result_tests.rs
  grovedb/src/tests/is_empty_tree_tests.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/operations_coverage_tests.rs
  grovedb/src/tests/proof_advanced_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/query_result_type_tests.rs
  grovedb/src/tests/replication_session_tests.rs
  grovedb/src/tests/replication_utils_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core

ci: remove redundant push trigger from pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

test(bulk-append-tree): add high-value coverage tests (+43 lines)
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
Due: GroveDB Core, BulkAppendTree

test(bulk-append-tree): add high-value coverage tests (+43 lines) (#453)
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
Due: GroveDB Core, BulkAppendTree

chore(coverage): improve dense-tree coverage and exclude test utilities
  .codecov.yml
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
Due: none

chore(coverage): improve dense-tree coverage and exclude test utilities (#454)
  .codecov.yml
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
Due: none

test(grovedb): add coverage tests for error, visualize, reference_path, and commitment_tree
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_path_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core, Commitment Tree

test(grovedb): add coverage tests for error, visualize, reference_path, and commitment_tree (#455)
  grovedb-commitment-tree/src/commitment_tree/mod.rs
  grovedb-commitment-tree/src/commitment_tree/tests.rs
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_path_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core, Commitment Tree

test: add comprehensive merge and query item coverage tests
  grovedb-query/tests/merge_coverage.rs
Due: none

test: add comprehensive merge and query item coverage tests (#456)
  grovedb-query/tests/merge_coverage.rs
Due: none

test: add merk coverage tests for branch proofs, tree types, and iterator
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/branch/tests.rs
  merk/src/tree/iter.rs
  merk/src/tree/tree_feature_type.rs
  merk/src/tree_type/mod.rs
Due: Merk

fix: address CodeRabbit review feedback
  merk/src/proofs/branch/mod.rs
  merk/src/tree_type/mod.rs
Due: Merk

test: improve merk crate coverage (branch proofs, tree types, iterator) (#457)
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/branch/tests.rs
  merk/src/tree/iter.rs
  merk/src/tree/tree_feature_type.rs
  merk/src/tree_type/mod.rs
Due: Merk

test: improve MMR crate code coverage
  grovedb-merkle-mountain-range/src/tests/mod.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

Remove 33 tests that didn't add coverage, keep only the 9 that did
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

test: improve MMR crate code coverage (#458)
  grovedb-merkle-mountain-range/src/tests/mod.rs
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

test: cover merk average case cost estimation and exclude test_utils from codecov
  .codecov.yml
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

fix clippy identity_op warnings in test assertions
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

Replace assert!(size > 0) with deterministic assert_eq in mix weighted test
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

test: cover merk average case costs and exclude test_utils from codecov (#459)
  .codecov.yml
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

test: improve proof directory coverage with query variant and V0 path tests
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

Remove 6 tests that add zero coverage improvement
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
