Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

Remove 59 zero-impact tests from PR #455, preserving all coverage
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core

test: improve proof directory coverage (#460)
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

Remove 59 zero-impact tests from PR #455, preserving all coverage (#461)
  grovedb/src/tests/error_display_tests.rs
  grovedb/src/tests/visualize_tests.rs
Due: GroveDB Core

test: remove 4 redundant zero-impact tests from PR #440 element coverage
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
Due: none

test: remove 4 redundant zero-impact tests from PR #440 element coverage (#462)
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
Due: none

test(grovedb): cover all QueryItem range variants for non-Merk tree proofs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test(grovedb): cover all QueryItem range variants for non-Merk tree proofs (#463)
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

test(grovedb): cover delete cost estimation functions (average_case.rs + worst_case.rs)
  grovedb/src/tests/delete_cost_estimation_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

feat(query): add AggregateSumQuery for sum-up-to style queries
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/aggregate_sum_query/merge.rs
  grovedb-query/src/aggregate_sum_query/mod.rs
  grovedb-query/src/error.rs
  grovedb-query/src/lib.rs
  grovedb-query/tests/aggregate_sum_query_tests.rs
Due: none

refactor: trim 9 redundant tests, add 1 for missing leaf-info branch
  grovedb/src/tests/delete_cost_estimation_tests.rs
Due: GroveDB Core

test: assert op kind and key on generated delete ops
  grovedb/src/tests/delete_cost_estimation_tests.rs
Due: GroveDB Core

fix: handle Overflow variant in merk Error From<query::Error> impl
  merk/src/error.rs
Due: Merk

test(grovedb): cover delete cost estimation functions (#464)
  grovedb/src/tests/delete_cost_estimation_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(ci): restore coverage baseline detection in PR diffs
  .github/workflows/coverage.yml
Due: none

chore(ci): remove redundant pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix(ci): restore coverage baseline detection in PR diffs (#465)
  .github/workflows/coverage.yml
Due: none

chore(ci): remove redundant pre-commit workflow (#466)
  .github/workflows/pre-commit.yml
Due: none

test(grovedb): add 33 batch/mod.rs coverage tests, remove dead code
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(grovedb): add 33 batch/mod.rs coverage tests, remove dead code (#467)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

test(grovedb): add 22 aggregate sum query coverage tests
  grovedb/src/element/aggregate_sum_query.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix(grovedb): correct empty CommitmentTree and MmrTree hash/proof handling
  grovedb-commitment-tree/src/lib.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core, Commitment Tree

ci: replace custom coverage infra with native Codecov
  .codecov.yml
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
  .github/workflows/grovedb.yml
Due: none

fix(grovedb): narrow empty MMR proof fast path to mmr_size == 0
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

ci: replace custom coverage infra with native Codecov (#469)
  .codecov.yml
  .github/scripts/coverage-diff.py
  .github/workflows/coverage.yml
  .github/workflows/grovedb.yml
Due: none

fix(grovedb): correct empty CommitmentTree and MmrTree hash/proof handling (#468)
  grovedb-commitment-tree/src/lib.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
Due: GroveDB Core, Commitment Tree

chore(ci): speed up CI with sccache, test sharding, and precise filters
  .github/workflows/grovedb.yml
Due: none

chore(ci): speed up security audit with pre-built cargo-audit binary
  .github/workflows/grovedb.yml
Due: none

chore(ci): speed up CI with sccache, test sharding, and precise filters (#470)
  .github/workflows/grovedb.yml
Due: none

chore(ci): speed up security audit with pre-built cargo-audit binary (#471)
  .github/workflows/grovedb.yml
Due: none

fix(ci): add Codecov component definitions for per-crate badges
  .codecov.yml
Due: none

fix(ci): add Codecov component definitions for per-crate badges (#472)
  .codecov.yml
Due: none

fix(ci): restore cross-crate coverage with sharded workspace tests
  .codecov.yml
  .github/workflows/grovedb.yml
Due: none

fix(ci): restore cross-crate coverage with sharded workspace tests (#473)
  .codecov.yml
  .github/workflows/grovedb.yml
Due: none

fix(ci): drop build-once approach, each shard compiles with sccache
  .github/workflows/grovedb.yml
Due: none

fix(ci): add sccache to linting job
  .github/workflows/grovedb.yml
Due: none

fix(ci): add sccache to linting job (#474)
  .github/workflows/grovedb.yml
Due: none

test(commitment-tree): cover deserialization error paths and client append validation
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/tree_serialization.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
  grovedb-commitment-tree/src/client/tests.rs
Due: Commitment Tree

test(grovedb-element): cover Display None-branches, proof_node_type ProvableCountSumTree, and display_path non-alphanumeric UTF-8
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-element/tests/reference_path_edge_cases.rs
Due: Element

test(commitment-tree): cover deserialization error paths and client append validation (#475)
  grovedb-commitment-tree/src/client/sqlite_client_tests.rs
  grovedb-commitment-tree/src/client/sqlite_store/tree_serialization.rs
  grovedb-commitment-tree/src/client/sqlite_store_tests.rs
  grovedb-commitment-tree/src/client/tests.rs
Due: Commitment Tree

test(grovedb-element): cover Display None-branches, proof_node_type ProvableCountSumTree, and display_path non-alphanumeric UTF-8 (#476)
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb-element/tests/reference_path_edge_cases.rs
Due: Element
