Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix(test): use fully-qualified Encode method calls
  grovedb-query/src/proofs/mod.rs
  merk/src/proofs/query/aggregate_count/tests.rs
Due: Merk

test: regular-prove-on-PCPS tests cover the dual-axis helper methods
  merk/src/proofs/query/aggregate_count/tests.rs
Due: Merk

fix(query): reject QueryItem::Key in count-offset paginated validator
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

test: shape-walk rejection paths + dual-axis Node variant coverage
  merk/src/proofs/branch/tests.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
Due: Merk

refactor(merk): move prove_count_offset_on_range into its own file + version-gate at 0
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  merk/src/merk/mod.rs
  merk/src/merk/prove.rs
  merk/src/merk/prove_count_offset.rs
Due: Merk

chore(prove): drop pointer comment to prove_count_offset.rs
  merk/src/merk/prove.rs
Due: Merk

docs(book): add Count-Offset Paginated Queries chapter
  docs/book/src/SUMMARY.md
  docs/book/src/count-offset-paginated-queries.md
Due: none

fix: address CodeRabbit findings for ProvableCountProvableSumTree PR
  grovedb-element/src/element/serialize.rs
  grovedb/src/batch/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  merk/src/merk/get.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/aggregate_count/emit.rs
  merk/src/proofs/query/aggregate_count/mod.rs
  merk/src/proofs/query/aggregate_count/tests.rs
  merk/src/proofs/query/aggregate_sum/tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk, Element

fix(count_offset): reject NonCounted / Reference / non-empty-tree in-range entries
  docs/book/src/count-offset-paginated-queries.md
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

docs(query): fix validate_count_offset_paginated rustdoc — Key is rejected
  grovedb/src/query/mod.rs
Due: GroveDB Core

test: cover top-3 patch-coverage gaps to reach 90%
  grovedb/src/lib.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk

test(count_offset): tighten error-variant matching and pin full payload
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/tests.rs
Due: GroveDB Core, Merk

refactor(verify): factor count-offset envelope gate + test verify_query path
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

test(count_offset): add forged-proof tests for verifier defense-in-depth
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

fix: 3 PCPS findings — ref proof downgrade, chunk allowlist, trunk_query gate
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/merk/mod.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

test: cover v0 ref-rewrite + write_chunk arms (90% patch coverage)
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

test: tighten 2 CodeRabbit nitpicks on PCPS coverage tests
  merk/src/merk/mod.rs
  merk/src/proofs/query/aggregate_count/tests.rs
Due: Merk

feat(merk,grovedb): reject NonCounted/NotCountedOrSummed in provable count parents
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/non_counted_tests.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  merk/src/element/insert.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

feat(merk,grovedb): reject NonCounted/NotCountedOrSummed in provable count parents (#672)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
  grovedb/src/tests/non_counted_tests.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  merk/src/element/insert.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

test+docs(count_offset): align with #672 NonCounted insert rejection
  docs/book/src/count-offset-paginated-queries.md
  grovedb/src/tests/count_offset_paginated_tests.rs
Due: GroveDB Core

feat(grovedb,merk): provable offset on ProvableCountTree / ProvableCountSumTree single-range queries (#669)
  docs/book/src/SUMMARY.md
  docs/book/src/count-offset-paginated-queries.md
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/mod.rs
  merk/src/merk/prove_count_offset.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/prove.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk

feat(grovedb): paginated top_k for CountIndexedTree via PR #669's count-offset proof
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix(lint): doc-comment lazy continuation in CountIndexedPaginatedProof
  grovedb/src/operations/proof/count_indexed.rs
Due: GroveDB Core

Merge develop (PR #669), extend count-offset paginated proofs to PCPS
  grovedb/src/operations/proof/generate.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/merk/prove_count_offset.rs
  merk/src/proofs/query/count_offset/emit.rs
  merk/src/proofs/query/count_offset/mod.rs
  merk/src/proofs/query/count_offset/prove.rs
  merk/src/proofs/query/count_offset/tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

test: cover dual-axis arms in count_offset emit/verify (90%+ patch)
  merk/src/proofs/query/count_offset/tests.rs
Due: Merk

test(cidx): cover error paths in paginated top_k APIs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

fix: include KVCountSum in GroveDB post-processing for PCPS Items
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
Due: GroveDB Core

fix: revert V0 prover modifications, reject PCPS at V0 dispatch
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
Due: GroveDB Core

feat(grovedb): AggregateCountOnRange on CountIndexedTree secondary
  grovedb/src/operations/count_indexed_tree.rs
  grovedb/src/operations/proof/count_indexed.rs
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

test: cover PCPS batch propagation path (+0.1% patch coverage)
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
Due: GroveDB Core

test(cidx): cover error paths + nested-cidx round-trip for aggregate-count and paginated
  grovedb/src/tests/count_indexed_tree_tests.rs
Due: GroveDB Core

feat(query,merk,grovedb): AggregateCountAndSumOnRange — PCPS-only combined proof
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-query/src/aggregate_count.rs
  grovedb-query/src/query.rs
  grovedb-query/src/query_item/intersect.rs
  grovedb-query/src/query_item/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/leaf_chain.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/merk/prove.rs
  merk/src/proofs/query/aggregate_count_and_sum/emit.rs
  merk/src/proofs/query/aggregate_count_and_sum/mod.rs
  merk/src/proofs/query/aggregate_count_and_sum/prove.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/verify.rs
  merk/src/proofs/query/mod.rs
Due: GroveDB Core, Merk, BulkAppendTree

test(pcps): cover combined-aggregate negative paths to lift patch coverage above 90%
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
Due: GroveDB Core, Merk

fix: iter_is_valid_for_type wrapper arms preserve cost (CodeRabbit)
  grovedb-query/src/query_item/mod.rs
Due: none

test(pcps): broaden patch coverage for combined-aggregate / cross-aggregate paths
  grovedb-query/src/aggregate_count.rs
  grovedb-query/src/query.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
Due: GroveDB Core, Merk

test(pcps): broaden patch coverage to 91% — add 7 PCPS tests
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
Due: GroveDB Core

test(merk): fail forged-KVDigestCountSum tests if no op found
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
Due: Merk

refactor(grovedb-query): split aggregate_sum & aggregate_count_and_sum out of query.rs
  grovedb-query/src/aggregate_count_and_sum.rs
  grovedb-query/src/aggregate_sum.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
Due: none

feat(grovedb,query): carrier-shape AggregateSumOnRange & AggregateCountAndSumOnRange
  grovedb-query/src/aggregate_count_and_sum.rs
  grovedb-query/src/aggregate_sum.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/classification.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/per_key.rs
  grovedb/src/operations/proof/aggregate_sum/classification.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/per_key.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
