Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix: use explicit .value instead of .unwrap() for discarded costs in Restorer
  merk/src/merk/restore.rs
Due: Merk

fix: propagate error and clarify discarded costs in ChunkProducer
  merk/src/merk/chunks.rs
Due: Merk

fix: replace unreachable!() with error returns in Walker::detach
  merk/src/tree/walk/mod.rs
Due: Merk

fix: remove leftover eprintln in proof verification error path
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

fix: prevent arithmetic overflow and truncation in cost tracking, replication, and tree operations (#540)
  costs/src/lib.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
  grovedb/src/batch/key_info.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/query_result_type.rs
  grovedb/src/replication.rs
  merk/src/tree/link.rs
Due: GroveDB Core, Merk

fix: return error on deserialization failure during proof generation
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: use saturating_sub for limit and offset decrements in query processing (#541)
  grovedb/src/element/query.rs
Due: GroveDB Core

fix: remove leftover eprintln in proof verification error path (#549)
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core

docs: document why encode_into expect is unreachable
  grovedb-query/src/proofs/encoding.rs
Due: none

fix: return error instead of panicking on missing flags in JIT update
  grovedb/src/batch/just_in_time_reference_update.rs
Due: GroveDB Core

docs: document why to_ne_bytes is intentional in build_prefix_body
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: return error instead of panicking on missing flags in JIT update (#552)
  grovedb/src/batch/just_in_time_reference_update.rs
Due: GroveDB Core

docs: document why encode_into expect is unreachable (#551)
  grovedb-query/src/proofs/encoding.rs
Due: none

fix: return error on deserialization failure during proof generation (#550)
  grovedb/src/operations/proof/generate.rs
Due: GroveDB Core

fix: replace unreachable!() with error returns in Walker::detach (#548)
  merk/src/tree/walk/mod.rs
Due: Merk

fix: propagate error and clarify discarded costs in ChunkProducer (#547)
  merk/src/merk/chunks.rs
Due: Merk

fix: use explicit .value instead of .unwrap() for discarded costs in Restorer (#546)
  merk/src/merk/restore.rs
Due: Merk

docs: document why to_ne_bytes is intentional in build_prefix_body (#544)
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: return error instead of panicking on None tree in rewrite_heights (#542)
  merk/src/merk/restore.rs
Due: Merk

fix: initialize last_level from previous ops in continue_from_ops (#543)
  grovedb/src/batch/batch_structure.rs
Due: GroveDB Core

fix: prevent KV-to-KVValueHash proof value forgery attack
  grovedb/src/operations/proof/util.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/misc_coverage_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: return errors instead of panicking in calculate_chunk_depths
  grovedb/benches/branch_chunk_queries.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/src/merk/mod.rs
  merk/src/proofs/branch/depth.rs
Due: GroveDB Core, Merk

fix: validate dense tree height before bit shift to prevent panic
  grovedb/src/operations/dense_tree.rs
Due: GroveDB Core

fix: use tree-type-aware hash in Merk::verify for ProvableCountTree
  merk/src/merk/mod.rs
Due: Merk

fix: extend Tree::aggregate_data to handle all chunk node types
  merk/src/proofs/tree.rs
Due: Merk

fix: use tree-type-aware hash in Merk::verify for ProvableCountTree (#556)
  merk/src/merk/mod.rs
Due: Merk

fix: validate dense tree height before bit shift to prevent panic (#555)
  grovedb/src/operations/dense_tree.rs
Due: GroveDB Core

fix: verify root hash before committing state sync session
  grovedb/src/replication.rs
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
  tutorials/src/bin/replication.rs
Due: GroveDB Core

fix: validate empty subtree chunks during state sync
  grovedb/src/replication/state_sync_session.rs
  merk/src/merk/restore.rs
Due: GroveDB Core, Merk

fix: correct RangeSetItem Ord anti-symmetry for ExclusiveStart/ExclusiveEnd
  grovedb-query/src/query_item/intersect.rs
Due: none

fix: save self subquery before overwriting in merge_default_subquery_branch
  grovedb-query/src/merge.rs
Due: none

fix: preserve add_parent_tree_on_subquery flag in Query merge operations
  grovedb-query/src/merge.rs
Due: none

fix: correct RangeSetItem Ord anti-symmetry for ExclusiveStart/ExclusiveEnd (#560)
  grovedb-query/src/query_item/intersect.rs
Due: none

fix: enforce validate_insertion_does_not_override_tree in batch path
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_coverage_tests.rs
Due: GroveDB Core

fix: use i16 promotion in TreeNode::balance_factor to prevent overflow
  merk/src/tree/mod.rs
Due: Merk

fix: include segments_count bytes in worst_case_body_size
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: return accumulated costs from commit_batch instead of discarding
  storage/src/rocksdb_storage/storage_context/context_immediate.rs
Due: Storage

fix: replace unreachable!() with None in RangeSet::to_query_item
  grovedb-query/src/query_item/intersect.rs
Due: none

fix: replace unreachable!() with overwrite in Query::insert_item
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
Due: none

fix: return Result from Link::into_reference instead of panicking
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
Due: Merk

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
