Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

.codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%

component_management:
  individual_components:
    - component_id: grovedb-core
      name: GroveDB Core
      paths:
        - grovedb/src/**

    - component_id: merk
      name: Merk
      paths:
        - merk/src/**

    - component_id: storage
      name: Storage
      paths:
        - storage/src/**

    - component_id: commitment-tree
      name: Commitment Tree
      paths:
        - grovedb-commitment-tree/src/**

    - component_id: mmr
      name: MMR
      paths:
        - grovedb-merkle-mountain-range/src/**

    - component_id: bulk-append-tree
      name: BulkAppendTree
      paths:
        - grovedb-bulk-append-tree/src/**

    - component_id: element
      name: Element
      paths:
        - grovedb-element/src/**

test(coverage): estimated_costs + db.query Tree/PCIT/PSIT/PCPSIT rejection
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/query_indexed_tree_dispatch_tests.rs
Due: GroveDB Core

test(coverage): indexed-axis path-length mismatches + batch empty-validation
  grovedb/src/tests/batch_indexed_tree_tests.rs
  grovedb/src/tests/indexed_axis_proof_tests.rs
Due: GroveDB Core

test(element): Display arms for PCIT/PSIT/PCPSIT + wrapper variants
  grovedb-element/tests/element_display_and_serialization.rs
Due: none

ci(codecov): lower patch target 88% -> 85%
  .codecov.yml
Due: none

feat(merk): extend EstimatedLayerSizes/EstimatedSumTrees for sum-bearing leaves and Provable* trees
  grovedb-version/src/lib.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/tests/misc_coverage_tests.rs
  merk/src/estimated_costs/average_case_costs.rs
Due: GroveDB Core, Merk

test(merk): add coverage for v0 propagate with sum-bearing variants and version-gate error
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

fix(merk,grovedb-version): macro hygiene + v0 divisor guard for EstimatedSumTrees
  grovedb-version/src/lib.rs
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

fix(merk): version-gate the Mix-arm cost formulas; grove v3 gets the fixes
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  merk/src/estimated_costs/average_case_costs.rs
Due: Merk

refactor(merk): split versioned avg-case cost fns into per-version files (platform-style)
  merk/src/estimated_costs/average_case_costs.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/mod.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v0.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v1.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v2.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/mod.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v0.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v1.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v2.rs
  merk/src/estimated_costs/average_case_costs/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v0.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v1.rs
Due: Merk

fix(merk): use DivideByZero for the v0 Mix checked_div ok_or path
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v0.rs
Due: Merk

refactor(merk): hoist per-item #[cfg(feature = "minimal")] to file-level #![cfg(...)]
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/mod.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v0.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v1.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v2.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/mod.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v0.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v1.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v2.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v0.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v1.rs
Due: Merk

refactor(merk): drop redundant feature gates from average_case_costs subtree
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/mod.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v0.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v1.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v2.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/mod.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v0.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v1.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v2.rs
  merk/src/estimated_costs/average_case_costs/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v0.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v1.rs
Due: Merk

feat(merk): extend EstimatedLayerSizes/EstimatedSumTrees for sum-bearing leaves and Provable* trees (#674)
  grovedb-version/src/lib.rs
  grovedb-version/src/version/merk_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/tests/misc_coverage_tests.rs
  merk/src/estimated_costs/average_case_costs.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/mod.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v0.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v1.rs
  merk/src/estimated_costs/average_case_costs/add_average_case_merk_propagate/v2.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/mod.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v0.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v1.rs
  merk/src/estimated_costs/average_case_costs/estimated_sum_trees_size/v2.rs
  merk/src/estimated_costs/average_case_costs/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/mod.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v0.rs
  merk/src/estimated_costs/average_case_costs/value_with_feature_and_flags_size/v1.rs
Due: GroveDB Core, Merk

fix(security)!: count-offset verifier KV->KVValueHash forgery (P1)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/count_offset_paginated_tests.rs
  merk/src/proofs/query/count_offset/verify.rs
Due: GroveDB Core, Merk

feat(grovedb,merk): add no-prove query_aggregate_count_and_sum
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_and_sum_query_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/get.rs
  merk/src/proofs/query/aggregate_count_and_sum/mod.rs
  merk/src/proofs/query/aggregate_count_and_sum/prove.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/walk.rs
Due: GroveDB Core, Merk

test(grovedb): cover path-not-found branch in query_aggregate_count_and_sum
  grovedb/src/tests/aggregate_count_and_sum_query_tests.rs
Due: GroveDB Core

test(grovedb): rename v2-envelope test to match its asserted behavior
  grovedb/src/tests/aggregate_count_and_sum_query_tests.rs
Due: GroveDB Core

refactor(grovedb): extract version slot in query_aggregate_count_and_sum
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

refactor(merk): chain narrowing checks in count_and_sum_aggregate_on_range
  merk/src/proofs/query/aggregate_count_and_sum/prove.rs
Due: Merk

test(merk): extract narrow_count_and_sum + cover both overflow arms
  merk/src/proofs/query/aggregate_count_and_sum/prove.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
Due: Merk

feat(grovedb,merk): no-prove query_aggregate_count_and_sum accumulator (#676)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_and_sum_query_tests.rs
  grovedb/src/tests/mod.rs
  merk/src/merk/get.rs
  merk/src/proofs/query/aggregate_count_and_sum/mod.rs
  merk/src/proofs/query/aggregate_count_and_sum/prove.rs
  merk/src/proofs/query/aggregate_count_and_sum/tests.rs
  merk/src/proofs/query/aggregate_count_and_sum/walk.rs
Due: GroveDB Core, Merk

Ignore accepted bincode audit advisory
  .cargo/audit.toml
Due: none

Reject trailing bytes in element deserialization
  grovedb-element/src/element/serialize.rs
Due: Element

Reject trailing bytes in append-only proofs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-merkle-mountain-range/src/proof.rs
Due: MMR, BulkAppendTree

Avoid panicking on overlong path prefixes
  storage/src/rocksdb_storage/storage.rs
Due: Storage

Ignore accepted bincode audit advisory (#723)
  .cargo/audit.toml
Due: none

Reject trailing bytes in element deserialization (#724)
  grovedb-element/src/element/serialize.rs
Due: Element

Reject trailing bytes in append-only proofs (#725)
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/tests.rs
  grovedb-merkle-mountain-range/src/proof.rs
Due: MMR, BulkAppendTree

Reject overlong Merk keys before encoding
  grovedb-query/src/proofs/encoding.rs
  merk/src/merk/apply.rs
  merk/src/merk/mod.rs
  merk/src/tree/link.rs
Due: Merk

Keep state sync restore atomic until commit
  grovedb/src/replication/state_sync_session.rs
  grovedb/src/tests/replication_session_tests.rs
Due: GroveDB Core

Validate fetched Merk links during lazy load
  merk/src/merk/source.rs
  merk/src/tree/mod.rs
  merk/src/tree/ops.rs
  merk/src/tree/walk/fetch.rs
  merk/src/tree/walk/mod.rs
Due: Merk

Check size arithmetic in cost helpers
  costs/src/error.rs
  costs/src/lib.rs
  costs/src/storage_cost/key_value_cost.rs
  costs/src/storage_cost/mod.rs
  costs/tests/coverage_regression.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/error.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb/src/batch/mod.rs
  merk/src/merk/mod.rs
Due: GroveDB Core, Merk, Element

Reject trailing bytes in element deserialization
  grovedb-element/src/element/serialize.rs
  grovedb-version/src/version/v3.rs
Due: Element

Preserve subquery limit after offset skips
  grovedb-version/src/version/v3.rs
  grovedb/src/element/query.rs
  grovedb/src/tests/query_tests.rs
Due: GroveDB Core

Reject append operations that conflict with keyed ops
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

Validate hop-one batch reference targets
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

Apply terminal-key conditionals per queried item
  grovedb-query/src/query.rs
  grovedb-query/tests/query_terminal_and_merge.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

Reject short completed chunk proofs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/proof/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/verify.rs
Due: GroveDB Core, BulkAppendTree

Version element trailing-byte deserialization
  grovedb-element/src/element/serialize.rs
  grovedb-version/src/version/v3.rs
Due: Element

Version proof trailing-byte decoding
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count_and_sum/mod.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_advanced_tests.rs
  grovedb/src/tests/provable_count_provable_sum_tree_tests.rs
Due: GroveDB Core
