Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

feat: mark internal GroveOp variants as #[non_exhaustive] (#523)
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: prevent u16 limit underflow in proof verification (#522)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_coverage_tests.rs
Due: GroveDB Core

fix: validate key length in batch operations to prevent Merk encoding corruption (#521)
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

fix: start protocol_version numbering at 1 instead of 0
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
Due: none

refactor: version-dispatch pattern for prove_query methods
  grovedb-version/src/lib.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  grovedb/src/tests/provable_count_tree_comprehensive_test.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

fix: update version tests for v3 addition
  grovedb-version/src/tests.rs
Due: none

fix: add version gating to proof generation methods (#513)
  grovedb-version/src/lib.rs
  grovedb-version/src/tests.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/mod.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_sum_tree_tests.rs
  grovedb/src/tests/provable_count_tree_comprehensive_test.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core

fix: start protocol_version numbering at 1 instead of 0 (#528)
  grovedb-version/src/tests.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
Due: none

fix: implement proof succinctness and completeness verification
  grovedb-element/src/element/helpers.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/succinctness_gap_test.rs
  grovedb/src/tests/sum_tree_tests.rs
Due: GroveDB Core, Element

fix: set v3 protocol_version to 3 after merge with develop
  grovedb-version/src/version/v3.rs
Due: none

docs: update verify_proof_succinctness docs now that it is implemented
  grovedb/src/operations/proof/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

test: add V0 proof tests for succinctness and completeness coverage
  grovedb/src/tests/succinctness_gap_test.rs
Due: GroveDB Core

fix: implement proof succinctness and completeness verification (#519)
  grovedb-element/src/element/helpers.rs
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/succinctness_gap_test.rs
  grovedb/src/tests/sum_tree_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk, Element

fix: use checked_add to prevent u32 overflow in combine_with_higher_base_epoch
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

fix: use checked_add to prevent u32 overflow in combine_with_higher_base_epoch (#531)
  grovedb-epoch-based-storage-flags/src/lib.rs
Due: none

fix: return Result from element constructors instead of panicking on invalid chunk_power
  grovedb-element/src/element/constructor.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core, Element

fix: return error instead of panicking on corrupted iterator in range query
  grovedb/src/element/query.rs
Due: GroveDB Core

fix: replace silent u8 truncation in build_prefix_body with checked conversion
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: propagate error info in replication state sync instead of discarding it
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: document Owner::own_result poisoning and improve panic message
  merk/src/owner.rs
Due: Merk

fix: replace panics with error returns in TreeNode::load
  merk/src/tree/mod.rs
Due: Merk

fix: document Owner::own_result poisoning and improve panic message (#536)
  merk/src/owner.rs
Due: Merk

fix: replace silent u8 truncation in build_prefix_body with checked conversion (#534)
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: return error instead of panicking on corrupted iterator in range query (#533)
  grovedb/src/element/query.rs
Due: GroveDB Core

fix: return Result from element constructors instead of panicking on invalid chunk_power (#532)
  grovedb-element/src/element/constructor.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/bulk_append_tree_tests.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core, Element

fix: propagate error info in replication state sync instead of discarding it (#535)
  grovedb/src/replication/state_sync_session.rs
Due: GroveDB Core

fix: replace panics with error returns in TreeNode::load (#537)
  merk/src/tree/mod.rs
Due: Merk

fix: handle all-0xFF prefix in seek_to_last to prevent incorrect seek
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
Due: Storage

fix: consistency check now catches InsertOnly and DeleteTree variants
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

docs: document why all-0xFF prefix overflow in seek_to_last is not reachable
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
Due: Storage

docs: document why all-0xFF prefix overflow in seek_to_last is not reachable (#538)
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
Due: Storage

fix: consistency check now catches InsertOnly and DeleteTree variants (#539)
  grovedb/src/batch/mod.rs
  grovedb/src/tests/batch_unit_tests.rs
Due: GroveDB Core

fix: prevent arithmetic overflow and truncation in cost tracking, replication, and tree operations
  costs/src/lib.rs
  grovedb-epoch-based-storage-flags/src/lib.rs
  grovedb/src/batch/key_info.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/query_result_type.rs
  grovedb/src/replication.rs
  merk/src/tree/link.rs
Due: GroveDB Core, Merk

fix: use saturating_sub for limit and offset decrements in query processing
  grovedb/src/element/query.rs
Due: GroveDB Core

fix: return error instead of panicking on None tree in rewrite_heights
  merk/src/merk/restore.rs
Due: Merk

fix: initialize last_level from previous ops in continue_from_ops
  grovedb/src/batch/batch_structure.rs
Due: GroveDB Core

fix: use big-endian encoding for segment count in build_prefix_body
  storage/src/rocksdb_storage/storage.rs
Due: Storage

fix: return error instead of silently dropping writes when batch is None
  storage/src/rocksdb_storage/storage_context/context_tx.rs
Due: Storage

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
