Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

test: cover the legacy baseline and the counted path's returned-row decode refusal
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
Due: GroveDB Core

feat: authenticated-absent branches in branched indexed-axis proofs
  grovedb/src/operations/proof/indexed_axis/branched.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/indexed_axis_branched_proof_tests.rs
Due: GroveDB Core

docs: book chapter for branched indexed-axis proofs
  docs/book/src/SUMMARY.md
  docs/book/src/branched-indexed-axis-proofs.md
Due: none

feat: canonical Display for branched indexed-axis envelopes
  grovedb/src/operations/proof/indexed_axis/display.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

feat: AxisPathQuery — query vocabulary for axis-ordered reads
  grovedb/src/operations/axis_path_query.rs
  grovedb/src/operations/mod.rs
  grovedb/src/query/axis_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/axis_path_query_tests.rs
  grovedb/src/tests/mod.rs
Due: GroveDB Core

fix: serve the whole counted page from one pinned iterator view
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
Due: GroveDB Core

refactor: add PathQuery::classify() — one shared shape decision for query dispatch
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedbg-types/src/lib.rs
Due: GroveDB Core

fix(query): stop insert_item from silently dropping aggregate query wrappers
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
  grovedb-query/src/query_item/merge.rs
  grovedb-query/src/query_item/mod.rs
Due: none

fix(query): enforce QueryItem::merge aggregate precondition in release builds
  grovedb-query/src/query_item/merge.rs
Due: none

fix(query): stop insert_item from silently dropping aggregate query wrappers (#796)
  grovedb-query/src/aggregate_sum_query/insert.rs
  grovedb-query/src/insert.rs
  grovedb-query/src/query_item/merge.rs
  grovedb-query/src/query_item/mod.rs
Due: none

refactor: add PathQuery::classify() — one shared shape decision for query dispatch (#795)
  grovedb/src/debugger.rs
  grovedb/src/lib.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedbg-types/src/lib.rs
Due: GroveDB Core

feat: ReadMode vocabulary — PathQuery expresses axis and sum-budget reads
  grovedb-element/Cargo.toml
  grovedb-element/src/indexed/mod.rs
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core, Element

feat: provable sum-budget reads — SumBudgetWindow in the GroveDBProof V1 envelope
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

feat: run_path_query — one read entry point for every PathQuery shape
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

fix: close the branched absence forgery and the empty-secondary gap (security audit)
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

feat: axis-ordered reads embedded in the GroveDBProof V1 envelope
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/indexed_axis/mod.rs
  grovedb/src/operations/proof/indexed_axis/verify.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/axis_lowering.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
  grovedb/src/tests/read_mode_gate_tests.rs
Due: GroveDB Core

fix: discover the secondary root key inside the counted read's pinned view
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/operations/indexed_tree.rs
  grovedb/src/tests/indexed_axis_paginated_cost_tests.rs
  storage/src/rocksdb_storage/storage_context/raw_iterator.rs
Due: GroveDB Core, Storage

fix: clamp the counted page's pre-allocation; align doc prose with measured table
  docs/COUNTED_SKIP_DESIGN.md
  grovedb/src/operations/indexed_tree.rs
Due: GroveDB Core

test: pin that a dangling secondary root key fails loud through the counted path
  grovedb/src/tests/indexed_tree_secondary_drift_tests.rs
Due: GroveDB Core

fix: box Query::read_mode to keep Query, PathQuery and Error small
  grovedb-query/src/query.rs
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
Due: GroveDB Core

fix: forward grovedb-element/serde to grovedb-query/serde
  grovedb-element/Cargo.toml
  grovedb-element/tests/serde_probe.rs
Due: none

refactor: rename AxisTraversal::TopK to RankedPage
  grovedb-query/src/axis_query.rs
  grovedb/src/query/mod.rs
Due: GroveDB Core

docs: cost characteristics per axis traversal; add AxisQuery::bottom_k
  grovedb-query/src/axis_query.rs
  grovedb-query/src/read_mode.rs
Due: none

feat: ReadMode vocabulary — PathQuery expresses axis and sum-budget reads (#797)
  grovedb-element/Cargo.toml
  grovedb-element/src/indexed/mod.rs
  grovedb-element/tests/serde_probe.rs
  grovedb-query/src/axis_query.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/merge.rs
  grovedb-query/src/query.rs
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_api_and_serialization.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/commitment_tree_tests.rs
  grovedb/src/tests/coverage_proof_generate_tests.rs
  grovedb/src/tests/dense_tree_tests.rs
  grovedb/src/tests/mmr_tree_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/proof_coverage_tests.rs
  grovedb/src/tests/provable_count_provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/provable_sum_indexed_tree_tests.rs
  grovedb/src/tests/query_tests.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  grovedb/src/tests/v1_cidx_descent_tests.rs
  grovedb/src/tests/v1_proof_tests.rs
Due: GroveDB Core, Element

fix: re-export PathQueryRun and AxisAggregateValue from the crate root
  grovedb/src/lib.rs
Due: GroveDB Core

test: cover the unified read dispatch's remaining arms
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

feat: provable sum-budget reads — SumBudgetWindow in the GroveDBProof V1 envelope (#800)
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

feat(query): trusted per-key reads for the sum and count+sum aggregate axes
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
Due: GroveDB Core

fix: reject branched axis reads with non-entry-listing traversals
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

refactor(query): split the per-key aggregate reads into their own module
  grovedb/src/operations/get/aggregate_per_key/carrier.rs
  grovedb/src/operations/get/aggregate_per_key/count.rs
  grovedb/src/operations/get/aggregate_per_key/count_and_sum.rs
  grovedb/src/operations/get/aggregate_per_key/mod.rs
  grovedb/src/operations/get/aggregate_per_key/sum.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
Due: GroveDB Core

feat: run_path_query — one read entry point for every PathQuery shape (#798)
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

Revert "feat: provable sum-budget reads — SumBudgetWindow in the GroveDBProof…"
  grovedb-query/src/read_mode.rs
  grovedb-query/tests/query_encoding_golden.rs
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb-version/src/version/v3.rs
  grovedb-version/src/version/v4.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/read_mode_gate_tests.rs
  grovedb/src/tests/sum_budget_proof_tests.rs
Due: GroveDB Core

feat(query): trusted per-key reads for the sum and count+sum aggregate axes (#803)
  grovedb/src/operations/get/aggregate_per_key/carrier.rs
  grovedb/src/operations/get/aggregate_per_key/count.rs
  grovedb/src/operations/get/aggregate_per_key/count_and_sum.rs
  grovedb/src/operations/get/aggregate_per_key/mod.rs
  grovedb/src/operations/get/aggregate_per_key/sum.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_and_sum_carrier_query_tests.rs
  grovedb/src/tests/aggregate_sum_carrier_query_tests.rs
Due: GroveDB Core

fix: close the branched absence forgery and the empty-secondary gap (security audit)
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/operations/proof/indexed_axis/envelope.rs
  grovedb/src/operations/proof/indexed_axis/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
  grovedb/src/query/shape.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
Due: GroveDB Core

feat(query): route carrier sum and count+sum reads through run_path_query
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

feat(query): route carrier sum and count+sum reads through run_path_query (#805)
  grovedb/src/operations/get/run_path_query.rs
  grovedb/src/tests/run_path_query_tests.rs
Due: GroveDB Core

fix: close two axis-read gaps found in review; expand coverage
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/axis_descent_proof_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/verify_path_query_shape_tests.rs
Due: GroveDB Core

docs: state the per-axis meaning of RangeAggregate
  docs/book/src/count-indexed-tree.md
  grovedb-query/src/axis_query.rs
  grovedb/src/operations/proof/verify_path_query.rs
  grovedb/src/query/mod.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
