Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

fix(grovedb): emit lower-layer for empty count tree under carrier ACOR
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(grovedb): tighten query_aggregate_count to leaf-only validation
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(grovedb): surface InvalidProof instead of panicking on classification drift
  grovedb/src/operations/proof/aggregate_count/per_key.rs
Due: GroveDB Core

feat(grovedb): add no-proof query_aggregate_count_per_key entry point
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

docs: clarify appendix-a Element/TreeType discriminant columns
  docs/book/src/appendix-a.md
Due: none

feat(grovedb,query): allow AggregateCountOnRange as carrier subquery (#663)
  grovedb-query/src/aggregate_count.rs
  grovedb-query/src/lib.rs
  grovedb-query/src/query.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/aggregate_count.rs
  grovedb/src/operations/proof/aggregate_count/classification.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/leaf_chain.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

feat(grovedb,query): allow SizedQuery::limit on carrier AggregateCountOnRange
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

test: cover query_validation_error_to_static_str fallback arm
  grovedb/src/query/mod.rs
Due: GroveDB Core

docs: update query_aggregate_count_per_key and classifier doc comments
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/aggregate_count/classification.rs
Due: GroveDB Core

feat(grovedb,query): allow SizedQuery::limit on carrier AggregateCountOnRange (#664)
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/proof/aggregate_count/classification.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/per_key.rs
  grovedb/src/query/mod.rs
  grovedb/src/tests/aggregate_count_query_tests.rs
Due: GroveDB Core

fix(verify): accept Sum-family boundary nodes in range bound checks
  merk/src/proofs/query/verify.rs
Due: Merk

fix(query): split aggregate validator error label per count/sum variant
  grovedb/src/query/mod.rs
Due: GroveDB Core

fix(verify): key_exists_as_boundary_in_proof must accept KVDigestSum
  merk/src/proofs/query/verify.rs
Due: Merk

chore(comments): strip implementation-phase labels from ProvableSumTree code
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-query/src/proofs/encoding.rs
  grovedb-query/src/proofs/mod.rs
  grovedb-query/src/proofs/tree_feature_type.rs
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
  grovedb/src/tests/provable_sum_tree_tests.rs
  grovedb/src/tests/trunk_proof_tests.rs
  grovedbg-types/src/lib.rs
  merk/src/element/tree_type.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/query/aggregate_sum.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
  merk/src/proofs/tree.rs
  merk/src/tree/link.rs
  merk/src/tree/mod.rs
  merk/src/tree/tree_feature_type.rs
  merk/src/tree_type/costs.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

fix(serde): QueryItem Serialize emits snake_case variant tags
  grovedb-query/src/query_item/mod.rs
Due: none

refactor(aggregate-sum): mirror PR #663 — split into subdir, reject V0 envelopes
  grovedb/src/operations/proof/aggregate_sum.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/leaf_chain.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

harden(aggregate-sum): strict lower_layers shape + V1 terminal-type test
  grovedb/src/operations/proof/aggregate_sum/leaf_chain.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

test(aggregate-sum): split strict-shape gate + cover trailing-bytes / wrong-key
  grovedb/src/operations/proof/aggregate_sum/leaf_chain.rs
  grovedb/src/tests/aggregate_sum_query_tests.rs
Due: GroveDB Core

refactor(proof): hoist canonical proof decoder to operations/proof/mod.rs
  grovedb/src/operations/proof/aggregate_count/helpers.rs
  grovedb/src/operations/proof/aggregate_count/mod.rs
  grovedb/src/operations/proof/aggregate_sum/helpers.rs
  grovedb/src/operations/proof/aggregate_sum/mod.rs
  grovedb/src/operations/proof/mod.rs
Due: GroveDB Core

harden(proof): general verify paths now use canonical decoder
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_advanced_tests.rs
Due: GroveDB Core

feat: add Element::NotCountedOrSummed wrapper for combined sum+count opt-out
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

test: raise NotCountedOrSummed patch coverage above 90%
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
Due: GroveDB Core, Merk, Element

review: apply CodeRabbit fixes (constructor revalidation + typed error asserts)
  grovedb-element/src/element/constructor.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
Due: GroveDB Core, Element

feat(grovedb,merk,element): add Element::NotCountedOrSummed wrapper for combined sum+count opt-out (#666)
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/serialize.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/batch_coverage_tests.rs
  grovedb/src/tests/batch_rejection_tests.rs
  grovedb/src/tests/batch_unit_tests.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/not_counted_or_summed_tests.rs
  merk/src/element/costs.rs
  merk/src/element/get.rs
  merk/src/element/insert.rs
  merk/src/element/reconstruct.rs
  merk/src/element/tree_type.rs
  merk/src/tree_type/mod.rs
Due: GroveDB Core, Merk, Element

refactor(batch): extract cidx helpers to batch/count_indexed_tree.rs
  grovedb/src/batch/cidx.rs
  grovedb/src/batch/count_indexed_tree.rs
  grovedb/src/batch/mod.rs
Due: GroveDB Core

harden(merk): hash_for_link fails closed when Provable* node/tree_type mismatches
  merk/src/tree/mod.rs
Due: Merk

feat(element,grovedb): add Element::ReferenceWithSumItem variant + RefreshReferenceWithSumItem batch op
  grovedb-element/src/element/constructor.rs
  grovedb-element/src/element/helpers.rs
  grovedb-element/src/element/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/element_type.rs
  grovedb-element/tests/element_constructors_helpers.rs
  grovedb-element/tests/element_display_and_serialization.rs
  grovedb/src/batch/batch_structure.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/debugger.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/mod.rs
  grovedb/src/operations/get/query.rs
  grovedb/src/operations/insert/mod.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/reference_path.rs
  grovedb/src/tests/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
  merk/src/element/get.rs
Due: GroveDB Core, Merk, Element

test: cover query / refresh-untrusted / cost-estimate / proof / aggregate-sum paths for ReferenceWithSumItem
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

fix(batch): preserve NonCounted wrapper across RefreshReferenceWithSumItem; exempt new refs from tree-override guard
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

fix(batch): always thread refresh op's reference_path_type into process_reference
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

test(refresh-with-sum-item): cover op tag, debug format, wrapper-preserve, missing key
  grovedb/src/operations/get/query.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

fix(batch): enforce parent-tree invariant on refresh-with-sum-item; cost arms honor non_counted
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

fix(batch): remove buggy process_reference fast path that committed stale/wrong hashes
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

test: pin exact GroveOp::to_u8 sort tag for RefreshReferenceWithSumItem
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

fix(cost): InsertTreeWithRootHash / InsertNonMerkTree honor wrapper byte
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/estimated_costs/average_case_costs.rs
  grovedb/src/estimated_costs/worst_case_costs.rs
  grovedb/src/tests/estimated_costs_average_case_tests.rs
  grovedb/src/tests/estimated_costs_worst_case_tests.rs
Due: GroveDB Core

fix(cost): InsertTreeWithRootHash also honors not_counted_or_summed wrapper byte
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/mod.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core

test(cost): tighten non_counted wrapper-byte assertions from >= to >
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
Due: GroveDB Core

revert(batch): restore process_reference fast path under well-formed-user contract
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

refactor(batch): RefreshReferenceWithSumItem trust=false now refreshes sum only
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

docs(batch): document trust=true cross-type silent-coercion contract for refresh ops
  grovedb/src/batch/mod.rs
  grovedb/src/tests/reference_with_sum_item_tests.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
