Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

refactor: replace bool parameter with proof_version u16 in execute_proof
  grovedb/src/operations/proof/verify.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

refactor: add PROOF_VERSION_LATEST constant for execute_proof calls
  grovedb/src/operations/proof/verify.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

fix: V0 proof backwards compatibility for KVValueHash item check (#643)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/sum_tree_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

docs: mark findings 2 & 8 as false positives — feature_type forgery is harmless
  grovedb/src/tests/proof_exploit_tests.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

refactor: rename exploit tests to describe behavior not finding numbers
  grovedb/src/tests/proof_exploit_tests.rs
Due: GroveDB Core

docs: mark finding 3 sum forgery as false positive — same root cause as 2 & 8
  grovedb/src/tests/proof_exploit_tests.rs
Due: GroveDB Core

docs: add per-tree-type proof node reference to book and code
  docs/book/src/proof-system.md
  grovedb-element/src/element_type.rs
Due: Element

docs: explain aggregate data location for each tree type in proof docs
  docs/book/src/proof-system.md
Due: none

docs: distinguish non-empty trees without subquery from empty trees
  docs/book/src/proof-system.md
  grovedb-element/src/element_type.rs
Due: Element

docs: translate proof node types section into all 16 locales
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
Due: none

docs: add per-tree-type proof node reference (#644)
  docs/book/src/proof-system.md
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
  grovedb-element/src/element_type.rs
Due: Element

fix: restrict self-hosted macOS CI to internal PRs only
  .github/workflows/grovedb.yml
Due: none

fix: restrict self-hosted macOS CI to internal PRs only (#645)
  .github/workflows/grovedb.yml
Due: none

refactor: remove false positive tests, keep only finding 5
  grovedb/src/tests/proof_exploit_tests.rs
Due: GroveDB Core

fix: remove ProveOptions from V1 proofs to close result-truncation attack
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

fix: remove ProveOptions from V1 proofs to close result-truncation attack (#647)
  grovedb/src/debugger.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_depth_limit_tests.rs
Due: GroveDB Core

test: improve V1 trunk proof coverage with 6 additional tests
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix: add V1 trunk proof support and fix count==0 hash verification bypass
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

test: add error-branch coverage tests for V1 trunk proof verification
  grovedb/src/operations/proof/generate.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix: move empty-path check before loop in V1 trunk verifier
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

test: tighten execution-failure test to assert specific error message
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix: validate embedded value_hash for KVValueHash* proof nodes (C1)
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix: reject non-empty target merk bytes when count==0 in V1 trunk proof
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

test: increase patch coverage with 6 additional tests and fix tree element validation
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

fix: V1 trunk proofs + count==0 hash verification bypass (#646)
  grovedb-version/src/version/v3.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/trunk_proof_tests.rs
Due: GroveDB Core

test: reproduce merge_multiple default_subquery_branch bug (M6)
  grovedb-query/tests/merge_coverage.rs
Due: none

fix: merge_multiple/merge_with preserve default_subquery_branch for overlapping items
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
Due: none

fix: prevent default_subquery_branch leaking into existing conditionals
  grovedb-query/src/merge.rs
  grovedb-query/tests/merge_coverage.rs
Due: none

test: verify incoming explicit conditional overrides old default
  grovedb-query/tests/merge_coverage.rs
Due: none

feat: add key_exists_as_boundary_in_proof for merk and grovedb proofs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_advanced_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

refactor: move key_exists_as_boundary to GroveDBProof
  grovedb/src/operations/proof/mod.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/tests/proof_advanced_tests.rs
Due: GroveDB Core

feat: add key_exists_as_boundary_in_proof (#649)
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/proof_advanced_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

docs: add boundary key detection section in all 16 translations
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
Due: none

docs: add boundary key detection section to proof system chapter
  docs/book/src/proof-system.md
Due: none

docs: fix translation issues from CodeRabbit review
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
Due: none

docs: add boundary key detection to proof system chapter (#650)
  docs/book/src/proof-system.md
  docs/book/translations/ar/src/proof-system.md
  docs/book/translations/cs/src/proof-system.md
  docs/book/translations/de/src/proof-system.md
  docs/book/translations/es/src/proof-system.md
  docs/book/translations/fr/src/proof-system.md
  docs/book/translations/id/src/proof-system.md
  docs/book/translations/it/src/proof-system.md
  docs/book/translations/ja/src/proof-system.md
  docs/book/translations/ko/src/proof-system.md
  docs/book/translations/pl/src/proof-system.md
  docs/book/translations/pt/src/proof-system.md
  docs/book/translations/ru/src/proof-system.md
  docs/book/translations/th/src/proof-system.md
  docs/book/translations/tr/src/proof-system.md
  docs/book/translations/vi/src/proof-system.md
  docs/book/translations/zh/src/proof-system.md
Due: none

feat: add boundaries_in_proof / boundaries() to return all boundary keys
  grovedb/src/operations/proof/mod.rs
  grovedb/src/tests/proof_advanced_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/query/verify.rs
Due: GroveDB Core, Merk

test: increase coverage for boundaries_in_proof / boundaries()
  grovedb/src/tests/proof_advanced_tests.rs
  merk/src/proofs/query/merk_integration_tests.rs
Due: GroveDB Core, Merk

docs: fix Polish quote punctuation
  docs/book/translations/pl/src/proof-system.md
Due: none

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
