Repository dashpay/grovedb: changes, and which Codecov flags are due for each by the changed paths.
All: GroveDB Core, Merk, Storage, Commitment Tree, MMR, BulkAppendTree, Element

test(grovedb-query): cover Display impls, TreeFeatureType, proofs, and query helpers
  grovedb-query/tests/display_and_helpers_coverage.rs
  grovedb-query/tests/tree_feature_type_coverage.rs
Due: none

test(grovedb-query): cover Display impls, TreeFeatureType, proofs, and query helpers (#477)
  grovedb-query/tests/display_and_helpers_coverage.rs
  grovedb-query/tests/tree_feature_type_coverage.rs
Due: none

test(mmr): cover helper, node, and proof edge cases
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

test(mmr): cover InconsistentStore merge, batch break, and verify_and_get_root error paths
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

test(mmr): remove 4 redundant zero-impact tests
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

test(mmr): move storage_adapter tests to tests/ dir and cover production error paths
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-merkle-mountain-range/src/tests/mod.rs
  grovedb-merkle-mountain-range/src/tests/test_storage_adapter.rs
Due: MMR

test(mmr): cover helper, node, and proof edge cases (#478)
  grovedb-merkle-mountain-range/src/tests/test_coverage.rs
Due: MMR

feat(mmr): make storage a default feature
  grovedb-merkle-mountain-range/Cargo.toml
Due: none

feat: feature-gate storage deps so verify doesn't compile RocksDB
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/src/hash.rs
  grovedb-dense-fixed-sized-merkle-tree/src/lib.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb/Cargo.toml
Due: BulkAppendTree

feat(commitment-tree): consolidate server and storage into single server feature
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/lib.rs
  grovedb/Cargo.toml
  grovedb/src/lib.rs
Due: GroveDB Core, Commitment Tree, BulkAppendTree

feat: feature-gate storage deps so verify builds without RocksDB (#479)
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-bulk-append-tree/src/lib.rs
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-bulk-append-tree/src/tree/fetch.rs
  grovedb-bulk-append-tree/src/tree/mod.rs
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/src/lib.rs
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/src/hash.rs
  grovedb-dense-fixed-sized-merkle-tree/src/lib.rs
  grovedb-dense-fixed-sized-merkle-tree/src/proof/mod.rs
  grovedb-dense-fixed-sized-merkle-tree/src/tree.rs
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-merkle-mountain-range/src/storage_adapter.rs
  grovedb-merkle-mountain-range/src/tests/mod.rs
  grovedb-merkle-mountain-range/src/tests/test_storage_adapter.rs
  grovedb/Cargo.toml
  grovedb/src/lib.rs
Due: GroveDB Core, Commitment Tree, MMR, BulkAppendTree

test(merk): demonstrate RUST-044 key length truncation attack
  merk/src/tree/link.rs
Due: Merk

test(merk): demonstrate SEC-005 and SEC-006 proof verification attacks
  merk/src/proofs/tree.rs
Due: Merk

fix(merk): replace debug_assert with runtime error for key length >= 256
  merk/src/tree/kv.rs
  merk/src/tree/link.rs
Due: Merk

fix(merk): harden proof verification against DoS and panic attacks
  merk/src/merk/restore.rs
  merk/src/proofs/tree.rs
Due: Merk

fix(merk): add stack depth and tree height limits to proof execution (SEC-004)
  merk/src/proofs/tree.rs
Due: Merk

test(merk): add exact-limit and combined-limit attack tests for proof execution
  merk/src/proofs/tree.rs
Due: Merk

fix(merk): preserve original error context in aggregate_data map_err
  merk/src/merk/restore.rs
Due: Merk

fix(merk): tighten MAX_PROOF_TREE_HEIGHT from 128 to 92
  merk/src/proofs/tree.rs
Due: Merk

fix(merk): harden proof verification (SEC-005, SEC-006) (#481)
  merk/src/merk/restore.rs
  merk/src/proofs/tree.rs
Due: Merk

fix: collapse nested if statements for edition 2024 clippy
  grovedb-bulk-append-tree/src/proof/mod.rs
  grovedb-element/src/element/visualize.rs
  grovedb-element/src/reference_path/mod.rs
  grovedb/src/batch/estimated_costs/average_case_costs.rs
  grovedb/src/batch/estimated_costs/worst_case_costs.rs
  grovedb/src/batch/just_in_time_reference_update.rs
  grovedb/src/batch/mod.rs
  grovedb/src/operations/delete/delete_up_tree.rs
  grovedb/src/operations/proof/generate.rs
  grovedb/src/operations/proof/verify.rs
  grovedb/src/query/grove_branch_query_result.rs
  grovedb/src/query/grove_trunk_query_result.rs
  grovedb/src/query/mod.rs
  grovedb/src/query_result_type.rs
  grovedb/src/replication/state_sync_session.rs
  merk/src/merk/chunks.rs
  merk/src/proofs/branch/mod.rs
  merk/src/proofs/query/map.rs
  merk/src/proofs/query/mod.rs
  merk/src/proofs/tree.rs
Due: GroveDB Core, Merk, BulkAppendTree, Element

ci: replace deprecated actions-rs/toolchain with dtolnay/rust-toolchain
  .github/workflows/release-crates.yml
Due: none

perf: eliminate double storage lookup in insert_if_not_exists variants
  grovedb/src/operations/insert/mod.rs
Due: GroveDB Core

ci: replace deprecated actions-rs/toolchain with dtolnay/rust-toolchain (#483)
  .github/workflows/release-crates.yml
Due: none

chore: upgrade rand to 0.10 with workspace dependency
  Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-merkle-mountain-range/benches/helper_benchmark.rs
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  grovedb-merkle-mountain-range/src/tests/test_mmr.rs
  grovedb/Cargo.toml
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/test_compaction_sizes.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/Cargo.toml
  merk/benches/merk.rs
  merk/src/test_utils/mod.rs
  merk/src/tree/fuzz_tests.rs
Due: GroveDB Core, Merk, MMR

chore: upgrade rand to 0.10 with workspace dependency (#485)
  Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-merkle-mountain-range/benches/helper_benchmark.rs
  grovedb-merkle-mountain-range/benches/mmr_benchmark.rs
  grovedb-merkle-mountain-range/src/tests/test_mmr.rs
  grovedb/Cargo.toml
  grovedb/src/tests/chunk_branch_proof_tests.rs
  grovedb/src/tests/test_compaction_sizes.rs
  grovedb/src/tests/trunk_proof_tests.rs
  merk/Cargo.toml
  merk/benches/merk.rs
  merk/src/test_utils/mod.rs
  merk/src/tree/fuzz_tests.rs
Due: GroveDB Core, Merk, MMR

chore: move tokio and itertools to workspace dependencies
  Cargo.toml
  grovedb/Cargo.toml
  visualize/Cargo.toml
Due: none

chore: add criterion, ed, num_cpus, axum, tokio-util, tower-http to workspace deps
  Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/verification.rs
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb/Cargo.toml
  grovedb/benches/branch_chunk_queries.rs
  grovedb/benches/insertion_benchmark.rs
  grovedb/benches/proof_generation_benchmark.rs
  merk/Cargo.toml
  merk/benches/branch_queries.rs
  storage/Cargo.toml
Due: none

chore: centralize external deps via workspace.dependencies
  Cargo.toml
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

chore: relax and bump workspace dependency versions
  Cargo.toml
Due: none

chore: upgrade rand 0.10 and centralize workspace dependencies (#486)
  Cargo.toml
  costs/Cargo.toml
  grovedb-bulk-append-tree/Cargo.toml
  grovedb-commitment-tree/Cargo.toml
  grovedb-commitment-tree/benches/verification.rs
  grovedb-dense-fixed-sized-merkle-tree/Cargo.toml
  grovedb-element/Cargo.toml
  grovedb-epoch-based-storage-flags/Cargo.toml
  grovedb-merkle-mountain-range/Cargo.toml
  grovedb-query/Cargo.toml
  grovedb-version/Cargo.toml
  grovedb/Cargo.toml
  grovedb/benches/branch_chunk_queries.rs
  grovedb/benches/insertion_benchmark.rs
  grovedb/benches/proof_generation_benchmark.rs
  grovedbg-types/Cargo.toml
  merk/Cargo.toml
  merk/benches/branch_queries.rs
  path/Cargo.toml
  storage/Cargo.toml
  visualize/Cargo.toml
Due: none

test: add unit tests for aggregate sum query coverage
  grovedb-query/src/query_item/merge.rs
  grovedb/src/element/aggregate_sum_query.rs
  grovedb/src/query/aggregate_sum_path_query.rs
  merk/src/proofs/aggregate_sum_query/merge.rs
  merk/src/proofs/aggregate_sum_query/mod.rs
Due: GroveDB Core, Merk

test: focus coverage on new PR code, remove non-contributing tests
  grovedb-query/src/query_item/merge.rs
  grovedb/src/element/aggregate_sum_query.rs
Due: GroveDB Core

fix: address audit findings for AggregateSumQuery
  grovedb/src/element/aggregate_sum_query.rs
  grovedb/src/error.rs
  grovedb/src/query/aggregate_sum_path_query.rs
  merk/src/proofs/aggregate_sum_query/insert.rs
  merk/src/proofs/aggregate_sum_query/merge.rs
  merk/src/proofs/aggregate_sum_query/mod.rs
  merk/src/proofs/mod.rs
Due: GroveDB Core, Merk

feat: add skip_items, skip_references, hard scan limit, and reference following to AggregateSumQuery
  grovedb-version/src/version/grovedb_versions.rs
  grovedb-version/src/version/v1.rs
  grovedb-version/src/version/v2.rs
  grovedb/src/element/aggregate_sum_query.rs
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

refactor: improve AggregateSumQuery API naming, options, and result metadata
  grovedb/src/element/aggregate_sum_query.rs
  grovedb/src/element/aggregate_sum_query/mod.rs
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/element/mod.rs
  grovedb/src/lib.rs
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

test: add coverage for public API methods and Display impl
  grovedb/src/element/aggregate_sum_query/tests.rs
  grovedb/src/operations/get/query.rs
Due: GroveDB Core

Path conditions:
  GroveDB Core: any of: grovedb/src/**
  Merk: any of: merk/src/**
  Storage: any of: storage/src/**
  Commitment Tree: any of: grovedb-commitment-tree/src/**
  MMR: any of: grovedb-merkle-mountain-range/src/**
  BulkAppendTree: any of: grovedb-bulk-append-tree/src/**
  Element: any of: grovedb-element/src/**
